<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Gaara_AirHurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,710},{48,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,68}}</string>
                <key>sourceSize</key>
                <string>{48,68}</string>
            </dict>
            <key>Gaara_AirHurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,785},{45,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,67}}</string>
                <key>sourceSize</key>
                <string>{45,67}</string>
            </dict>
            <key>Gaara_Float_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,675},{68,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,48}}</string>
                <key>sourceSize</key>
                <string>{68,48}</string>
            </dict>
            <key>Gaara_Float_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,760},{45,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,67}}</string>
                <key>sourceSize</key>
                <string>{45,67}</string>
            </dict>
            <key>Gaara_Float_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,713},{67,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,45}}</string>
                <key>sourceSize</key>
                <string>{67,45}</string>
            </dict>
            <key>Gaara_Hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,623},{50,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,69}}</string>
                <key>sourceSize</key>
                <string>{50,69}</string>
            </dict>
            <key>Gaara_Hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,613},{52,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,73}}</string>
                <key>sourceSize</key>
                <string>{52,73}</string>
            </dict>
            <key>Gaara_Idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,535},{36,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,76}}</string>
                <key>sourceSize</key>
                <string>{36,76}</string>
            </dict>
            <key>Gaara_Idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{36,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,76}}</string>
                <key>sourceSize</key>
                <string>{36,76}</string>
            </dict>
            <key>Gaara_Idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{36,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,76}}</string>
                <key>sourceSize</key>
                <string>{36,76}</string>
            </dict>
            <key>Gaara_Idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,555},{36,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,76}}</string>
                <key>sourceSize</key>
                <string>{36,76}</string>
            </dict>
            <key>Gaara_Idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,521},{36,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,76}}</string>
                <key>sourceSize</key>
                <string>{36,76}</string>
            </dict>
            <key>Gaara_Idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,302},{36,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,76}}</string>
                <key>sourceSize</key>
                <string>{36,76}</string>
            </dict>
            <key>Gaara_KnockDown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,675},{68,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,48}}</string>
                <key>sourceSize</key>
                <string>{68,48}</string>
            </dict>
            <key>Gaara_KnockDown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,543},{80,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,40}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>Gaara_KnockDown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,787},{39,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,52}}</string>
                <key>sourceSize</key>
                <string>{39,52}</string>
            </dict>
            <key>Gaara_NAttack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,307},{35,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,0},{35,96}}</string>
                <key>sourceSize</key>
                <string>{103,96}</string>
            </dict>
            <key>Gaara_NAttack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,232},{73,96}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{73,96}}</string>
                <key>sourceSize</key>
                <string>{103,96}</string>
            </dict>
            <key>Gaara_NAttack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,468},{65,82}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,2},{65,82}}</string>
                <key>sourceSize</key>
                <string>{103,84}</string>
            </dict>
            <key>Gaara_NAttack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,187},{43,97}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,0},{43,97}}</string>
                <key>sourceSize</key>
                <string>{163,97}</string>
            </dict>
            <key>Gaara_NAttack_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,476},{77,86}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,0},{77,86}}</string>
                <key>sourceSize</key>
                <string>{163,86}</string>
            </dict>
            <key>Gaara_NAttack_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,455},{87,86}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,0},{87,86}}</string>
                <key>sourceSize</key>
                <string>{163,86}</string>
            </dict>
            <key>Gaara_NAttack_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,78},{107,82}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,0},{107,82}}</string>
                <key>sourceSize</key>
                <string>{163,82}</string>
            </dict>
            <key>Gaara_NAttack_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,252},{113,83}}</string>
                <key>offset</key>
                <string>{25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,0},{113,83}}</string>
                <key>sourceSize</key>
                <string>{163,83}</string>
            </dict>
            <key>Gaara_NAttack_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,344},{109,87}}</string>
                <key>offset</key>
                <string>{27,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,0},{109,87}}</string>
                <key>sourceSize</key>
                <string>{163,87}</string>
            </dict>
            <key>Gaara_NAttack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,380},{39,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,74}}</string>
                <key>sourceSize</key>
                <string>{39,74}</string>
            </dict>
            <key>Gaara_NAttack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,404},{106,70}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,0},{106,70}}</string>
                <key>sourceSize</key>
                <string>{230,70}</string>
            </dict>
            <key>Gaara_NAttack_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,154},{134,70}}</string>
                <key>offset</key>
                <string>{36,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,0},{134,70}}</string>
                <key>sourceSize</key>
                <string>{230,70}</string>
            </dict>
            <key>Gaara_NAttack_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{148,70}}</string>
                <key>offset</key>
                <string>{41,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,0},{148,70}}</string>
                <key>sourceSize</key>
                <string>{230,70}</string>
            </dict>
            <key>Gaara_NAttack_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{140,70}}</string>
                <key>offset</key>
                <string>{39,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,0},{140,70}}</string>
                <key>sourceSize</key>
                <string>{230,70}</string>
            </dict>
            <key>Gaara_Skill01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,735},{49,67}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,0},{49,67}}</string>
                <key>sourceSize</key>
                <string>{317,67}</string>
            </dict>
            <key>Gaara_Skill01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,725},{58,67}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,0},{58,67}}</string>
                <key>sourceSize</key>
                <string>{318,67}</string>
            </dict>
            <key>Gaara_Skill01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{126,71}}</string>
                <key>offset</key>
                <string>{34,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,0},{126,71}}</string>
                <key>sourceSize</key>
                <string>{318,71}</string>
            </dict>
            <key>Gaara_Skill01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,78},{144,74}}</string>
                <key>offset</key>
                <string>{47,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,0},{144,74}}</string>
                <key>sourceSize</key>
                <string>{318,74}</string>
            </dict>
            <key>Gaara_Skill01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{188,74}}</string>
                <key>offset</key>
                <string>{64,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,0},{188,74}}</string>
                <key>sourceSize</key>
                <string>{318,74}</string>
            </dict>
            <key>Gaara_Skill01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,74}}</string>
                <key>offset</key>
                <string>{65,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,0},{188,74}}</string>
                <key>sourceSize</key>
                <string>{318,74}</string>
            </dict>
            <key>Gaara_Skill02_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,786},{58,66}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{58,66}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>Gaara_Skill02_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,647},{64,68}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{64,68}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>Gaara_Skill02_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,648},{60,68}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{60,68}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>Gaara_Skill02_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,667},{66,68}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{66,68}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>Gaara_Skill02_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,745},{64,68}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{64,68}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>Gaara_Skill02_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,734},{64,68}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{64,68}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>Gaara_Skill03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,717},{46,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,68}}</string>
                <key>sourceSize</key>
                <string>{46,68}</string>
            </dict>
            <key>Gaara_Skill03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,800},{41,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,62}}</string>
                <key>sourceSize</key>
                <string>{41,62}</string>
            </dict>
            <key>Gaara_Skill03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,664},{43,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,51}}</string>
                <key>sourceSize</key>
                <string>{43,51}</string>
            </dict>
            <key>Gaara_Skill03_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,611},{43,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,51}}</string>
                <key>sourceSize</key>
                <string>{43,51}</string>
            </dict>
            <key>Gaara_Skill05_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,456},{43,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,63}}</string>
                <key>sourceSize</key>
                <string>{43,63}</string>
            </dict>
            <key>Gaara_Skill05_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,787},{39,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,52}}</string>
                <key>sourceSize</key>
                <string>{39,52}</string>
            </dict>
            <key>Gaara_Skill06_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{38,74}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{38,74}}</string>
                <key>sourceSize</key>
                <string>{62,74}</string>
            </dict>
            <key>Gaara_Skill06_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,404},{34,74}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{34,74}}</string>
                <key>sourceSize</key>
                <string>{62,74}</string>
            </dict>
            <key>Gaara_Skill06_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,226},{34,74}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{34,74}}</string>
                <key>sourceSize</key>
                <string>{62,74}</string>
            </dict>
            <key>Gaara_Skill06_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,585},{36,74}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{36,74}}</string>
                <key>sourceSize</key>
                <string>{62,74}</string>
            </dict>
            <key>Gaara_Skill06_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,535},{40,74}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{40,74}}</string>
                <key>sourceSize</key>
                <string>{62,74}</string>
            </dict>
            <key>Gaara_Skill06_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,627},{48,74}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{48,74}}</string>
                <key>sourceSize</key>
                <string>{62,74}</string>
            </dict>
            <key>Gaara_Skill06_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{48,74}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{48,74}}</string>
                <key>sourceSize</key>
                <string>{62,74}</string>
            </dict>
            <key>Gaara_Skill06_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,573},{52,74}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{52,74}}</string>
                <key>sourceSize</key>
                <string>{62,74}</string>
            </dict>
            <key>Gaara_Skill06_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{52,74}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{52,74}}</string>
                <key>sourceSize</key>
                <string>{62,74}</string>
            </dict>
            <key>Gaara_Skill06_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,559},{52,74}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{52,74}}</string>
                <key>sourceSize</key>
                <string>{62,74}</string>
            </dict>
            <key>Gaara_Skill10_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,226},{57,119}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{57,119}}</string>
                <key>sourceSize</key>
                <string>{57,137}</string>
            </dict>
            <key>Gaara_Skill10_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,193},{57,121}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{57,121}}</string>
                <key>sourceSize</key>
                <string>{57,137}</string>
            </dict>
            <key>Gaara_Skill10_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,134},{57,121}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{57,121}}</string>
                <key>sourceSize</key>
                <string>{57,137}</string>
            </dict>
            <key>Gaara_Skill10_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,285},{57,117}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{57,117}}</string>
                <key>sourceSize</key>
                <string>{57,137}</string>
            </dict>
            <key>Gaara_Skill10_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{57,119}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{57,119}}</string>
                <key>sourceSize</key>
                <string>{57,137}</string>
            </dict>
            <key>Gaara_Skill10_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,75},{57,121}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{57,121}}</string>
                <key>sourceSize</key>
                <string>{57,137}</string>
            </dict>
            <key>Gaara_Skill12_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,281},{59,118}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{59,118}}</string>
                <key>sourceSize</key>
                <string>{67,132}</string>
            </dict>
            <key>Gaara_Skill12_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,344},{57,116}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{57,116}}</string>
                <key>sourceSize</key>
                <string>{67,132}</string>
            </dict>
            <key>Gaara_Skill12_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{61,116}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{61,116}}</string>
                <key>sourceSize</key>
                <string>{67,132}</string>
            </dict>
            <key>Gaara_Skill12_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,337},{65,112}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{65,112}}</string>
                <key>sourceSize</key>
                <string>{67,132}</string>
            </dict>
            <key>Gaara_Skill12_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,405},{63,112}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{63,112}}</string>
                <key>sourceSize</key>
                <string>{67,132}</string>
            </dict>
            <key>Gaara_Skill12_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,403},{63,112}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{63,112}}</string>
                <key>sourceSize</key>
                <string>{67,132}</string>
            </dict>
            <key>Gaara_Walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,593},{70,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,53}}</string>
                <key>sourceSize</key>
                <string>{70,53}</string>
            </dict>
            <key>Gaara_Walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,677},{70,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,55}}</string>
                <key>sourceSize</key>
                <string>{70,55}</string>
            </dict>
            <key>Gaara_Walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,536},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>Gaara_Walk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{70,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,53}}</string>
                <key>sourceSize</key>
                <string>{70,53}</string>
            </dict>
            <key>Gaara_Walk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,590},{70,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,55}}</string>
                <key>sourceSize</key>
                <string>{70,55}</string>
            </dict>
            <key>Gaara_Walk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,480},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Gaara.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1145dea2e41e3a8164567f72995801a0$</string>
            <key>textureFileName</key>
            <string>Gaara.pvr.ccz</string>
        </dict>
    </dict>
</plist>
