<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Kisame_AirHurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,635},{63,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,92}}</string>
                <key>sourceSize</key>
                <string>{63,92}</string>
            </dict>
            <key>Kisame_AirHurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,480},{47,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,93}}</string>
                <key>sourceSize</key>
                <string>{47,93}</string>
            </dict>
            <key>Kisame_Float_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,691},{92,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,63}}</string>
                <key>sourceSize</key>
                <string>{92,63}</string>
            </dict>
            <key>Kisame_Float_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,667},{91,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,45}}</string>
                <key>sourceSize</key>
                <string>{91,45}</string>
            </dict>
            <key>Kisame_Float_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,656},{92,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,63}}</string>
                <key>sourceSize</key>
                <string>{92,63}</string>
            </dict>
            <key>Kisame_Hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,585},{48,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,93}}</string>
                <key>sourceSize</key>
                <string>{48,93}</string>
            </dict>
            <key>Kisame_Hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,426},{61,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,73}}</string>
                <key>sourceSize</key>
                <string>{61,73}</string>
            </dict>
            <key>Kisame_Idle_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,626},{39,93}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{39,93}}</string>
                <key>sourceSize</key>
                <string>{43,95}</string>
            </dict>
            <key>Kisame_Idle_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{39,93}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{39,93}}</string>
                <key>sourceSize</key>
                <string>{43,95}</string>
            </dict>
            <key>Kisame_Idle_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,615},{39,93}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{39,93}}</string>
                <key>sourceSize</key>
                <string>{43,95}</string>
            </dict>
            <key>Kisame_Idle_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,609},{39,93}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{39,93}}</string>
                <key>sourceSize</key>
                <string>{43,95}</string>
            </dict>
            <key>Kisame_KnockDown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,92},{103,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,60}}</string>
                <key>sourceSize</key>
                <string>{103,60}</string>
            </dict>
            <key>Kisame_KnockDown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,468},{87,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,49}}</string>
                <key>sourceSize</key>
                <string>{87,49}</string>
            </dict>
            <key>Kisame_KnockDown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,328},{96,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,25}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>Kisame_KnockDown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,288},{78,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,51}}</string>
                <key>sourceSize</key>
                <string>{78,51}</string>
            </dict>
            <key>Kisame_NAttack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,548},{46,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{46,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>Kisame_NAttack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,511},{72,94}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{72,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>Kisame_NAttack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,490},{56,94}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{56,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>Kisame_NAttack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,567},{46,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,93}}</string>
                <key>sourceSize</key>
                <string>{46,93}</string>
            </dict>
            <key>Kisame_NAttack_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,439},{49,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,97}}</string>
                <key>sourceSize</key>
                <string>{49,97}</string>
            </dict>
            <key>Kisame_NAttack_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,131},{106,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,102}}</string>
                <key>sourceSize</key>
                <string>{106,102}</string>
            </dict>
            <key>Kisame_NAttack_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,535},{97,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,72}}</string>
                <key>sourceSize</key>
                <string>{97,72}</string>
            </dict>
            <key>Kisame_NAttack_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,400},{88,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,68}}</string>
                <key>sourceSize</key>
                <string>{88,68}</string>
            </dict>
            <key>Kisame_NAttack_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,260},{140,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,66}}</string>
                <key>sourceSize</key>
                <string>{140,66}</string>
            </dict>
            <key>Kisame_NAttack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,331},{67,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,69}}</string>
                <key>sourceSize</key>
                <string>{67,69}</string>
            </dict>
            <key>Kisame_Skill01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,343},{44,99}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{44,99}}</string>
                <key>sourceSize</key>
                <string>{46,99}</string>
            </dict>
            <key>Kisame_Skill02_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,756},{62,77}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,21},{62,77}}</string>
                <key>sourceSize</key>
                <string>{90,99}</string>
            </dict>
            <key>Kisame_Skill02_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,501},{80,53}}</string>
                <key>offset</key>
                <string>{5,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,46},{80,53}}</string>
                <key>sourceSize</key>
                <string>{90,99}</string>
            </dict>
            <key>Kisame_Skill03_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,562},{38,94}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,8},{38,94}}</string>
                <key>sourceSize</key>
                <string>{178,102}</string>
            </dict>
            <key>Kisame_Skill03_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,511},{74,88}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,14},{74,88}}</string>
                <key>sourceSize</key>
                <string>{178,102}</string>
            </dict>
            <key>Kisame_Skill03_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,235},{106,88}}</string>
                <key>offset</key>
                <string>{36,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,14},{106,88}}</string>
                <key>sourceSize</key>
                <string>{178,102}</string>
            </dict>
            <key>Kisame_Skill03_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,154},{106,88}}</string>
                <key>offset</key>
                <string>{36,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,14},{106,88}}</string>
                <key>sourceSize</key>
                <string>{178,102}</string>
            </dict>
            <key>Kisame_Skill03_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,2},{104,88}}</string>
                <key>offset</key>
                <string>{36,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,14},{104,88}}</string>
                <key>sourceSize</key>
                <string>{178,102}</string>
            </dict>
            <key>Kisame_Skill04_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,529},{62,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,88}}</string>
                <key>sourceSize</key>
                <string>{62,88}</string>
            </dict>
            <key>Kisame_Skill04_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,556},{68,78}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,78}}</string>
                <key>sourceSize</key>
                <string>{68,88}</string>
            </dict>
            <key>Kisame_Skill04_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,571},{64,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,86}}</string>
                <key>sourceSize</key>
                <string>{64,86}</string>
            </dict>
            <key>Kisame_Skill04_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,439},{68,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,78}}</string>
                <key>sourceSize</key>
                <string>{68,78}</string>
            </dict>
            <key>Kisame_Skill05_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,244},{42,106}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,14},{42,106}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>Kisame_Skill05_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,368},{50,98}}</string>
                <key>offset</key>
                <string>{-9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,22},{50,98}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>Kisame_Skill05_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,596},{84,60}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,54},{84,60}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>Kisame_Skill05_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,325},{101,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,84}}</string>
                <key>sourceSize</key>
                <string>{101,84}</string>
            </dict>
            <key>Kisame_Skill05_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,288},{101,85}}</string>
                <key>offset</key>
                <string>{-7,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,54},{101,85}}</string>
                <key>sourceSize</key>
                <string>{337,139}</string>
            </dict>
            <key>Kisame_Skill05_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{303,125}}</string>
                <key>offset</key>
                <string>{-15,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{303,125}}</string>
                <key>sourceSize</key>
                <string>{337,139}</string>
            </dict>
            <key>Kisame_Skill05_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{303,127}}</string>
                <key>offset</key>
                <string>{-15,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{303,127}}</string>
                <key>sourceSize</key>
                <string>{337,139}</string>
            </dict>
            <key>Kisame_Skill05_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{303,129}}</string>
                <key>offset</key>
                <string>{-15,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{303,129}}</string>
                <key>sourceSize</key>
                <string>{337,139}</string>
            </dict>
            <key>Kisame_Skill05_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,2},{303,127}}</string>
                <key>offset</key>
                <string>{-15,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{303,127}}</string>
                <key>sourceSize</key>
                <string>{337,139}</string>
            </dict>
            <key>Kisame_Skill05_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,131},{303,125}}</string>
                <key>offset</key>
                <string>{-15,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{303,125}}</string>
                <key>sourceSize</key>
                <string>{337,139}</string>
            </dict>
            <key>Kisame_Skill05_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,714},{82,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,66}}</string>
                <key>sourceSize</key>
                <string>{82,66}</string>
            </dict>
            <key>Kisame_Skill05_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,700},{82,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,66}}</string>
                <key>sourceSize</key>
                <string>{82,66}</string>
            </dict>
            <key>Kisame_Skill10_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,477},{98,88}}</string>
                <key>offset</key>
                <string>{33,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,6},{98,88}}</string>
                <key>sourceSize</key>
                <string>{168,94}</string>
            </dict>
            <key>Kisame_Skill10_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,421},{98,88}}</string>
                <key>offset</key>
                <string>{33,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,6},{98,88}}</string>
                <key>sourceSize</key>
                <string>{168,94}</string>
            </dict>
            <key>Kisame_Skill10_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,331},{100,88}}</string>
                <key>offset</key>
                <string>{32,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,6},{100,88}}</string>
                <key>sourceSize</key>
                <string>{168,94}</string>
            </dict>
            <key>Kisame_Skill10_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,389},{98,88}}</string>
                <key>offset</key>
                <string>{33,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,6},{98,88}}</string>
                <key>sourceSize</key>
                <string>{168,94}</string>
            </dict>
            <key>Kisame_Skill11_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,328},{116,66}}</string>
                <key>offset</key>
                <string>{-35,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{116,66}}</string>
                <key>sourceSize</key>
                <string>{190,80}</string>
            </dict>
            <key>Kisame_Skill11_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,343},{116,60}}</string>
                <key>offset</key>
                <string>{-30,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{116,60}}</string>
                <key>sourceSize</key>
                <string>{190,80}</string>
            </dict>
            <key>Kisame_Skill11_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,445},{112,64}}</string>
                <key>offset</key>
                <string>{-32,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{112,64}}</string>
                <key>sourceSize</key>
                <string>{190,80}</string>
            </dict>
            <key>Kisame_Skill11_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,375},{112,68}}</string>
                <key>offset</key>
                <string>{-27,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{112,68}}</string>
                <key>sourceSize</key>
                <string>{190,80}</string>
            </dict>
            <key>Kisame_Skill11_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,473},{114,60}}</string>
                <key>offset</key>
                <string>{-28,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{114,60}}</string>
                <key>sourceSize</key>
                <string>{190,80}</string>
            </dict>
            <key>Kisame_Skill11_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,405},{114,66}}</string>
                <key>offset</key>
                <string>{-32,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{114,66}}</string>
                <key>sourceSize</key>
                <string>{190,80}</string>
            </dict>
            <key>Kisame_Skill12_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,587},{81,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,86}}</string>
                <key>sourceSize</key>
                <string>{81,86}</string>
            </dict>
            <key>Kisame_Skill12_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,258},{117,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,83}}</string>
                <key>sourceSize</key>
                <string>{117,83}</string>
            </dict>
            <key>Kisame_Skill12_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,131},{194,155}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{194,155}}</string>
                <key>sourceSize</key>
                <string>{194,159}</string>
            </dict>
            <key>Kisame_Skill12_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,288},{160,149}}</string>
                <key>offset</key>
                <string>{12,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,10},{160,149}}</string>
                <key>sourceSize</key>
                <string>{194,159}</string>
            </dict>
            <key>Kisame_Skill12_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,258},{164,71}}</string>
                <key>offset</key>
                <string>{15,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,88},{164,71}}</string>
                <key>sourceSize</key>
                <string>{194,159}</string>
            </dict>
            <key>Kisame_Skill12_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,396},{115,79}}</string>
                <key>offset</key>
                <string>{30,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,45},{115,79}}</string>
                <key>sourceSize</key>
                <string>{209,125}</string>
            </dict>
            <key>Kisame_Skill12_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{151,81}}</string>
                <key>offset</key>
                <string>{29,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,42},{151,81}}</string>
                <key>sourceSize</key>
                <string>{209,125}</string>
            </dict>
            <key>Kisame_Skill12_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,479},{95,81}}</string>
                <key>offset</key>
                <string>{-6,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,42},{95,81}}</string>
                <key>sourceSize</key>
                <string>{209,125}</string>
            </dict>
            <key>Kisame_Skill12_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,411},{67,101}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,23},{67,101}}</string>
                <key>sourceSize</key>
                <string>{209,125}</string>
            </dict>
            <key>Kisame_Walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,658},{81,66}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{81,66}}</string>
                <key>sourceSize</key>
                <string>{91,80}</string>
            </dict>
            <key>Kisame_Walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,509},{85,60}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{85,60}}</string>
                <key>sourceSize</key>
                <string>{91,80}</string>
            </dict>
            <key>Kisame_Walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,721},{81,64}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{81,64}}</string>
                <key>sourceSize</key>
                <string>{91,80}</string>
            </dict>
            <key>Kisame_Walk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,490},{81,68}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{81,68}}</string>
                <key>sourceSize</key>
                <string>{91,80}</string>
            </dict>
            <key>Kisame_Walk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,602},{83,60}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{83,60}}</string>
                <key>sourceSize</key>
                <string>{91,80}</string>
            </dict>
            <key>Kisame_Walk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,573},{83,66}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,14},{83,66}}</string>
                <key>sourceSize</key>
                <string>{91,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Kisame.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7789cc92f624a1248320502bbc6693e9$</string>
            <key>textureFileName</key>
            <string>Kisame.pvr.ccz</string>
        </dict>
    </dict>
</plist>
