<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Asuma_AirHurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,311},{55,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,65}}</string>
                <key>sourceSize</key>
                <string>{55,65}</string>
            </dict>
            <key>Asuma_AirHurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,331},{34,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,84}}</string>
                <key>sourceSize</key>
                <string>{34,84}</string>
            </dict>
            <key>Asuma_Float_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,338},{65,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,55}}</string>
                <key>sourceSize</key>
                <string>{65,55}</string>
            </dict>
            <key>Asuma_Float_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,562},{71,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,54}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>Asuma_Float_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,489},{54,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,71}}</string>
                <key>sourceSize</key>
                <string>{54,71}</string>
            </dict>
            <key>Asuma_Hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,269},{54,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,84}}</string>
                <key>sourceSize</key>
                <string>{54,84}</string>
            </dict>
            <key>Asuma_Hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,359},{58,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,78}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>Asuma_Idle_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,440},{48,81}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,11},{48,81}}</string>
                <key>sourceSize</key>
                <string>{58,93}</string>
            </dict>
            <key>Asuma_Idle_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,388},{50,81}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,11},{50,81}}</string>
                <key>sourceSize</key>
                <string>{58,93}</string>
            </dict>
            <key>Asuma_Idle_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,501},{50,79}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,13},{50,79}}</string>
                <key>sourceSize</key>
                <string>{58,93}</string>
            </dict>
            <key>Asuma_Idle_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,409},{50,81}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,11},{50,81}}</string>
                <key>sourceSize</key>
                <string>{58,93}</string>
            </dict>
            <key>Asuma_KnockDown_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,325},{84,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,34}}</string>
                <key>sourceSize</key>
                <string>{84,34}</string>
            </dict>
            <key>Asuma_KnockDown_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,120},{88,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,23}}</string>
                <key>sourceSize</key>
                <string>{88,23}</string>
            </dict>
            <key>Asuma_KnockDown_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,490},{75,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,62}}</string>
                <key>sourceSize</key>
                <string>{75,62}</string>
            </dict>
            <key>Asuma_KnockDown_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,455},{59,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,68}}</string>
                <key>sourceSize</key>
                <string>{59,68}</string>
            </dict>
            <key>Asuma_KnockDown_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,439},{50,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,76}}</string>
                <key>sourceSize</key>
                <string>{50,76}</string>
            </dict>
            <key>Asuma_NAttack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,234},{55,75}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,23},{55,75}}</string>
                <key>sourceSize</key>
                <string>{97,99}</string>
            </dict>
            <key>Asuma_NAttack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,461},{79,73}}</string>
                <key>offset</key>
                <string>{6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,25},{79,73}}</string>
                <key>sourceSize</key>
                <string>{97,99}</string>
            </dict>
            <key>Asuma_NAttack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,378},{79,73}}</string>
                <key>offset</key>
                <string>{6,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,25},{79,73}}</string>
                <key>sourceSize</key>
                <string>{97,99}</string>
            </dict>
            <key>Asuma_NAttack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,554},{65,71}}</string>
                <key>offset</key>
                <string>{6,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,28},{65,71}}</string>
                <key>sourceSize</key>
                <string>{97,99}</string>
            </dict>
            <key>Asuma_NAttack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,501},{73,71}}</string>
                <key>offset</key>
                <string>{11,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,28},{73,71}}</string>
                <key>sourceSize</key>
                <string>{97,99}</string>
            </dict>
            <key>Asuma_NAttack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,635},{59,67}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,32},{59,67}}</string>
                <key>sourceSize</key>
                <string>{97,99}</string>
            </dict>
            <key>Asuma_NAttack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,209},{37,95}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,4},{37,95}}</string>
                <key>sourceSize</key>
                <string>{97,99}</string>
            </dict>
            <key>Asuma_NAttack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,376},{39,93}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,6},{39,93}}</string>
                <key>sourceSize</key>
                <string>{97,99}</string>
            </dict>
            <key>Asuma_NAttack_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,288},{49,69}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,29},{49,69}}</string>
                <key>sourceSize</key>
                <string>{97,99}</string>
            </dict>
            <key>Asuma_Skill01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,338},{110,74}}</string>
                <key>offset</key>
                <string>{32,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,0},{110,74}}</string>
                <key>sourceSize</key>
                <string>{190,74}</string>
            </dict>
            <key>Asuma_Skill01_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,209},{114,92}}</string>
                <key>offset</key>
                <string>{33,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,0},{114,92}}</string>
                <key>sourceSize</key>
                <string>{190,92}</string>
            </dict>
            <key>Asuma_Skill01_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,2},{116,94}}</string>
                <key>offset</key>
                <string>{35,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,0},{116,94}}</string>
                <key>sourceSize</key>
                <string>{190,94}</string>
            </dict>
            <key>Asuma_Skill01_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,329},{118,95}}</string>
                <key>offset</key>
                <string>{36,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,6},{118,95}}</string>
                <key>sourceSize</key>
                <string>{190,101}</string>
            </dict>
            <key>Asuma_Skill01_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,210},{108,80}}</string>
                <key>offset</key>
                <string>{30,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,14},{108,80}}</string>
                <key>sourceSize</key>
                <string>{190,94}</string>
            </dict>
            <key>Asuma_Skill01_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,303},{106,71}}</string>
                <key>offset</key>
                <string>{30,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,0},{106,71}}</string>
                <key>sourceSize</key>
                <string>{190,71}</string>
            </dict>
            <key>Asuma_Skill01_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,210},{49,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,76}}</string>
                <key>sourceSize</key>
                <string>{49,76}</string>
            </dict>
            <key>Asuma_Skill02_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,410},{84,81}}</string>
                <key>offset</key>
                <string>{-15,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,12},{84,81}}</string>
                <key>sourceSize</key>
                <string>{200,93}</string>
            </dict>
            <key>Asuma_Skill02_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,195},{126,105}}</string>
                <key>offset</key>
                <string>{26,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,6},{126,105}}</string>
                <key>sourceSize</key>
                <string>{200,111}</string>
            </dict>
            <key>Asuma_Skill02_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,302},{106,110}}</string>
                <key>offset</key>
                <string>{29,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,12},{106,110}}</string>
                <key>sourceSize</key>
                <string>{200,122}</string>
            </dict>
            <key>Asuma_Skill02_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,234},{100,95}}</string>
                <key>offset</key>
                <string>{27,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,20},{100,95}}</string>
                <key>sourceSize</key>
                <string>{200,115}</string>
            </dict>
            <key>Asuma_Skill02_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,433},{82,66}}</string>
                <key>offset</key>
                <string>{-12,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,18},{82,66}}</string>
                <key>sourceSize</key>
                <string>{200,84}</string>
            </dict>
            <key>Asuma_Skill02_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,72}}</string>
                <key>offset</key>
                <string>{21,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,12},{158,72}}</string>
                <key>sourceSize</key>
                <string>{200,84}</string>
            </dict>
            <key>Asuma_Skill02_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{154,71}}</string>
                <key>offset</key>
                <string>{23,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,16},{154,71}}</string>
                <key>sourceSize</key>
                <string>{200,87}</string>
            </dict>
            <key>Asuma_Skill02_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,193},{142,74}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,2},{142,74}}</string>
                <key>sourceSize</key>
                <string>{200,76}</string>
            </dict>
            <key>Asuma_Skill03_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,459},{40,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,0},{40,76}}</string>
                <key>sourceSize</key>
                <string>{126,76}</string>
            </dict>
            <key>Asuma_Skill03_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,536},{64,73}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{64,73}}</string>
                <key>sourceSize</key>
                <string>{126,73}</string>
            </dict>
            <key>Asuma_Skill03_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,417},{74,90}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{74,90}}</string>
                <key>sourceSize</key>
                <string>{126,90}</string>
            </dict>
            <key>Asuma_Skill03_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,292},{94,99}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,99}}</string>
                <key>sourceSize</key>
                <string>{126,99}</string>
            </dict>
            <key>Asuma_Skill03_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,120},{126,108}}</string>
                <key>offset</key>
                <string>{21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,0},{126,108}}</string>
                <key>sourceSize</key>
                <string>{230,108}</string>
            </dict>
            <key>Asuma_Skill03_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{154,115}}</string>
                <key>offset</key>
                <string>{38,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,0},{154,115}}</string>
                <key>sourceSize</key>
                <string>{230,115}</string>
            </dict>
            <key>Asuma_Skill03_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{154,117}}</string>
                <key>offset</key>
                <string>{38,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,6},{154,117}}</string>
                <key>sourceSize</key>
                <string>{230,123}</string>
            </dict>
            <key>Asuma_Skill03_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,2},{130,116}}</string>
                <key>offset</key>
                <string>{49,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,0},{130,116}}</string>
                <key>sourceSize</key>
                <string>{230,116}</string>
            </dict>
            <key>Asuma_Skill03_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,306},{42,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,76}}</string>
                <key>sourceSize</key>
                <string>{42,76}</string>
            </dict>
            <key>Asuma_Skill04_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,602},{53,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,69}}</string>
                <key>sourceSize</key>
                <string>{53,69}</string>
            </dict>
            <key>Asuma_Skill04_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,367},{40,83}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{40,83}}</string>
                <key>sourceSize</key>
                <string>{96,83}</string>
            </dict>
            <key>Asuma_Skill04_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,361},{70,83}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,83}}</string>
                <key>sourceSize</key>
                <string>{96,83}</string>
            </dict>
            <key>Asuma_Skill04_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,2},{147,86}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{147,86}}</string>
                <key>sourceSize</key>
                <string>{153,88}</string>
            </dict>
            <key>Asuma_Skill04_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{149,70}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{149,70}}</string>
                <key>sourceSize</key>
                <string>{153,82}</string>
            </dict>
            <key>Asuma_Skill04_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,121},{145,111}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{145,111}}</string>
                <key>sourceSize</key>
                <string>{153,121}</string>
            </dict>
            <key>Asuma_Skill04_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,90},{127,103}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{127,103}}</string>
                <key>sourceSize</key>
                <string>{153,135}</string>
            </dict>
            <key>Asuma_Skill04_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,98},{115,122}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{115,122}}</string>
                <key>sourceSize</key>
                <string>{153,130}</string>
            </dict>
            <key>Asuma_Skill04_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,222},{105,124}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,2},{105,124}}</string>
                <key>sourceSize</key>
                <string>{153,138}</string>
            </dict>
            <key>Asuma_Skill04_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,405},{54,82}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,8},{54,82}}</string>
                <key>sourceSize</key>
                <string>{170,90}</string>
            </dict>
            <key>Asuma_Skill04_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,75},{146,133}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{146,133}}</string>
                <key>sourceSize</key>
                <string>{170,133}</string>
            </dict>
            <key>Asuma_Skill04_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,74},{146,133}}</string>
                <key>offset</key>
                <string>{12,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,14},{146,133}}</string>
                <key>sourceSize</key>
                <string>{170,147}</string>
            </dict>
            <key>Asuma_Skill04_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,230},{120,106}}</string>
                <key>offset</key>
                <string>{25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,0},{120,106}}</string>
                <key>sourceSize</key>
                <string>{170,106}</string>
            </dict>
            <key>Asuma_Skill05_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,553},{40,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,78}}</string>
                <key>sourceSize</key>
                <string>{40,78}</string>
            </dict>
            <key>Asuma_Walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,574},{70,65}}</string>
                <key>offset</key>
                <string>{-14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{70,65}}</string>
                <key>sourceSize</key>
                <string>{104,69}</string>
            </dict>
            <key>Asuma_Walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,491},{72,65}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{72,65}}</string>
                <key>sourceSize</key>
                <string>{104,69}</string>
            </dict>
            <key>Asuma_Walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,269},{56,67}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{56,67}}</string>
                <key>sourceSize</key>
                <string>{104,69}</string>
            </dict>
            <key>Asuma_Walk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{66,65}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{66,65}}</string>
                <key>sourceSize</key>
                <string>{104,69}</string>
            </dict>
            <key>Asuma_Walk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,595},{72,67}}</string>
                <key>offset</key>
                <string>{-15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{72,67}}</string>
                <key>sourceSize</key>
                <string>{104,69}</string>
            </dict>
            <key>Asuma_Walk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,384},{56,69}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{56,69}}</string>
                <key>sourceSize</key>
                <string>{104,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Asuma.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a908bfed94c3e0375b21beb898a9bc33$</string>
            <key>textureFileName</key>
            <string>Asuma.pvr.ccz</string>
        </dict>
    </dict>
</plist>
