<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DogWall_Move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{79,35}}</string>
                <key>offset</key>
                <string>{-4,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,84},{79,35}}</string>
                <key>sourceSize</key>
                <string>{87,119}</string>
            </dict>
            <key>DogWall_Move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{73,47}}</string>
                <key>offset</key>
                <string>{-5,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,72},{73,47}}</string>
                <key>sourceSize</key>
                <string>{87,119}</string>
            </dict>
            <key>DogWall_Move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,123},{85,63}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,56},{85,63}}</string>
                <key>sourceSize</key>
                <string>{87,119}</string>
            </dict>
            <key>DogWall_Move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{85,87}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,32},{85,87}}</string>
                <key>sourceSize</key>
                <string>{87,119}</string>
            </dict>
            <key>DogWall_Move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{87,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,119}}</string>
                <key>sourceSize</key>
                <string>{87,119}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DogWall.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4674f66dafa9cd885edbf975ac1652d$</string>
            <key>textureFileName</key>
            <string>DogWall.pvr.ccz</string>
        </dict>
    </dict>
</plist>
