<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Kakashi_AirHurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,166},{52,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,65}}</string>
                <key>sourceSize</key>
                <string>{52,65}</string>
            </dict>
            <key>Kakashi_AirHurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,647},{30,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,86}}</string>
                <key>sourceSize</key>
                <string>{30,86}</string>
            </dict>
            <key>Kakashi_Float_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{65,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,52}}</string>
                <key>sourceSize</key>
                <string>{65,52}</string>
            </dict>
            <key>Kakashi_Float_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,231},{69,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,63}}</string>
                <key>sourceSize</key>
                <string>{69,63}</string>
            </dict>
            <key>Kakashi_Float_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,321},{63,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,69}}</string>
                <key>sourceSize</key>
                <string>{63,69}</string>
            </dict>
            <key>Kakashi_Hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,822},{44,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,84}}</string>
                <key>sourceSize</key>
                <string>{44,84}</string>
            </dict>
            <key>Kakashi_Hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,394},{48,76}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{48,76}}</string>
                <key>sourceSize</key>
                <string>{48,84}</string>
            </dict>
            <key>Kakashi_Idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,735},{29,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,85}}</string>
                <key>sourceSize</key>
                <string>{29,85}</string>
            </dict>
            <key>Kakashi_Idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,800},{58,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,64}}</string>
                <key>sourceSize</key>
                <string>{58,64}</string>
            </dict>
            <key>Kakashi_Idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,92},{58,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,64}}</string>
                <key>sourceSize</key>
                <string>{58,64}</string>
            </dict>
            <key>Kakashi_Idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,636},{58,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,62}}</string>
                <key>sourceSize</key>
                <string>{58,62}</string>
            </dict>
            <key>Kakashi_Idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,92},{58,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,64}}</string>
                <key>sourceSize</key>
                <string>{58,64}</string>
            </dict>
            <key>Kakashi_KnockDown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{86,31}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{86,31}}</string>
                <key>sourceSize</key>
                <string>{86,53}</string>
            </dict>
            <key>Kakashi_KnockDown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{88,21}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{88,21}}</string>
                <key>sourceSize</key>
                <string>{88,53}</string>
            </dict>
            <key>Kakashi_KnockDown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,950},{71,41}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{71,41}}</string>
                <key>sourceSize</key>
                <string>{71,53}</string>
            </dict>
            <key>Kakashi_KnockDown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,635},{49,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,53}}</string>
                <key>sourceSize</key>
                <string>{49,53}</string>
            </dict>
            <key>Kakashi_KnockDown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,582},{51,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,53}}</string>
                <key>sourceSize</key>
                <string>{51,53}</string>
            </dict>
            <key>Kakashi_KnockDown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,950},{72,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,53}}</string>
                <key>sourceSize</key>
                <string>{72,53}</string>
            </dict>
            <key>Kakashi_NAttack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,394},{48,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,76}}</string>
                <key>sourceSize</key>
                <string>{48,76}</string>
            </dict>
            <key>Kakashi_NAttack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,869},{78,56}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{78,56}}</string>
                <key>sourceSize</key>
                <string>{78,76}</string>
            </dict>
            <key>Kakashi_NAttack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,949},{73,58}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{73,58}}</string>
                <key>sourceSize</key>
                <string>{73,76}</string>
            </dict>
            <key>Kakashi_NAttack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,946},{49,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,76}}</string>
                <key>sourceSize</key>
                <string>{49,76}</string>
            </dict>
            <key>Kakashi_NAttack_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,950},{70,68}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{70,68}}</string>
                <key>sourceSize</key>
                <string>{70,76}</string>
            </dict>
            <key>Kakashi_NAttack_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,950},{71,54}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{71,54}}</string>
                <key>sourceSize</key>
                <string>{71,76}</string>
            </dict>
            <key>Kakashi_NAttack_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,898},{73,50}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{73,50}}</string>
                <key>sourceSize</key>
                <string>{73,76}</string>
            </dict>
            <key>Kakashi_NAttack_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,818},{41,66}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{41,66}}</string>
                <key>sourceSize</key>
                <string>{41,80}</string>
            </dict>
            <key>Kakashi_NAttack_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,860},{37,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,80}}</string>
                <key>sourceSize</key>
                <string>{37,80}</string>
            </dict>
            <key>Kakashi_NAttack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,636},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Kakashi_NAttack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,153},{76,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,80}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Kakashi_Skill01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,735},{29,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,85}}</string>
                <key>sourceSize</key>
                <string>{29,85}</string>
            </dict>
            <key>Kakashi_Skill01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,394},{37,69}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{37,69}}</string>
                <key>sourceSize</key>
                <string>{37,85}</string>
            </dict>
            <key>Kakashi_Skill01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,433},{60,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Kakashi_Skill01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,945},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>Kakashi_Skill01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,950},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>Kakashi_Skill02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,700},{53,56}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{53,56}}</string>
                <key>sourceSize</key>
                <string>{53,76}</string>
            </dict>
            <key>Kakashi_Skill02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,90},{61,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,52}}</string>
                <key>sourceSize</key>
                <string>{61,52}</string>
            </dict>
            <key>Kakashi_Skill03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,647},{32,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,84}}</string>
                <key>sourceSize</key>
                <string>{32,84}</string>
            </dict>
            <key>Kakashi_Skill03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,410},{33,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,84}}</string>
                <key>sourceSize</key>
                <string>{33,84}</string>
            </dict>
            <key>Kakashi_Skill03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,410},{32,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,84}}</string>
                <key>sourceSize</key>
                <string>{32,84}</string>
            </dict>
            <key>Kakashi_Skill04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,868},{49,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,76}}</string>
                <key>sourceSize</key>
                <string>{49,76}</string>
            </dict>
            <key>Kakashi_Skill04_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,394},{48,76}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,76}}</string>
                <key>sourceSize</key>
                <string>{48,82}</string>
            </dict>
            <key>Kakashi_Skill04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,868},{49,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,75}}</string>
                <key>sourceSize</key>
                <string>{49,75}</string>
            </dict>
            <key>Kakashi_Skill05_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,869},{40,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,79}}</string>
                <key>sourceSize</key>
                <string>{40,79}</string>
            </dict>
            <key>Kakashi_Skill05_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,444},{106,87}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{106,87}}</string>
                <key>sourceSize</key>
                <string>{130,97}</string>
            </dict>
            <key>Kakashi_Skill05_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,444},{112,87}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{112,87}}</string>
                <key>sourceSize</key>
                <string>{130,97}</string>
            </dict>
            <key>Kakashi_Skill05_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,653},{108,87}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{108,87}}</string>
                <key>sourceSize</key>
                <string>{130,97}</string>
            </dict>
            <key>Kakashi_Skill05_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,733},{38,83}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,13},{38,83}}</string>
                <key>sourceSize</key>
                <string>{130,97}</string>
            </dict>
            <key>Kakashi_Skill05_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,231},{88,75}}</string>
                <key>offset</key>
                <string>{21,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,12},{88,75}}</string>
                <key>sourceSize</key>
                <string>{130,97}</string>
            </dict>
            <key>Kakashi_Skill05_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,556},{102,89}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,8},{102,89}}</string>
                <key>sourceSize</key>
                <string>{130,97}</string>
            </dict>
            <key>Kakashi_Skill05_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,233},{98,87}}</string>
                <key>offset</key>
                <string>{14,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,10},{98,87}}</string>
                <key>sourceSize</key>
                <string>{130,97}</string>
            </dict>
            <key>Kakashi_Skill05_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,2},{86,85}}</string>
                <key>offset</key>
                <string>{17,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,12},{86,85}}</string>
                <key>sourceSize</key>
                <string>{130,97}</string>
            </dict>
            <key>Kakashi_Skill05_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,558},{107,93}}</string>
                <key>offset</key>
                <string>{-1,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,138},{107,93}}</string>
                <key>sourceSize</key>
                <string>{225,231}</string>
            </dict>
            <key>Kakashi_Skill05_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,655},{125,113}}</string>
                <key>offset</key>
                <string>{-5,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,118},{125,113}}</string>
                <key>sourceSize</key>
                <string>{225,231}</string>
            </dict>
            <key>Kakashi_Skill05_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,2},{149,123}}</string>
                <key>offset</key>
                <string>{-6,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,108},{149,123}}</string>
                <key>sourceSize</key>
                <string>{225,231}</string>
            </dict>
            <key>Kakashi_Skill05_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,803},{145,141}}</string>
                <key>offset</key>
                <string>{-5,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,90},{145,141}}</string>
                <key>sourceSize</key>
                <string>{225,231}</string>
            </dict>
            <key>Kakashi_Skill05_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,233},{157,159}}</string>
                <key>offset</key>
                <string>{-5,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,72},{157,159}}</string>
                <key>sourceSize</key>
                <string>{225,231}</string>
            </dict>
            <key>Kakashi_Skill05_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,233},{175,161}}</string>
                <key>offset</key>
                <string>{3,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,58},{175,161}}</string>
                <key>sourceSize</key>
                <string>{225,231}</string>
            </dict>
            <key>Kakashi_Skill05_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{207,205}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,26},{207,205}}</string>
                <key>sourceSize</key>
                <string>{225,231}</string>
            </dict>
            <key>Kakashi_Skill05_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{223,229}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{223,229}}</string>
                <key>sourceSize</key>
                <string>{225,231}</string>
            </dict>
            <key>Kakashi_Skill05_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{65,211}}</string>
                <key>offset</key>
                <string>{-10,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,19},{65,211}}</string>
                <key>sourceSize</key>
                <string>{225,231}</string>
            </dict>
            <key>Kakashi_Skill05_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,2},{55,69}}</string>
                <key>offset</key>
                <string>{-5,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,162},{55,69}}</string>
                <key>sourceSize</key>
                <string>{225,231}</string>
            </dict>
            <key>Kakashi_Skill05_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,153},{55,69}}</string>
                <key>offset</key>
                <string>{-5,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,162},{55,69}}</string>
                <key>sourceSize</key>
                <string>{225,231}</string>
            </dict>
            <key>Kakashi_Skill05_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,495},{54,58}}</string>
                <key>offset</key>
                <string>{-9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,28},{54,58}}</string>
                <key>sourceSize</key>
                <string>{388,86}</string>
            </dict>
            <key>Kakashi_Skill05_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,444},{70,52}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,34},{70,52}}</string>
                <key>sourceSize</key>
                <string>{388,86}</string>
            </dict>
            <key>Kakashi_Skill05_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,73},{66,52}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,34},{66,52}}</string>
                <key>sourceSize</key>
                <string>{388,86}</string>
            </dict>
            <key>Kakashi_Skill05_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,942},{70,52}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,34},{70,52}}</string>
                <key>sourceSize</key>
                <string>{388,86}</string>
            </dict>
            <key>Kakashi_Skill05_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,950},{72,52}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,34},{72,52}}</string>
                <key>sourceSize</key>
                <string>{388,86}</string>
            </dict>
            <key>Kakashi_Skill05_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,582},{62,52}}</string>
                <key>offset</key>
                <string>{-6,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,34},{62,52}}</string>
                <key>sourceSize</key>
                <string>{388,86}</string>
            </dict>
            <key>Kakashi_Skill10_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,945},{50,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,73}}</string>
                <key>sourceSize</key>
                <string>{50,73}</string>
            </dict>
            <key>Kakashi_Skill10_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,333},{57,59}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{57,59}}</string>
                <key>sourceSize</key>
                <string>{57,61}</string>
            </dict>
            <key>Kakashi_Skill10_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,333},{57,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,59}}</string>
                <key>sourceSize</key>
                <string>{57,59}</string>
            </dict>
            <key>Kakashi_Skill10_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,166},{79,65}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{79,65}}</string>
                <key>sourceSize</key>
                <string>{79,67}</string>
            </dict>
            <key>Kakashi_Skill10_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,516},{63,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,64}}</string>
                <key>sourceSize</key>
                <string>{63,64}</string>
            </dict>
            <key>Kakashi_Skill10_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,444},{110,59}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,59}}</string>
                <key>sourceSize</key>
                <string>{114,59}</string>
            </dict>
            <key>Kakashi_Skill10_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,771},{114,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,59}}</string>
                <key>sourceSize</key>
                <string>{114,59}</string>
            </dict>
            <key>Kakashi_Skill10_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,655},{114,64}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{114,64}}</string>
                <key>sourceSize</key>
                <string>{114,70}</string>
            </dict>
            <key>Kakashi_Skill10_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,782},{114,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{114,64}}</string>
                <key>sourceSize</key>
                <string>{114,66}</string>
            </dict>
            <key>Kakashi_Skill11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,552},{32,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,0},{32,82}}</string>
                <key>sourceSize</key>
                <string>{168,82}</string>
            </dict>
            <key>Kakashi_Skill11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,763},{104,82}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,0},{104,82}}</string>
                <key>sourceSize</key>
                <string>{168,82}</string>
            </dict>
            <key>Kakashi_Skill11_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,655},{146,82}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{146,82}}</string>
                <key>sourceSize</key>
                <string>{168,82}</string>
            </dict>
            <key>Kakashi_Skill11_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,2},{162,86}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{162,86}}</string>
                <key>sourceSize</key>
                <string>{168,86}</string>
            </dict>
            <key>Kakashi_Walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,718},{80,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{80,64}}</string>
                <key>sourceSize</key>
                <string>{80,66}</string>
            </dict>
            <key>Kakashi_Walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,153},{78,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{78,62}}</string>
                <key>sourceSize</key>
                <string>{78,66}</string>
            </dict>
            <key>Kakashi_Walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,90},{61,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,66}}</string>
                <key>sourceSize</key>
                <string>{61,66}</string>
            </dict>
            <key>Kakashi_Walk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,153},{76,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,62}}</string>
                <key>sourceSize</key>
                <string>{76,66}</string>
            </dict>
            <key>Kakashi_Walk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,861},{82,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{82,64}}</string>
                <key>sourceSize</key>
                <string>{82,66}</string>
            </dict>
            <key>Kakashi_Walk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,887},{61,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,66}}</string>
                <key>sourceSize</key>
                <string>{61,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Kakashi.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ef43daa927984dac722c35a620642ff$</string>
            <key>textureFileName</key>
            <string>Kakashi.pvr.ccz</string>
        </dict>
    </dict>
</plist>
