<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Hidan_AirHurt_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,445},{58,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,90}}</string>
                <key>sourceSize</key>
                <string>{58,90}</string>
            </dict>
            <key>Hidan_AirHurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,620},{58,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,84}}</string>
                <key>sourceSize</key>
                <string>{58,84}</string>
            </dict>
            <key>Hidan_Float_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,385},{90,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,58}}</string>
                <key>sourceSize</key>
                <string>{90,58}</string>
            </dict>
            <key>Hidan_Float_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,620},{58,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,84}}</string>
                <key>sourceSize</key>
                <string>{58,84}</string>
            </dict>
            <key>Hidan_Float_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,365},{81,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,84}}</string>
                <key>sourceSize</key>
                <string>{81,84}</string>
            </dict>
            <key>Hidan_Hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,416},{84,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,79}}</string>
                <key>sourceSize</key>
                <string>{84,79}</string>
            </dict>
            <key>Hidan_Hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,94},{84,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,60}}</string>
                <key>sourceSize</key>
                <string>{84,60}</string>
            </dict>
            <key>Hidan_Idle_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,591},{85,71}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{85,71}}</string>
                <key>sourceSize</key>
                <string>{101,71}</string>
            </dict>
            <key>Hidan_Idle_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,543},{85,71}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{85,71}}</string>
                <key>sourceSize</key>
                <string>{101,71}</string>
            </dict>
            <key>Hidan_Idle_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,252},{85,71}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{85,71}}</string>
                <key>sourceSize</key>
                <string>{101,71}</string>
            </dict>
            <key>Hidan_Idle_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,543},{85,71}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{85,71}}</string>
                <key>sourceSize</key>
                <string>{101,71}</string>
            </dict>
            <key>Hidan_KnockDown_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,582},{77,84}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{77,84}}</string>
                <key>sourceSize</key>
                <string>{79,84}</string>
            </dict>
            <key>Hidan_KnockDown_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,339},{83,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,91}}</string>
                <key>sourceSize</key>
                <string>{83,91}</string>
            </dict>
            <key>Hidan_KnockDown_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,409},{90,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,48}}</string>
                <key>sourceSize</key>
                <string>{90,48}</string>
            </dict>
            <key>Hidan_KnockDown_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,483},{86,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,58}}</string>
                <key>sourceSize</key>
                <string>{86,58}</string>
            </dict>
            <key>Hidan_KnockDown_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,448},{84,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,68}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>Hidan_NAttack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,365},{84,74}}</string>
                <key>offset</key>
                <string>{-23,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,28},{84,74}}</string>
                <key>sourceSize</key>
                <string>{162,102}</string>
            </dict>
            <key>Hidan_NAttack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,733},{84,74}}</string>
                <key>offset</key>
                <string>{-21,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,28},{84,74}}</string>
                <key>sourceSize</key>
                <string>{162,102}</string>
            </dict>
            <key>Hidan_NAttack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,685},{84,76}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,26},{84,76}}</string>
                <key>sourceSize</key>
                <string>{162,102}</string>
            </dict>
            <key>Hidan_NAttack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,604},{84,76}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,26},{84,76}}</string>
                <key>sourceSize</key>
                <string>{162,102}</string>
            </dict>
            <key>Hidan_NAttack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,441},{84,72}}</string>
                <key>offset</key>
                <string>{-20,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,30},{84,72}}</string>
                <key>sourceSize</key>
                <string>{162,102}</string>
            </dict>
            <key>Hidan_NAttack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,495},{84,78}}</string>
                <key>offset</key>
                <string>{-12,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,24},{84,78}}</string>
                <key>sourceSize</key>
                <string>{162,102}</string>
            </dict>
            <key>Hidan_NAttack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,312},{112,102}}</string>
                <key>offset</key>
                <string>{24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,0},{112,102}}</string>
                <key>sourceSize</key>
                <string>{162,102}</string>
            </dict>
            <key>Hidan_NAttack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,252},{110,68}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,34},{110,68}}</string>
                <key>sourceSize</key>
                <string>{162,102}</string>
            </dict>
            <key>Hidan_NAttack_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,290},{84,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,63}}</string>
                <key>sourceSize</key>
                <string>{84,63}</string>
            </dict>
            <key>Hidan_NAttack_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,64},{84,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,66}}</string>
                <key>sourceSize</key>
                <string>{84,66}</string>
            </dict>
            <key>Hidan_NAttack_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,180},{92,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,59}}</string>
                <key>sourceSize</key>
                <string>{92,59}</string>
            </dict>
            <key>Hidan_NAttack_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,150},{138,65}}</string>
                <key>offset</key>
                <string>{34,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,0},{138,65}}</string>
                <key>sourceSize</key>
                <string>{206,65}</string>
            </dict>
            <key>Hidan_Run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,376},{84,61}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,61}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>Hidan_Run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,462},{84,59}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{84,59}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>Hidan_Run_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,518},{84,57}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{84,57}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>Hidan_Run_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,274},{84,61}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{84,61}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>Hidan_Run_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,462},{84,59}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{84,59}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>Hidan_Run_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,515},{84,57}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{84,57}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>Hidan_Skill01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,459},{85,74}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,16},{85,74}}</string>
                <key>sourceSize</key>
                <string>{137,90}</string>
            </dict>
            <key>Hidan_Skill01_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,284},{97,90}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{97,90}}</string>
                <key>sourceSize</key>
                <string>{137,90}</string>
            </dict>
            <key>Hidan_Skill01_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,426},{67,88}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,2},{67,88}}</string>
                <key>sourceSize</key>
                <string>{137,90}</string>
            </dict>
            <key>Hidan_Skill01_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,310},{85,86}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,4},{85,86}}</string>
                <key>sourceSize</key>
                <string>{137,90}</string>
            </dict>
            <key>Hidan_Skill01_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,339},{85,88}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,2},{85,88}}</string>
                <key>sourceSize</key>
                <string>{137,90}</string>
            </dict>
            <key>Hidan_Skill02_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,514},{84,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>Hidan_Skill02_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,276},{140,87}}</string>
                <key>offset</key>
                <string>{36,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,8},{140,87}}</string>
                <key>sourceSize</key>
                <string>{296,95}</string>
            </dict>
            <key>Hidan_Skill02_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,220},{156,90}}</string>
                <key>offset</key>
                <string>{45,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,4},{156,90}}</string>
                <key>sourceSize</key>
                <string>{296,94}</string>
            </dict>
            <key>Hidan_Skill02_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,2},{138,87}}</string>
                <key>offset</key>
                <string>{38,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,2},{138,87}}</string>
                <key>sourceSize</key>
                <string>{296,89}</string>
            </dict>
            <key>Hidan_Skill02_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,64},{188,83}}</string>
                <key>offset</key>
                <string>{54,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,0},{188,83}}</string>
                <key>sourceSize</key>
                <string>{296,83}</string>
            </dict>
            <key>Hidan_Skill03_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,91},{154,106}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{154,106}}</string>
                <key>sourceSize</key>
                <string>{188,106}</string>
            </dict>
            <key>Hidan_Skill03_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{182,106}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{182,106}}</string>
                <key>sourceSize</key>
                <string>{188,106}</string>
            </dict>
            <key>Hidan_Skill03_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,90},{176,128}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{176,128}}</string>
                <key>sourceSize</key>
                <string>{188,140}</string>
            </dict>
            <key>Hidan_Skill03_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{180,106}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{180,106}}</string>
                <key>sourceSize</key>
                <string>{188,106}</string>
            </dict>
            <key>Hidan_Skill04_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,497},{84,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,58}}</string>
                <key>sourceSize</key>
                <string>{84,58}</string>
            </dict>
            <key>Hidan_Skill04_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,322},{85,98}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,98}}</string>
                <key>sourceSize</key>
                <string>{121,98}</string>
            </dict>
            <key>Hidan_Skill04_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,167},{115,124}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{115,124}}</string>
                <key>sourceSize</key>
                <string>{121,132}</string>
            </dict>
            <key>Hidan_Skill04_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,376},{67,97}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{67,97}}</string>
                <key>sourceSize</key>
                <string>{121,109}</string>
            </dict>
            <key>Hidan_Skill04_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,376},{67,97}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,5},{67,97}}</string>
                <key>sourceSize</key>
                <string>{125,109}</string>
            </dict>
            <key>Hidan_Skill04_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,432},{85,79}}</string>
                <key>offset</key>
                <string>{16,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,29},{85,79}}</string>
                <key>sourceSize</key>
                <string>{125,109}</string>
            </dict>
            <key>Hidan_Skill04_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,447},{85,59}}</string>
                <key>offset</key>
                <string>{-2,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,68},{85,59}}</string>
                <key>sourceSize</key>
                <string>{157,127}</string>
            </dict>
            <key>Hidan_Skill04_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{192,86}}</string>
                <key>offset</key>
                <string>{43,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,4},{192,86}}</string>
                <key>sourceSize</key>
                <string>{382,90}</string>
            </dict>
            <key>Hidan_Skill04_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{244,90}}</string>
                <key>offset</key>
                <string>{69,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,0},{244,90}}</string>
                <key>sourceSize</key>
                <string>{382,90}</string>
            </dict>
            <key>Hidan_Skill04_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{238,60}}</string>
                <key>offset</key>
                <string>{66,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,30},{238,60}}</string>
                <key>sourceSize</key>
                <string>{382,90}</string>
            </dict>
            <key>Hidan_Skill04_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{200,60}}</string>
                <key>offset</key>
                <string>{46,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,30},{200,60}}</string>
                <key>sourceSize</key>
                <string>{382,90}</string>
            </dict>
            <key>Hidan_Skill04_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{92,73}}</string>
                <key>offset</key>
                <string>{-22,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,28},{92,73}}</string>
                <key>sourceSize</key>
                <string>{182,101}</string>
            </dict>
            <key>Hidan_Skill04_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,149},{182,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,101}}</string>
                <key>sourceSize</key>
                <string>{182,101}</string>
            </dict>
            <key>Hidan_Skill04_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,64},{182,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,101}}</string>
                <key>sourceSize</key>
                <string>{182,101}</string>
            </dict>
            <key>Hidan_Skill04_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,199},{152,75}}</string>
                <key>offset</key>
                <string>{-12,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,26},{152,75}}</string>
                <key>sourceSize</key>
                <string>{182,101}</string>
            </dict>
            <key>Hidan_Skill05_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,634},{70,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{70,74}}</string>
                <key>sourceSize</key>
                <string>{78,76}</string>
            </dict>
            <key>Hidan_Skill05_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,624},{70,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{70,74}}</string>
                <key>sourceSize</key>
                <string>{78,76}</string>
            </dict>
            <key>Hidan_Skill05_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,557},{70,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{70,74}}</string>
                <key>sourceSize</key>
                <string>{78,76}</string>
            </dict>
            <key>Hidan_Skill05_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,589},{70,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{70,74}}</string>
                <key>sourceSize</key>
                <string>{78,76}</string>
            </dict>
            <key>Hidan_Skill05_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,574},{70,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{70,74}}</string>
                <key>sourceSize</key>
                <string>{78,76}</string>
            </dict>
            <key>Hidan_Skill05_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,515},{72,74}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{72,74}}</string>
                <key>sourceSize</key>
                <string>{78,76}</string>
            </dict>
            <key>Hidan_Skill05_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,548},{74,74}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{74,74}}</string>
                <key>sourceSize</key>
                <string>{78,76}</string>
            </dict>
            <key>Hidan_Skill10_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,505},{84,85}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{84,85}}</string>
                <key>sourceSize</key>
                <string>{90,87}</string>
            </dict>
            <key>Hidan_Skill10_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,397},{84,87}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{84,87}}</string>
                <key>sourceSize</key>
                <string>{90,87}</string>
            </dict>
            <key>Hidan_Skill12_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,535},{85,67}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{85,67}}</string>
                <key>sourceSize</key>
                <string>{113,67}</string>
            </dict>
            <key>Hidan_Skill12_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,513},{85,67}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{85,67}}</string>
                <key>sourceSize</key>
                <string>{113,67}</string>
            </dict>
            <key>Hidan_Skill12_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,445},{85,67}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{85,67}}</string>
                <key>sourceSize</key>
                <string>{113,67}</string>
            </dict>
            <key>Hidan_Skill12_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{85,67}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{85,67}}</string>
                <key>sourceSize</key>
                <string>{113,67}</string>
            </dict>
            <key>Hidan_Skill12_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,616},{85,67}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,67}}</string>
                <key>sourceSize</key>
                <string>{113,67}</string>
            </dict>
            <key>Hidan_Skill12_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,360},{85,59}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{85,59}}</string>
                <key>sourceSize</key>
                <string>{113,67}</string>
            </dict>
            <key>Hidan_Walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,253},{84,61}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,61}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>Hidan_Walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,534},{84,59}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{84,59}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>Hidan_Walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,593},{84,57}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{84,57}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>Hidan_Walk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,167},{84,61}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{84,61}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>Hidan_Walk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,534},{84,59}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{84,59}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>Hidan_Walk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,575},{84,57}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{84,57}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Hidan.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c25ffe737feb44f3b79827868b57b65$</string>
            <key>textureFileName</key>
            <string>Hidan.pvr.ccz</string>
        </dict>
    </dict>
</plist>
