<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Chiyo_AirHurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1164},{57,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,67}}</string>
                <key>sourceSize</key>
                <string>{57,67}</string>
            </dict>
            <key>Chiyo_AirHurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,404},{28,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,77}}</string>
                <key>sourceSize</key>
                <string>{28,77}</string>
            </dict>
            <key>Chiyo_Float_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1094},{67,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,57}}</string>
                <key>sourceSize</key>
                <string>{67,57}</string>
            </dict>
            <key>Chiyo_Float_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,999},{39,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,72}}</string>
                <key>sourceSize</key>
                <string>{39,72}</string>
            </dict>
            <key>Chiyo_Float_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,821},{60,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,57}}</string>
                <key>sourceSize</key>
                <string>{60,57}</string>
            </dict>
            <key>Chiyo_Hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,1287},{40,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,65}}</string>
                <key>sourceSize</key>
                <string>{40,65}</string>
            </dict>
            <key>Chiyo_Hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,1201},{43,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,58}}</string>
                <key>sourceSize</key>
                <string>{43,58}</string>
            </dict>
            <key>Chiyo_Idle_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,1189},{47,66}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{47,66}}</string>
                <key>sourceSize</key>
                <string>{51,68}</string>
            </dict>
            <key>Chiyo_Idle_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,246},{47,68}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{47,68}}</string>
                <key>sourceSize</key>
                <string>{51,68}</string>
            </dict>
            <key>Chiyo_Idle_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,1183},{47,66}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{47,66}}</string>
                <key>sourceSize</key>
                <string>{51,68}</string>
            </dict>
            <key>Chiyo_KnockDown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,1073},{72,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,39}}</string>
                <key>sourceSize</key>
                <string>{72,39}</string>
            </dict>
            <key>Chiyo_KnockDown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,322},{80,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,29}}</string>
                <key>sourceSize</key>
                <string>{80,29}</string>
            </dict>
            <key>Chiyo_KnockDown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,1173},{57,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,51}}</string>
                <key>sourceSize</key>
                <string>{57,51}</string>
            </dict>
            <key>Chiyo_KnockDown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,545},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>Chiyo_NAttack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1124},{57,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,66}}</string>
                <key>sourceSize</key>
                <string>{57,66}</string>
            </dict>
            <key>Chiyo_NAttack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1065},{57,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,66}}</string>
                <key>sourceSize</key>
                <string>{57,66}</string>
            </dict>
            <key>Chiyo_NAttack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,1189},{47,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,66}}</string>
                <key>sourceSize</key>
                <string>{47,66}</string>
            </dict>
            <key>Chiyo_NAttack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,761},{60,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,58}}</string>
                <key>sourceSize</key>
                <string>{60,58}</string>
            </dict>
            <key>Chiyo_NAttack_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,701},{60,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,58}}</string>
                <key>sourceSize</key>
                <string>{60,58}</string>
            </dict>
            <key>Chiyo_NAttack_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,1189},{47,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,66}}</string>
                <key>sourceSize</key>
                <string>{47,66}</string>
            </dict>
            <key>Chiyo_NAttack_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1153},{53,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,66}}</string>
                <key>sourceSize</key>
                <string>{53,66}</string>
            </dict>
            <key>Chiyo_NAttack_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,1134},{53,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,66}}</string>
                <key>sourceSize</key>
                <string>{53,66}</string>
            </dict>
            <key>Chiyo_Skill01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,1276},{40,66}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>Chiyo_Skill01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1223},{46,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>Chiyo_Skill01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,1232},{42,66}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>Chiyo_Skill01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1208},{46,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>Chiyo_Skill02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,1132},{94,78}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,4},{94,78}}</string>
                <key>sourceSize</key>
                <string>{122,82}</string>
            </dict>
            <key>Chiyo_Skill02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,510},{98,77}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,2},{98,77}}</string>
                <key>sourceSize</key>
                <string>{122,79}</string>
            </dict>
            <key>Chiyo_Skill02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1132},{96,66}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{96,66}}</string>
                <key>sourceSize</key>
                <string>{122,66}</string>
            </dict>
            <key>Chiyo_Skill03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,949},{88,66}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{88,66}}</string>
                <key>sourceSize</key>
                <string>{130,66}</string>
            </dict>
            <key>Chiyo_Skill03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,880},{92,67}}</string>
                <key>offset</key>
                <string>{19,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,10},{92,67}}</string>
                <key>sourceSize</key>
                <string>{130,77}</string>
            </dict>
            <key>Chiyo_Skill03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1065},{84,67}}</string>
                <key>offset</key>
                <string>{21,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,12},{84,67}}</string>
                <key>sourceSize</key>
                <string>{130,79}</string>
            </dict>
            <key>Chiyo_Skill03_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1096},{82,66}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{82,66}}</string>
                <key>sourceSize</key>
                <string>{130,66}</string>
            </dict>
            <key>Chiyo_Skill04_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1271},{40,66}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{40,66}}</string>
                <key>sourceSize</key>
                <string>{56,66}</string>
            </dict>
            <key>Chiyo_Skill04_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1147},{40,66}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{40,66}}</string>
                <key>sourceSize</key>
                <string>{56,66}</string>
            </dict>
            <key>Chiyo_Skill04_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,1133},{54,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,66}}</string>
                <key>sourceSize</key>
                <string>{56,66}</string>
            </dict>
            <key>Chiyo_Skill04_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,1065},{54,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,66}}</string>
                <key>sourceSize</key>
                <string>{56,66}</string>
            </dict>
            <key>Chiyo_Skill05_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1327},{42,67}}</string>
                <key>offset</key>
                <string>{-3,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,141},{42,67}}</string>
                <key>sourceSize</key>
                <string>{530,209}</string>
            </dict>
            <key>Chiyo_Skill05_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,1286},{46,67}}</string>
                <key>offset</key>
                <string>{0,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,141},{46,67}}</string>
                <key>sourceSize</key>
                <string>{530,209}</string>
            </dict>
            <key>Chiyo_Skill05_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,567},{228,107}}</string>
                <key>offset</key>
                <string>{10,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,101},{228,107}}</string>
                <key>sourceSize</key>
                <string>{530,209}</string>
            </dict>
            <key>Chiyo_Skill05_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{236,119}}</string>
                <key>offset</key>
                <string>{17,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,90},{236,119}}</string>
                <key>sourceSize</key>
                <string>{530,209}</string>
            </dict>
            <key>Chiyo_Skill05_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,944},{204,119}}</string>
                <key>offset</key>
                <string>{14,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,90},{204,119}}</string>
                <key>sourceSize</key>
                <string>{530,209}</string>
            </dict>
            <key>Chiyo_Skill05_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,866},{204,131}}</string>
                <key>offset</key>
                <string>{7,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,78},{204,131}}</string>
                <key>sourceSize</key>
                <string>{530,209}</string>
            </dict>
            <key>Chiyo_Skill05_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,177},{68,67}}</string>
                <key>offset</key>
                <string>{-4,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,141},{68,67}}</string>
                <key>sourceSize</key>
                <string>{530,209}</string>
            </dict>
            <key>Chiyo_Skill05_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,1231},{54,67}}</string>
                <key>offset</key>
                <string>{3,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,141},{54,67}}</string>
                <key>sourceSize</key>
                <string>{530,209}</string>
            </dict>
            <key>Chiyo_Skill05_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1269},{56,67}}</string>
                <key>offset</key>
                <string>{5,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,141},{56,67}}</string>
                <key>sourceSize</key>
                <string>{530,209}</string>
            </dict>
            <key>Chiyo_Skill05_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,1228},{56,67}}</string>
                <key>offset</key>
                <string>{5,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,141},{56,67}}</string>
                <key>sourceSize</key>
                <string>{530,209}</string>
            </dict>
            <key>Chiyo_Skill05_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1269},{56,67}}</string>
                <key>offset</key>
                <string>{5,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,141},{56,67}}</string>
                <key>sourceSize</key>
                <string>{530,209}</string>
            </dict>
            <key>Chiyo_Skill05_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1173},{56,67}}</string>
                <key>offset</key>
                <string>{5,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,141},{56,67}}</string>
                <key>sourceSize</key>
                <string>{530,209}</string>
            </dict>
            <key>Chiyo_Skill05_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,1228},{56,67}}</string>
                <key>offset</key>
                <string>{5,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,141},{56,67}}</string>
                <key>sourceSize</key>
                <string>{530,209}</string>
            </dict>
            <key>Chiyo_Skill05_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,401},{98,107}}</string>
                <key>offset</key>
                <string>{-16,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,101},{98,107}}</string>
                <key>sourceSize</key>
                <string>{530,209}</string>
            </dict>
            <key>Chiyo_Skill05_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1017},{86,75}}</string>
                <key>offset</key>
                <string>{-10,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,134},{86,75}}</string>
                <key>sourceSize</key>
                <string>{530,209}</string>
            </dict>
            <key>Chiyo_Skill05_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1200},{84,67}}</string>
                <key>offset</key>
                <string>{-9,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,141},{84,67}}</string>
                <key>sourceSize</key>
                <string>{530,209}</string>
            </dict>
            <key>Chiyo_Skill05_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,2},{152,125}}</string>
                <key>offset</key>
                <string>{52,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,84},{152,125}}</string>
                <key>sourceSize</key>
                <string>{530,209}</string>
            </dict>
            <key>Chiyo_Skill05_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1001},{158,117}}</string>
                <key>offset</key>
                <string>{56,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,92},{158,117}}</string>
                <key>sourceSize</key>
                <string>{530,209}</string>
            </dict>
            <key>Chiyo_Skill05_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,999},{182,95}}</string>
                <key>offset</key>
                <string>{-19,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,113},{182,95}}</string>
                <key>sourceSize</key>
                <string>{530,209}</string>
            </dict>
            <key>Chiyo_Skill05_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1053},{180,77}}</string>
                <key>offset</key>
                <string>{-18,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,131},{180,77}}</string>
                <key>sourceSize</key>
                <string>{530,209}</string>
            </dict>
            <key>Chiyo_Skill05_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,177},{256,209}}</string>
                <key>offset</key>
                <string>{-95,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{256,209}}</string>
                <key>sourceSize</key>
                <string>{530,209}</string>
            </dict>
            <key>Chiyo_Skill05_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,877},{174,199}}</string>
                <key>offset</key>
                <string>{-54,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,9},{174,199}}</string>
                <key>sourceSize</key>
                <string>{530,209}</string>
            </dict>
            <key>Chiyo_Skill05_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,785},{214,157}}</string>
                <key>offset</key>
                <string>{39,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,52},{214,157}}</string>
                <key>sourceSize</key>
                <string>{530,209}</string>
            </dict>
            <key>Chiyo_Skill05_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,177},{266,135}}</string>
                <key>offset</key>
                <string>{65,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,74},{266,135}}</string>
                <key>sourceSize</key>
                <string>{530,209}</string>
            </dict>
            <key>Chiyo_Skill05_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{268,143}}</string>
                <key>offset</key>
                <string>{68,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,66},{268,143}}</string>
                <key>sourceSize</key>
                <string>{530,209}</string>
            </dict>
            <key>Chiyo_Skill05_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{218,91}}</string>
                <key>offset</key>
                <string>{42,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,117},{218,91}}</string>
                <key>sourceSize</key>
                <string>{530,209}</string>
            </dict>
            <key>Chiyo_Skill05_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,691},{220,91}}</string>
                <key>offset</key>
                <string>{38,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,117},{220,91}}</string>
                <key>sourceSize</key>
                <string>{530,209}</string>
            </dict>
            <key>Chiyo_Skill05_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,295},{104,67}}</string>
                <key>offset</key>
                <string>{28,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,141},{104,67}}</string>
                <key>sourceSize</key>
                <string>{530,209}</string>
            </dict>
            <key>Chiyo_Skill05_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,560},{226,109}}</string>
                <key>offset</key>
                <string>{90,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,99},{226,109}}</string>
                <key>sourceSize</key>
                <string>{530,209}</string>
            </dict>
            <key>Chiyo_Skill05_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,589},{226,109}}</string>
                <key>offset</key>
                <string>{89,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,100},{226,109}}</string>
                <key>sourceSize</key>
                <string>{530,209}</string>
            </dict>
            <key>Chiyo_Skill05_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,676},{216,107}}</string>
                <key>offset</key>
                <string>{85,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,101},{216,107}}</string>
                <key>sourceSize</key>
                <string>{530,209}</string>
            </dict>
            <key>Chiyo_Skill05_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,770},{144,141}}</string>
                <key>offset</key>
                <string>{49,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,67},{144,141}}</string>
                <key>sourceSize</key>
                <string>{530,209}</string>
            </dict>
            <key>Chiyo_Skill05_033.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,647},{148,121}}</string>
                <key>offset</key>
                <string>{50,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,87},{148,121}}</string>
                <key>sourceSize</key>
                <string>{530,209}</string>
            </dict>
            <key>Chiyo_Skill05_034.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,817},{182,129}}</string>
                <key>offset</key>
                <string>{68,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,79},{182,129}}</string>
                <key>sourceSize</key>
                <string>{530,209}</string>
            </dict>
            <key>Chiyo_Skill05_035.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,1083},{164,195}}</string>
                <key>offset</key>
                <string>{48,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,13},{164,195}}</string>
                <key>sourceSize</key>
                <string>{530,209}</string>
            </dict>
            <key>Chiyo_Skill05_036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{230,169}}</string>
                <key>offset</key>
                <string>{91,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,39},{230,169}}</string>
                <key>sourceSize</key>
                <string>{530,209}</string>
            </dict>
            <key>Chiyo_Skill05_037.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,671},{224,193}}</string>
                <key>offset</key>
                <string>{88,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,15},{224,193}}</string>
                <key>sourceSize</key>
                <string>{530,209}</string>
            </dict>
            <key>Chiyo_Skill05_038.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,913},{168,137}}</string>
                <key>offset</key>
                <string>{60,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,71},{168,137}}</string>
                <key>sourceSize</key>
                <string>{530,209}</string>
            </dict>
            <key>Chiyo_Skill05_039.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,483},{236,75}}</string>
                <key>offset</key>
                <string>{94,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,133},{236,75}}</string>
                <key>sourceSize</key>
                <string>{530,209}</string>
            </dict>
            <key>Chiyo_Skill05_040.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1096},{116,75}}</string>
                <key>offset</key>
                <string>{35,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,133},{116,75}}</string>
                <key>sourceSize</key>
                <string>{530,209}</string>
            </dict>
            <key>Chiyo_Skill05_041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,443},{236,75}}</string>
                <key>offset</key>
                <string>{94,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,133},{236,75}}</string>
                <key>sourceSize</key>
                <string>{530,209}</string>
            </dict>
            <key>Chiyo_Skill05_042.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,388},{240,177}}</string>
                <key>offset</key>
                <string>{96,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,32},{240,177}}</string>
                <key>sourceSize</key>
                <string>{530,209}</string>
            </dict>
            <key>Chiyo_Skill05_043.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,405},{240,149}}</string>
                <key>offset</key>
                <string>{97,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,60},{240,149}}</string>
                <key>sourceSize</key>
                <string>{530,209}</string>
            </dict>
            <key>Chiyo_Skill05_044.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,314},{254,167}}</string>
                <key>offset</key>
                <string>{104,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,42},{254,167}}</string>
                <key>sourceSize</key>
                <string>{530,209}</string>
            </dict>
            <key>Chiyo_Skill05_045.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,129},{274,151}}</string>
                <key>offset</key>
                <string>{113,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,58},{274,151}}</string>
                <key>sourceSize</key>
                <string>{530,209}</string>
            </dict>
            <key>Chiyo_Skill05_046.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,2},{286,173}}</string>
                <key>offset</key>
                <string>{120,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,36},{286,173}}</string>
                <key>sourceSize</key>
                <string>{530,209}</string>
            </dict>
            <key>Chiyo_Skill05_047.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{288,173}}</string>
                <key>offset</key>
                <string>{121,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,36},{288,173}}</string>
                <key>sourceSize</key>
                <string>{530,209}</string>
            </dict>
            <key>Chiyo_Skill05_048.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{288,173}}</string>
                <key>offset</key>
                <string>{120,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,36},{288,173}}</string>
                <key>sourceSize</key>
                <string>{530,209}</string>
            </dict>
            <key>Chiyo_Walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,597},{50,64}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{50,64}}</string>
                <key>sourceSize</key>
                <string>{62,66}</string>
            </dict>
            <key>Chiyo_Walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,649},{50,62}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{50,62}}</string>
                <key>sourceSize</key>
                <string>{62,66}</string>
            </dict>
            <key>Chiyo_Walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,1161},{52,60}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{52,60}}</string>
                <key>sourceSize</key>
                <string>{62,66}</string>
            </dict>
            <key>Chiyo_Walk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,1215},{52,60}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{52,60}}</string>
                <key>sourceSize</key>
                <string>{62,66}</string>
            </dict>
            <key>Chiyo_Walk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,483},{48,60}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{48,60}}</string>
                <key>sourceSize</key>
                <string>{62,66}</string>
            </dict>
            <key>Chiyo_Walk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,1161},{46,58}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{46,58}}</string>
                <key>sourceSize</key>
                <string>{62,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Chiyo.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7e21e8007cce3f23f6b39c29b936b32$</string>
            <key>textureFileName</key>
            <string>Chiyo.pvr.ccz</string>
        </dict>
    </dict>
</plist>
