<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Akamaru_Idle_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,58},{91,67}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,18},{91,67}}</string>
                <key>sourceSize</key>
                <string>{95,85}</string>
            </dict>
            <key>Akamaru_Idle_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,127},{91,65}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,20},{91,65}}</string>
                <key>sourceSize</key>
                <string>{95,85}</string>
            </dict>
            <key>Akamaru_Idle_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,227},{87,77}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{87,77}}</string>
                <key>sourceSize</key>
                <string>{95,85}</string>
            </dict>
            <key>Akamaru_Move_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,107},{91,65}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,20},{91,65}}</string>
                <key>sourceSize</key>
                <string>{95,85}</string>
            </dict>
            <key>Akamaru_Move_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,96},{91,65}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{91,65}}</string>
                <key>sourceSize</key>
                <string>{95,85}</string>
            </dict>
            <key>Akamaru_Move_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,194},{91,63}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{91,63}}</string>
                <key>sourceSize</key>
                <string>{95,85}</string>
            </dict>
            <key>Akamaru_Skill01_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{104,31}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,35},{104,31}}</string>
                <key>sourceSize</key>
                <string>{124,79}</string>
            </dict>
            <key>Akamaru_Skill01_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,37},{110,43}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,27},{110,43}}</string>
                <key>sourceSize</key>
                <string>{124,79}</string>
            </dict>
            <key>Akamaru_Skill01_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,58},{108,33}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,33},{108,33}}</string>
                <key>sourceSize</key>
                <string>{124,79}</string>
            </dict>
            <key>Akamaru_Skill01_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,33}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{120,33}}</string>
                <key>sourceSize</key>
                <string>{124,79}</string>
            </dict>
            <key>Akamaru_Skill10_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,93},{91,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,66}}</string>
                <key>sourceSize</key>
                <string>{91,66}</string>
            </dict>
            <key>Akamaru_Skill10_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{91,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,64}}</string>
                <key>sourceSize</key>
                <string>{91,64}</string>
            </dict>
            <key>Akamaru_Skill10_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{86,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,76}}</string>
                <key>sourceSize</key>
                <string>{86,76}</string>
            </dict>
            <key>Akamaru_Skill11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,161},{91,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,64}}</string>
                <key>sourceSize</key>
                <string>{91,64}</string>
            </dict>
            <key>Akamaru_Skill11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,115},{91,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,65}}</string>
                <key>sourceSize</key>
                <string>{91,65}</string>
            </dict>
            <key>Akamaru_Skill11_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,163},{91,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,63}}</string>
                <key>sourceSize</key>
                <string>{91,63}</string>
            </dict>
            <key>Akamaru_Walk_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,2},{109,54}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{109,54}}</string>
                <key>sourceSize</key>
                <string>{117,62}</string>
            </dict>
            <key>Akamaru_Walk_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,54},{109,40}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{109,40}}</string>
                <key>sourceSize</key>
                <string>{117,62}</string>
            </dict>
            <key>Akamaru_Walk_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{109,50}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{109,50}}</string>
                <key>sourceSize</key>
                <string>{117,62}</string>
            </dict>
            <key>Akamaru_Walk_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,2},{103,46}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,16},{103,46}}</string>
                <key>sourceSize</key>
                <string>{117,62}</string>
            </dict>
            <key>Akamaru_Walk_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{111,54}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{111,54}}</string>
                <key>sourceSize</key>
                <string>{117,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Akamaru.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89334b2eee6f17f4b29f08016f7f9597$</string>
            <key>textureFileName</key>
            <string>Akamaru.pvr.ccz</string>
        </dict>
    </dict>
</plist>
