<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>avator1.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,303},{241,221}}</string>
                <key>offset</key>
                <string>{35,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,44},{241,221}}</string>
                <key>sourceSize</key>
                <string>{311,265}</string>
            </dict>
            <key>avator2.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{299,247}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,18},{299,247}}</string>
                <key>sourceSize</key>
                <string>{311,265}</string>
            </dict>
            <key>avator3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{291,233}}</string>
                <key>offset</key>
                <string>{10,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,32},{291,233}}</string>
                <key>sourceSize</key>
                <string>{311,265}</string>
            </dict>
            <key>avator4.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,98},{311,245}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{311,245}}</string>
                <key>sourceSize</key>
                <string>{311,265}</string>
            </dict>
            <key>btm_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,525},{164,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,30}}</string>
                <key>sourceSize</key>
                <string>{164,30}</string>
            </dict>
            <key>cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,445},{144,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,128}}</string>
                <key>sourceSize</key>
                <string>{144,128}</string>
            </dict>
            <key>confirm_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,393},{194,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,130}}</string>
                <key>sourceSize</key>
                <string>{194,130}</string>
            </dict>
            <key>confirm_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{115,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,18}}</string>
                <key>sourceSize</key>
                <string>{115,18}</string>
            </dict>
            <key>createGroup_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,381},{145,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,14}}</string>
                <key>sourceSize</key>
                <string>{145,14}</string>
            </dict>
            <key>credits01.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{368,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,78}}</string>
                <key>sourceSize</key>
                <string>{368,78}</string>
            </dict>
            <key>credits02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{390,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,136}}</string>
                <key>sourceSize</key>
                <string>{390,136}</string>
            </dict>
            <key>gold_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,346},{164,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,170}}</string>
                <key>sourceSize</key>
                <string>{164,170}</string>
            </dict>
            <key>gold_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,345},{177,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,186}}</string>
                <key>sourceSize</key>
                <string>{177,186}</string>
            </dict>
            <key>hcmode_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,516},{66,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,19}}</string>
                <key>sourceSize</key>
                <string>{66,19}</string>
            </dict>
            <key>input_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,525},{115,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,25}}</string>
                <key>sourceSize</key>
                <string>{115,25}</string>
            </dict>
            <key>input_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,622},{114,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,18}}</string>
                <key>sourceSize</key>
                <string>{114,18}</string>
            </dict>
            <key>loading_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,325},{109,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,19}}</string>
                <key>sourceSize</key>
                <string>{109,19}</string>
            </dict>
            <key>login_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,143},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,49}}</string>
                <key>sourceSize</key>
                <string>{48,49}</string>
            </dict>
            <key>login_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{64,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,32}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>login_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,443},{64,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,32}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>menu01.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,193},{151,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,48}}</string>
                <key>sourceSize</key>
                <string>{151,48}</string>
            </dict>
            <key>menu01_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,82},{325,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,14}}</string>
                <key>sourceSize</key>
                <string>{325,14}</string>
            </dict>
            <key>menu02.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,397},{157,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{157,46}}</string>
                <key>sourceSize</key>
                <string>{159,46}</string>
            </dict>
            <key>menu02_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,642},{47,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,13}}</string>
                <key>sourceSize</key>
                <string>{47,13}</string>
            </dict>
            <key>menu03.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,140},{83,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,39}}</string>
                <key>sourceSize</key>
                <string>{83,39}</string>
            </dict>
            <key>menu03_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,509},{47,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,13}}</string>
                <key>sourceSize</key>
                <string>{47,13}</string>
            </dict>
            <key>menu04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,557},{143,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,45}}</string>
                <key>sourceSize</key>
                <string>{143,45}</string>
            </dict>
            <key>menu04_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,657},{46,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,13}}</string>
                <key>sourceSize</key>
                <string>{46,13}</string>
            </dict>
            <key>nameInput_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,693},{35,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,13}}</string>
                <key>sourceSize</key>
                <string>{35,13}</string>
            </dict>
            <key>news_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,672},{37,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,40}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>no_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,347},{64,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,32}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>no_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,313},{64,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,32}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>notice_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,375},{202,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,16}}</string>
                <key>sourceSize</key>
                <string>{202,16}</string>
            </dict>
            <key>notice_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,512},{170,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,16}}</string>
                <key>sourceSize</key>
                <string>{170,16}</string>
            </dict>
            <key>pause_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,557},{46,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,19}}</string>
                <key>sourceSize</key>
                <string>{46,19}</string>
            </dict>
            <key>profile_closeBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,82},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{38,40}</string>
            </dict>
            <key>pwInput_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,181},{23,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,14}}</string>
                <key>sourceSize</key>
                <string>{23,14}</string>
            </dict>
            <key>quit_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{136,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,16}}</string>
                <key>sourceSize</key>
                <string>{136,16}</string>
            </dict>
            <key>ranking_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,181},{71,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,62}}</string>
                <key>sourceSize</key>
                <string>{71,62}</string>
            </dict>
            <key>record_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,197},{56,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,19}}</string>
                <key>sourceSize</key>
                <string>{56,19}</string>
            </dict>
            <key>refresh_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,303},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>result_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,122},{52,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,19}}</string>
                <key>sourceSize</key>
                <string>{52,19}</string>
            </dict>
            <key>staff_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,605},{42,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,19}}</string>
                <key>sourceSize</key>
                <string>{42,19}</string>
            </dict>
            <key>startmenu_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,436},{78,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,19}}</string>
                <key>sourceSize</key>
                <string>{78,19}</string>
            </dict>
            <key>surrender_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,255},{170,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,30}}</string>
                <key>sourceSize</key>
                <string>{170,30}</string>
            </dict>
            <key>userInput_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,427},{33,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,14}}</string>
                <key>sourceSize</key>
                <string>{33,14}</string>
            </dict>
            <key>warning_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,676},{63,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,15}}</string>
                <key>sourceSize</key>
                <string>{63,15}</string>
            </dict>
            <key>yes_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,279},{64,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,32}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>yes_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,245},{64,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,32}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Menu.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d8253456be605c2d116b8155d47df899$</string>
            <key>textureFileName</key>
            <string>Menu.png</string>
        </dict>
    </dict>
</plist>
