<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>banner_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,758},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>banner_blink1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,758},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>banner_blink2.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,730},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>banner_blink3.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,730},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>banner_blink4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,730},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>banner_blink5.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,702},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>banner_blink6.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,702},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>banner_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>banner_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,674},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>banner_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,674},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>banner_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>banner_silver.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,646},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np000.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,646},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np100.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,618},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,618},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np101.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np102.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,590},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np103.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,590},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np104.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np105.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,562},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np106.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,562},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np107.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np108.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,534},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np109.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,534},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np110.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np111.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,506},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np112.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,506},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np113.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np114.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,478},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np200.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,478},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np201.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np202.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,450},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np203.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,450},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np204.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np205.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,422},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np206.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,422},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np207.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np208.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,394},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np209.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,394},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np210.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np211.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,366},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np212.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,366},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np213.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np214.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,338},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np215.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,338},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np216.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np300.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,310},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np301.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,310},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np302.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np303.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,282},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np304.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,282},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np305.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np306.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,254},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np307.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,254},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np308.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np309.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,226},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np310.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,226},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np311.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np312.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,198},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np313.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,198},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np400.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np401.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,170},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np402.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,170},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np403.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np404.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,142},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np405.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,142},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np406.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np407.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,114},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np408.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,114},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np409.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np410.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,86},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np500.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,86},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np501.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np502.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,58},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np503.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,58},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np504.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np600.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,30},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np601.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,30},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np700.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,30},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np800.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np801.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>np900.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>NamePlate.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ded58a982f5e32df00568da5d232decd$</string>
            <key>textureFileName</key>
            <string>NamePlate.png</string>
        </dict>
    </dict>
</plist>
