<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CutBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,311},{259,137}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{259,137}}</string>
                <key>sourceSize</key>
                <string>{279,151}</string>
            </dict>
            <key>CutBg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,172},{259,137}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{259,137}}</string>
                <key>sourceSize</key>
                <string>{279,151}</string>
            </dict>
            <key>CutLineDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{278,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,23}}</string>
                <key>sourceSize</key>
                <string>{278,23}</string>
            </dict>
            <key>CutLineUP.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,27},{277,143}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,143}}</string>
                <key>sourceSize</key>
                <string>{277,151}</string>
            </dict>
            <key>CutLine_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,450},{213,75}}</string>
                <key>offset</key>
                <string>{-32,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{213,75}}</string>
                <key>sourceSize</key>
                <string>{277,151}</string>
            </dict>
            <key>CutLine_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,397},{183,57}}</string>
                <key>offset</key>
                <string>{-48,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,44},{183,57}}</string>
                <key>sourceSize</key>
                <string>{279,151}</string>
            </dict>
            <key>CutLine_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,443},{213,77}}</string>
                <key>offset</key>
                <string>{-33,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,39},{213,77}}</string>
                <key>sourceSize</key>
                <string>{279,151}</string>
            </dict>
            <key>CutLine_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,527},{183,79}}</string>
                <key>offset</key>
                <string>{-48,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{183,79}}</string>
                <key>sourceSize</key>
                <string>{279,151}</string>
            </dict>
            <key>CutLine_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,346},{99,29}}</string>
                <key>offset</key>
                <string>{-72,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,38},{99,29}}</string>
                <key>sourceSize</key>
                <string>{279,151}</string>
            </dict>
            <key>CutLine_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,346},{233,95}}</string>
                <key>offset</key>
                <string>{-23,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{233,95}}</string>
                <key>sourceSize</key>
                <string>{279,151}</string>
            </dict>
            <key>CutLine_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,377},{205,79}}</string>
                <key>offset</key>
                <string>{-37,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,28},{205,79}}</string>
                <key>sourceSize</key>
                <string>{279,151}</string>
            </dict>
            <key>CutLine_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,172},{121,33}}</string>
                <key>offset</key>
                <string>{-79,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,38},{121,33}}</string>
                <key>sourceSize</key>
                <string>{279,151}</string>
            </dict>
            <key>gameStart_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,295},{100,31}}</string>
                <key>offset</key>
                <string>{193,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{386,121},{100,31}}</string>
                <key>sourceSize</key>
                <string>{486,185}</string>
            </dict>
            <key>gameStart_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,582},{172,53}}</string>
                <key>offset</key>
                <string>{119,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{276,90},{172,53}}</string>
                <key>sourceSize</key>
                <string>{486,185}</string>
            </dict>
            <key>gameStart_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,450},{164,75}}</string>
                <key>offset</key>
                <string>{45,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,77},{164,75}}</string>
                <key>sourceSize</key>
                <string>{486,185}</string>
            </dict>
            <key>gameStart_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{374,109}}</string>
                <key>offset</key>
                <string>{-56,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,58},{374,109}}</string>
                <key>sourceSize</key>
                <string>{486,185}</string>
            </dict>
            <key>gameStart_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{346,155}}</string>
                <key>offset</key>
                <string>{-36,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,30},{346,155}}</string>
                <key>sourceSize</key>
                <string>{486,185}</string>
            </dict>
            <key>gameStart_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,179},{346,165}}</string>
                <key>offset</key>
                <string>{-53,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,19},{346,165}}</string>
                <key>sourceSize</key>
                <string>{486,185}</string>
            </dict>
            <key>gameStart_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{346,173}}</string>
                <key>offset</key>
                <string>{-66,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{346,173}}</string>
                <key>sourceSize</key>
                <string>{486,185}</string>
            </dict>
            <key>gameStart_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{346,175}}</string>
                <key>offset</key>
                <string>{-66,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{346,175}}</string>
                <key>sourceSize</key>
                <string>{486,185}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Ougis.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aca6e0ce557b6cbfa6b9f006d3daf1a3$</string>
            <key>textureFileName</key>
            <string>Ougis.png</string>
        </dict>
    </dict>
</plist>
