<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Asuma_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,923},{210,228}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,228}}</string>
                <key>sourceSize</key>
                <string>{232,228}</string>
            </dict>
            <key>Chiyo_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{234,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,229}}</string>
                <key>sourceSize</key>
                <string>{234,229}</string>
            </dict>
            <key>Choji_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,462},{234,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,228}}</string>
                <key>sourceSize</key>
                <string>{234,228}</string>
            </dict>
            <key>Deidara_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1400},{231,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,228}}</string>
                <key>sourceSize</key>
                <string>{231,228}</string>
            </dict>
            <key>Gaara_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,462},{234,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,228}}</string>
                <key>sourceSize</key>
                <string>{234,228}</string>
            </dict>
            <key>Hidan_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,692},{206,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,228}}</string>
                <key>sourceSize</key>
                <string>{206,228}</string>
            </dict>
            <key>Hinata_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1383},{190,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,228}}</string>
                <key>sourceSize</key>
                <string>{190,228}</string>
            </dict>
            <key>Hinata_full2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,462},{234,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,228}}</string>
                <key>sourceSize</key>
                <string>{234,228}</string>
            </dict>
            <key>Hiruzen_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,462},{234,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,228}}</string>
                <key>sourceSize</key>
                <string>{234,228}</string>
            </dict>
            <key>ImmortalSasuke_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,462},{234,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,228}}</string>
                <key>sourceSize</key>
                <string>{234,228}</string>
            </dict>
            <key>Ino_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,1633},{220,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,228}}</string>
                <key>sourceSize</key>
                <string>{220,228}</string>
            </dict>
            <key>Ino_full2.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,463},{234,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,228}}</string>
                <key>sourceSize</key>
                <string>{234,228}</string>
            </dict>
            <key>Itachi_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,922},{195,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,228}}</string>
                <key>sourceSize</key>
                <string>{195,228}</string>
            </dict>
            <key>Jiraiya_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,462},{234,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,228}}</string>
                <key>sourceSize</key>
                <string>{234,228}</string>
            </dict>
            <key>Jugo_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,232},{234,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,228}}</string>
                <key>sourceSize</key>
                <string>{234,228}</string>
            </dict>
            <key>Kakashi_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1636},{232,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,228}}</string>
                <key>sourceSize</key>
                <string>{232,228}</string>
            </dict>
            <key>Kakuzu_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,232},{234,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,228}}</string>
                <key>sourceSize</key>
                <string>{234,228}</string>
            </dict>
            <key>Kankuro_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,232},{234,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,228}}</string>
                <key>sourceSize</key>
                <string>{234,228}</string>
            </dict>
            <key>Karin_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1870},{164,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,227}}</string>
                <key>sourceSize</key>
                <string>{164,227}</string>
            </dict>
            <key>Karin_full2.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,232},{234,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,228}}</string>
                <key>sourceSize</key>
                <string>{234,228}</string>
            </dict>
            <key>Kiba_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,1153},{205,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,228}}</string>
                <key>sourceSize</key>
                <string>{205,228}</string>
            </dict>
            <key>Kisame_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,232},{234,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,228}}</string>
                <key>sourceSize</key>
                <string>{234,228}</string>
            </dict>
            <key>Konan_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,1843},{188,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,226}}</string>
                <key>sourceSize</key>
                <string>{188,226}</string>
            </dict>
            <key>Konan_full2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,2},{144,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,228}}</string>
                <key>sourceSize</key>
                <string>{144,228}</string>
            </dict>
            <key>Lee_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,693},{214,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,228}}</string>
                <key>sourceSize</key>
                <string>{214,228}</string>
            </dict>
            <key>Minato_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,923},{213,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,228}}</string>
                <key>sourceSize</key>
                <string>{213,228}</string>
            </dict>
            <key>Naruto_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,1165},{233,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,228}}</string>
                <key>sourceSize</key>
                <string>{233,228}</string>
            </dict>
            <key>Neji_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,233},{234,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,228}}</string>
                <key>sourceSize</key>
                <string>{234,228}</string>
            </dict>
            <key>RikudoNaruto_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,232},{234,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,228}}</string>
                <key>sourceSize</key>
                <string>{234,228}</string>
            </dict>
            <key>SageJiraiya_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,2},{234,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,228}}</string>
                <key>sourceSize</key>
                <string>{234,228}</string>
            </dict>
            <key>SageNaruto_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,929},{234,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,227}}</string>
                <key>sourceSize</key>
                <string>{234,227}</string>
            </dict>
            <key>Sai_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,1613},{190,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,228}}</string>
                <key>sourceSize</key>
                <string>{190,228}</string>
            </dict>
            <key>Sakura_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1633},{193,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,229}}</string>
                <key>sourceSize</key>
                <string>{193,229}</string>
            </dict>
            <key>Sakura_full2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,2},{234,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,228}}</string>
                <key>sourceSize</key>
                <string>{234,228}</string>
            </dict>
            <key>Sasuke_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,2},{234,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,228}}</string>
                <key>sourceSize</key>
                <string>{234,228}</string>
            </dict>
            <key>Shikamaru_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1165},{234,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,223}}</string>
                <key>sourceSize</key>
                <string>{234,223}</string>
            </dict>
            <key>Shino_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,693},{234,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,227}}</string>
                <key>sourceSize</key>
                <string>{234,227}</string>
            </dict>
            <key>Suigetsu_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,1383},{194,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,228}}</string>
                <key>sourceSize</key>
                <string>{194,228}</string>
            </dict>
            <key>Tenten_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1152},{188,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,227}}</string>
                <key>sourceSize</key>
                <string>{188,227}</string>
            </dict>
            <key>Tenten_full2.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,692},{208,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,228}}</string>
                <key>sourceSize</key>
                <string>{208,228}</string>
            </dict>
            <key>Tobi_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1401},{233,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,228}}</string>
                <key>sourceSize</key>
                <string>{233,228}</string>
            </dict>
            <key>Tobirama_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,2},{234,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,228}}</string>
                <key>sourceSize</key>
                <string>{234,228}</string>
            </dict>
            <key>Tsunade_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{234,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,228}}</string>
                <key>sourceSize</key>
                <string>{234,228}</string>
            </dict>
            <key>Tsunade_full2.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{234,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,228}}</string>
                <key>sourceSize</key>
                <string>{234,228}</string>
            </dict>
            <key>bonds_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{1962,529},{18,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,19}}</string>
                <key>sourceSize</key>
                <string>{18,19}</string>
            </dict>
            <key>change_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2021,378},{75,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,21}}</string>
                <key>sourceSize</key>
                <string>{75,21}</string>
            </dict>
            <key>change_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2015,455},{73,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,19}}</string>
                <key>sourceSize</key>
                <string>{73,19}</string>
            </dict>
            <key>detail_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,378},{101,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,26}}</string>
                <key>sourceSize</key>
                <string>{101,26}</string>
            </dict>
            <key>gold_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1992,452},{62,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,21}}</string>
                <key>sourceSize</key>
                <string>{62,21}</string>
            </dict>
            <key>golds_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1992,516},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>golds_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1971,508},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>rank_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,562},{60,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,16}}</string>
                <key>sourceSize</key>
                <string>{60,16}</string>
            </dict>
            <key>rank_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,544},{61,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,16}}</string>
                <key>sourceSize</key>
                <string>{61,16}</string>
            </dict>
            <key>rank_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{1983,537},{61,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,16}}</string>
                <key>sourceSize</key>
                <string>{61,16}</string>
            </dict>
            <key>rank_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1953,549},{60,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,16}}</string>
                <key>sourceSize</key>
                <string>{60,16}</string>
            </dict>
            <key>rank_ss.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,526},{70,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,16}}</string>
                <key>sourceSize</key>
                <string>{70,16}</string>
            </dict>
            <key>rank_sss.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,508},{79,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,16}}</string>
                <key>sourceSize</key>
                <string>{79,16}</string>
            </dict>
            <key>return_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1993,378},{72,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,26}}</string>
                <key>sourceSize</key>
                <string>{72,26}</string>
            </dict>
            <key>skill_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1526},{234,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,252}}</string>
                <key>sourceSize</key>
                <string>{234,252}</string>
            </dict>
            <key>skill_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1272},{234,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,252}}</string>
                <key>sourceSize</key>
                <string>{234,252}</string>
            </dict>
            <key>skill_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1018},{234,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,252}}</string>
                <key>sourceSize</key>
                <string>{234,252}</string>
            </dict>
            <key>skill_bg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{234,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,252}}</string>
                <key>sourceSize</key>
                <string>{234,252}</string>
            </dict>
            <key>skill_bg5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{234,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,252}}</string>
                <key>sourceSize</key>
                <string>{234,252}</string>
            </dict>
            <key>skill_bg6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{234,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,252}}</string>
                <key>sourceSize</key>
                <string>{234,252}</string>
            </dict>
            <key>skill_blink1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,406},{100,100}}</string>
                <key>offset</key>
                <string>{-67,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{234,252}</string>
            </dict>
            <key>skill_blink2.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,1870},{158,158}}</string>
                <key>offset</key>
                <string>{-38,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,158}}</string>
                <key>sourceSize</key>
                <string>{234,252}</string>
            </dict>
            <key>skill_blink3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,1613},{210,210}}</string>
                <key>offset</key>
                <string>{-12,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,210}}</string>
                <key>sourceSize</key>
                <string>{234,252}</string>
            </dict>
            <key>skill_blink4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1780},{234,250}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{234,250}}</string>
                <key>sourceSize</key>
                <string>{234,252}</string>
            </dict>
            <key>skill_blink5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,232},{144,144}}</string>
                <key>offset</key>
                <string>{45,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,108},{144,144}}</string>
                <key>sourceSize</key>
                <string>{234,252}</string>
            </dict>
            <key>skill_blink6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2032},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{234,252}</string>
            </dict>
            <key>skill_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{234,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,252}}</string>
                <key>sourceSize</key>
                <string>{234,252}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Record.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf4b72421bbcfbfe5d4140e27023995b$</string>
            <key>textureFileName</key>
            <string>Record.png</string>
        </dict>
    </dict>
</plist>
