<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Jiraiya_AirHurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,306},{89,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,80}}</string>
                <key>sourceSize</key>
                <string>{89,80}</string>
            </dict>
            <key>Jiraiya_AirHurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{49,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,93}}</string>
                <key>sourceSize</key>
                <string>{49,93}</string>
            </dict>
            <key>Jiraiya_Float_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,360},{80,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,89}}</string>
                <key>sourceSize</key>
                <string>{80,89}</string>
            </dict>
            <key>Jiraiya_Float_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,255},{92,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,63}}</string>
                <key>sourceSize</key>
                <string>{92,63}</string>
            </dict>
            <key>Jiraiya_Float_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,305},{53,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,92}}</string>
                <key>sourceSize</key>
                <string>{53,92}</string>
            </dict>
            <key>Jiraiya_Hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,388},{78,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,88}}</string>
                <key>sourceSize</key>
                <string>{78,88}</string>
            </dict>
            <key>Jiraiya_Hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,525},{71,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,74}}</string>
                <key>sourceSize</key>
                <string>{71,74}</string>
            </dict>
            <key>Jiraiya_Hurt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,622},{70,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,71}}</string>
                <key>sourceSize</key>
                <string>{70,71}</string>
            </dict>
            <key>Jiraiya_Idle_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,407},{71,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{71,79}}</string>
                <key>sourceSize</key>
                <string>{75,79}</string>
            </dict>
            <key>Jiraiya_Idle_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,478},{71,77}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{71,77}}</string>
                <key>sourceSize</key>
                <string>{75,79}</string>
            </dict>
            <key>Jiraiya_Idle_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,452},{71,77}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{71,77}}</string>
                <key>sourceSize</key>
                <string>{75,79}</string>
            </dict>
            <key>Jiraiya_Idle_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,371},{71,75}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{71,75}}</string>
                <key>sourceSize</key>
                <string>{75,79}</string>
            </dict>
            <key>Jiraiya_KnockDown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,133},{101,71}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,71}}</string>
                <key>sourceSize</key>
                <string>{101,79}</string>
            </dict>
            <key>Jiraiya_KnockDown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,317},{92,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,63}}</string>
                <key>sourceSize</key>
                <string>{92,63}</string>
            </dict>
            <key>Jiraiya_KnockDown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,286},{102,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,40}}</string>
                <key>sourceSize</key>
                <string>{102,40}</string>
            </dict>
            <key>Jiraiya_KnockDown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,545},{73,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,71}}</string>
                <key>sourceSize</key>
                <string>{73,71}</string>
            </dict>
            <key>Jiraiya_KnockDown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,255},{91,70}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,70}}</string>
                <key>sourceSize</key>
                <string>{91,78}</string>
            </dict>
            <key>Jiraiya_KnockDown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,667},{65,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{65,70}}</string>
                <key>sourceSize</key>
                <string>{65,72}</string>
            </dict>
            <key>Jiraiya_NAttack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{60,75}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,75}}</string>
                <key>sourceSize</key>
                <string>{60,77}</string>
            </dict>
            <key>Jiraiya_NAttack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,146},{100,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,77}}</string>
                <key>sourceSize</key>
                <string>{100,77}</string>
            </dict>
            <key>Jiraiya_NAttack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,373},{83,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,77}}</string>
                <key>sourceSize</key>
                <string>{83,77}</string>
            </dict>
            <key>Jiraiya_NAttack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,465},{51,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,88}}</string>
                <key>sourceSize</key>
                <string>{51,88}</string>
            </dict>
            <key>Jiraiya_NAttack_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,473},{77,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,76}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>Jiraiya_NAttack_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,293},{75,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,76}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>Jiraiya_NAttack_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,167},{103,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,84}}</string>
                <key>sourceSize</key>
                <string>{103,84}</string>
            </dict>
            <key>Jiraiya_NAttack_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,82},{111,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,83}}</string>
                <key>sourceSize</key>
                <string>{111,83}</string>
            </dict>
            <key>Jiraiya_NAttack_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,328},{80,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,84}}</string>
                <key>sourceSize</key>
                <string>{80,84}</string>
            </dict>
            <key>Jiraiya_NAttack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,266},{67,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,92}}</string>
                <key>sourceSize</key>
                <string>{67,92}</string>
            </dict>
            <key>Jiraiya_NAttack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,335},{71,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,89}}</string>
                <key>sourceSize</key>
                <string>{71,89}</string>
            </dict>
            <key>Jiraiya_NAttack_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,333},{53,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,74}}</string>
                <key>sourceSize</key>
                <string>{53,74}</string>
            </dict>
            <key>Jiraiya_NAttack_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,206},{100,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,78}}</string>
                <key>sourceSize</key>
                <string>{100,78}</string>
            </dict>
            <key>Jiraiya_NAttack_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,225},{93,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,78}}</string>
                <key>sourceSize</key>
                <string>{93,78}</string>
            </dict>
            <key>Jiraiya_NAttack_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,520},{59,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,77}}</string>
                <key>sourceSize</key>
                <string>{59,77}</string>
            </dict>
            <key>Jiraiya_NAttack_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,444},{74,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,77}}</string>
                <key>sourceSize</key>
                <string>{74,77}</string>
            </dict>
            <key>Jiraiya_Skill01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,563},{54,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,82}}</string>
                <key>sourceSize</key>
                <string>{54,82}</string>
            </dict>
            <key>Jiraiya_Skill01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,540},{55,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,82}}</string>
                <key>sourceSize</key>
                <string>{55,82}</string>
            </dict>
            <key>Jiraiya_Skill01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,388},{71,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,83}}</string>
                <key>sourceSize</key>
                <string>{71,83}</string>
            </dict>
            <key>Jiraiya_Skill01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,468},{70,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,87}}</string>
                <key>sourceSize</key>
                <string>{70,87}</string>
            </dict>
            <key>Jiraiya_Skill01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,401},{70,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,83}}</string>
                <key>sourceSize</key>
                <string>{70,83}</string>
            </dict>
            <key>Jiraiya_Skill01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,540},{55,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,82}}</string>
                <key>sourceSize</key>
                <string>{55,82}</string>
            </dict>
            <key>Jiraiya_Skill02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,327},{72,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,85}}</string>
                <key>sourceSize</key>
                <string>{72,85}</string>
            </dict>
            <key>Jiraiya_Skill02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,687},{64,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,66}}</string>
                <key>sourceSize</key>
                <string>{64,66}</string>
            </dict>
            <key>Jiraiya_Skill02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{64,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,65}}</string>
                <key>sourceSize</key>
                <string>{64,65}</string>
            </dict>
            <key>Jiraiya_Skill03_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,408},{73,88}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,0},{73,88}}</string>
                <key>sourceSize</key>
                <string>{203,88}</string>
            </dict>
            <key>Jiraiya_Skill03_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,442},{59,82}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,6},{59,82}}</string>
                <key>sourceSize</key>
                <string>{203,88}</string>
            </dict>
            <key>Jiraiya_Skill03_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,133},{123,78}}</string>
                <key>offset</key>
                <string>{37,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,10},{123,78}}</string>
                <key>sourceSize</key>
                <string>{203,88}</string>
            </dict>
            <key>Jiraiya_Skill03_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,226},{121,78}}</string>
                <key>offset</key>
                <string>{36,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,10},{121,78}}</string>
                <key>sourceSize</key>
                <string>{203,88}</string>
            </dict>
            <key>Jiraiya_Skill03_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,146},{121,78}}</string>
                <key>offset</key>
                <string>{36,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,10},{121,78}}</string>
                <key>sourceSize</key>
                <string>{203,88}</string>
            </dict>
            <key>Jiraiya_Skill03_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,213},{121,78}}</string>
                <key>offset</key>
                <string>{37,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,10},{121,78}}</string>
                <key>sourceSize</key>
                <string>{203,88}</string>
            </dict>
            <key>Jiraiya_Skill03_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,253},{121,78}}</string>
                <key>offset</key>
                <string>{36,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,10},{121,78}}</string>
                <key>sourceSize</key>
                <string>{203,88}</string>
            </dict>
            <key>Jiraiya_Skill03_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,2},{119,78}}</string>
                <key>offset</key>
                <string>{35,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,10},{119,78}}</string>
                <key>sourceSize</key>
                <string>{203,88}</string>
            </dict>
            <key>Jiraiya_Skill04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,293},{78,85}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,85}}</string>
                <key>sourceSize</key>
                <string>{94,85}</string>
            </dict>
            <key>Jiraiya_Skill04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{78,85}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,85}}</string>
                <key>sourceSize</key>
                <string>{94,85}</string>
            </dict>
            <key>Jiraiya_Skill04_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,483},{78,85}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,85}}</string>
                <key>sourceSize</key>
                <string>{94,85}</string>
            </dict>
            <key>Jiraiya_Skill04_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,619},{75,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,66}}</string>
                <key>sourceSize</key>
                <string>{75,66}</string>
            </dict>
            <key>Jiraiya_Skill04_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{230,125}}</string>
                <key>offset</key>
                <string>{71,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,14},{230,125}}</string>
                <key>sourceSize</key>
                <string>{378,139}</string>
            </dict>
            <key>Jiraiya_Skill04_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{212,129}}</string>
                <key>offset</key>
                <string>{66,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,0},{212,129}}</string>
                <key>sourceSize</key>
                <string>{378,129}</string>
            </dict>
            <key>Jiraiya_Skill04_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{228,142}}</string>
                <key>offset</key>
                <string>{75,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,0},{228,142}}</string>
                <key>sourceSize</key>
                <string>{378,142}</string>
            </dict>
            <key>Jiraiya_Skill04_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{222,125}}</string>
                <key>offset</key>
                <string>{71,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,0},{222,125}}</string>
                <key>sourceSize</key>
                <string>{378,125}</string>
            </dict>
            <key>Jiraiya_Skill04_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,129},{208,124}}</string>
                <key>offset</key>
                <string>{65,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,0},{208,124}}</string>
                <key>sourceSize</key>
                <string>{378,124}</string>
            </dict>
            <key>Jiraiya_Skill04_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{224,135}}</string>
                <key>offset</key>
                <string>{73,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,0},{224,135}}</string>
                <key>sourceSize</key>
                <string>{378,135}</string>
            </dict>
            <key>Jiraiya_Skill05_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,403},{82,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,77}}</string>
                <key>sourceSize</key>
                <string>{82,77}</string>
            </dict>
            <key>Jiraiya_Skill05_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,320},{81,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,90}}</string>
                <key>sourceSize</key>
                <string>{81,90}</string>
            </dict>
            <key>Jiraiya_Skill05_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,551},{69,76}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,14},{69,76}}</string>
                <key>sourceSize</key>
                <string>{71,90}</string>
            </dict>
            <key>Jiraiya_Skill05_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,482},{70,76}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{70,76}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>Jiraiya_Skill05_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,473},{70,76}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{70,76}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>Jiraiya_Skill05_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,503},{69,76}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,14},{69,76}}</string>
                <key>sourceSize</key>
                <string>{71,90}</string>
            </dict>
            <key>Jiraiya_Skill05_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,597},{68,76}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{68,76}}</string>
                <key>sourceSize</key>
                <string>{68,90}</string>
            </dict>
            <key>Jiraiya_Skill05_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{88,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,81}}</string>
                <key>sourceSize</key>
                <string>{88,81}</string>
            </dict>
            <key>Jiraiya_Skill05_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,563},{54,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,82}}</string>
                <key>sourceSize</key>
                <string>{54,82}</string>
            </dict>
            <key>Jiraiya_Walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,333},{80,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,72}}</string>
                <key>sourceSize</key>
                <string>{80,72}</string>
            </dict>
            <key>Jiraiya_Walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,306},{80,66}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{80,66}}</string>
                <key>sourceSize</key>
                <string>{80,72}</string>
            </dict>
            <key>Jiraiya_Walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,574},{72,66}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{72,66}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>Jiraiya_Walk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{80,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,72}}</string>
                <key>sourceSize</key>
                <string>{80,72}</string>
            </dict>
            <key>Jiraiya_Walk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,410},{79,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{79,66}}</string>
                <key>sourceSize</key>
                <string>{79,72}</string>
            </dict>
            <key>Jiraiya_Walk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,554},{72,66}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{72,66}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Jiraiya.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:037fa9428c1b0104a1ce8e00e048699d$</string>
            <key>textureFileName</key>
            <string>Jiraiya.pvr.ccz</string>
        </dict>
    </dict>
</plist>
