<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MaskRaidon_Idle_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,190},{46,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,100}}</string>
                <key>sourceSize</key>
                <string>{46,100}</string>
            </dict>
            <key>MaskRaidon_Move_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,190},{46,100}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,2},{46,100}}</string>
                <key>sourceSize</key>
                <string>{196,102}</string>
            </dict>
            <key>MaskRaidon_Move_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{76,98}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,3},{76,98}}</string>
                <key>sourceSize</key>
                <string>{196,102}</string>
            </dict>
            <key>MaskRaidon_Move_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{124,92}}</string>
                <key>offset</key>
                <string>{36,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,9},{124,92}}</string>
                <key>sourceSize</key>
                <string>{196,102}</string>
            </dict>
            <key>MaskRaidon_Move_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,92}}</string>
                <key>offset</key>
                <string>{36,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,9},{124,92}}</string>
                <key>sourceSize</key>
                <string>{196,102}</string>
            </dict>
            <key>MaskRaidon_Move_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{122,92}}</string>
                <key>offset</key>
                <string>{36,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,9},{122,92}}</string>
                <key>sourceSize</key>
                <string>{196,102}</string>
            </dict>
            <key>MaskRaidon_Move_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,96},{112,92}}</string>
                <key>offset</key>
                <string>{30,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,9},{112,92}}</string>
                <key>sourceSize</key>
                <string>{196,102}</string>
            </dict>
            <key>MaskRaidon_Walk_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,190},{46,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,100}}</string>
                <key>sourceSize</key>
                <string>{46,100}</string>
            </dict>
            <key>MaskRaidon_Walk_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{46,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,100}}</string>
                <key>sourceSize</key>
                <string>{46,100}</string>
            </dict>
            <key>MaskRaidon_Walk_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,190},{46,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,99}}</string>
                <key>sourceSize</key>
                <string>{46,99}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MaskRaidon.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d73e2861919632cbe9ea8b831263982c$</string>
            <key>textureFileName</key>
            <string>MaskRaidon.pvr.ccz</string>
        </dict>
    </dict>
</plist>
