<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Kurama_Idle_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,462},{261,138}}</string>
                <key>offset</key>
                <string>{-28,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,68},{261,138}}</string>
                <key>sourceSize</key>
                <string>{473,206}</string>
            </dict>
            <key>Kurama_NAttack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,283},{281,198}}</string>
                <key>offset</key>
                <string>{-17,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,8},{281,198}}</string>
                <key>sourceSize</key>
                <string>{473,206}</string>
            </dict>
            <key>Kurama_NAttack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,172},{359,138}}</string>
                <key>offset</key>
                <string>{21,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,68},{359,138}}</string>
                <key>sourceSize</key>
                <string>{473,206}</string>
            </dict>
            <key>Kurama_NAttack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{375,142}}</string>
                <key>offset</key>
                <string>{30,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,64},{375,142}}</string>
                <key>sourceSize</key>
                <string>{473,206}</string>
            </dict>
            <key>Kurama_NAttack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{385,166}}</string>
                <key>offset</key>
                <string>{34,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,40},{385,166}}</string>
                <key>sourceSize</key>
                <string>{473,206}</string>
            </dict>
            <key>Kurama_NAttack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,2},{383,168}}</string>
                <key>offset</key>
                <string>{34,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,38},{383,168}}</string>
                <key>sourceSize</key>
                <string>{473,206}</string>
            </dict>
            <key>Kurama_Walk_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,312},{309,148}}</string>
                <key>offset</key>
                <string>{-1,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,75},{309,148}}</string>
                <key>sourceSize</key>
                <string>{321,224}</string>
            </dict>
            <key>Kurama_Walk_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,2},{279,208}}</string>
                <key>offset</key>
                <string>{-14,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,16},{279,208}}</string>
                <key>sourceSize</key>
                <string>{321,224}</string>
            </dict>
            <key>Kurama_Walk_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{277,196}}</string>
                <key>offset</key>
                <string>{-8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,28},{277,196}}</string>
                <key>sourceSize</key>
                <string>{321,224}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Kurama.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2bb8e921b8862a035f9820be380030cd$</string>
            <key>textureFileName</key>
            <string>Kurama.pvr.ccz</string>
        </dict>
    </dict>
</plist>
