<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MaskFudon_Idle_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{93,30}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{93,30}}</string>
                <key>sourceSize</key>
                <string>{95,88}</string>
            </dict>
            <key>MaskFudon_Move_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,146},{93,30}}</string>
                <key>offset</key>
                <string>{-8,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,11},{93,30}}</string>
                <key>sourceSize</key>
                <string>{287,88}</string>
            </dict>
            <key>MaskFudon_Move_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{139,46}}</string>
                <key>offset</key>
                <string>{22,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,16},{139,46}}</string>
                <key>sourceSize</key>
                <string>{287,88}</string>
            </dict>
            <key>MaskFudon_Move_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{191,46}}</string>
                <key>offset</key>
                <string>{48,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,16},{191,46}}</string>
                <key>sourceSize</key>
                <string>{287,88}</string>
            </dict>
            <key>MaskFudon_Move_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{191,46}}</string>
                <key>offset</key>
                <string>{48,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,16},{191,46}}</string>
                <key>sourceSize</key>
                <string>{287,88}</string>
            </dict>
            <key>MaskFudon_Move_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,2},{191,46}}</string>
                <key>offset</key>
                <string>{48,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,16},{191,46}}</string>
                <key>sourceSize</key>
                <string>{287,88}</string>
            </dict>
            <key>MaskFudon_Move_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{191,46}}</string>
                <key>offset</key>
                <string>{48,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,16},{191,46}}</string>
                <key>sourceSize</key>
                <string>{287,88}</string>
            </dict>
            <key>MaskFudon_Walk_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{93,30}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{93,30}}</string>
                <key>sourceSize</key>
                <string>{95,88}</string>
            </dict>
            <key>MaskFudon_Walk_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{93,28}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{93,28}}</string>
                <key>sourceSize</key>
                <string>{95,88}</string>
            </dict>
            <key>MaskFudon_Walk_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,194},{91,30}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{91,30}}</string>
                <key>sourceSize</key>
                <string>{95,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MaskFudon.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9804a1f1fc8243bff9f884e9534c9eb2$</string>
            <key>textureFileName</key>
            <string>MaskFudon.pvr.ccz</string>
        </dict>
    </dict>
</plist>
