<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bagua_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,293},{85,33}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,25},{85,33}}</string>
                <key>sourceSize</key>
                <string>{253,97}</string>
            </dict>
            <key>Bagua_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,200},{97,37}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,22},{97,37}}</string>
                <key>sourceSize</key>
                <string>{253,97}</string>
            </dict>
            <key>Bagua_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,101},{253,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,97}}</string>
                <key>sourceSize</key>
                <string>{253,97}</string>
            </dict>
            <key>Bagua_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{253,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,97}}</string>
                <key>sourceSize</key>
                <string>{253,97}</string>
            </dict>
            <key>Bagua_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{253,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,97}}</string>
                <key>sourceSize</key>
                <string>{253,97}</string>
            </dict>
            <key>Bagua_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{253,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,97}}</string>
                <key>sourceSize</key>
                <string>{253,97}</string>
            </dict>
            <key>Bagua_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{253,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,97}}</string>
                <key>sourceSize</key>
                <string>{253,97}</string>
            </dict>
            <key>Bagua_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{253,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,97}}</string>
                <key>sourceSize</key>
                <string>{253,97}</string>
            </dict>
            <key>Bagua_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{253,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,97}}</string>
                <key>sourceSize</key>
                <string>{253,97}</string>
            </dict>
            <key>Bagua_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{253,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,97}}</string>
                <key>sourceSize</key>
                <string>{253,97}</string>
            </dict>
            <key>Bagua_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{253,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,97}}</string>
                <key>sourceSize</key>
                <string>{253,97}</string>
            </dict>
            <key>Bagua_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{253,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,97}}</string>
                <key>sourceSize</key>
                <string>{253,97}</string>
            </dict>
            <key>Bagua_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{253,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,97}}</string>
                <key>sourceSize</key>
                <string>{253,97}</string>
            </dict>
            <key>Bagua_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{253,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,97}}</string>
                <key>sourceSize</key>
                <string>{253,97}</string>
            </dict>
            <key>Bagua_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{253,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,97}}</string>
                <key>sourceSize</key>
                <string>{253,97}</string>
            </dict>
            <key>Bagua_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{253,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,97}}</string>
                <key>sourceSize</key>
                <string>{253,97}</string>
            </dict>
            <key>Bagua_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{253,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,97}}</string>
                <key>sourceSize</key>
                <string>{253,97}</string>
            </dict>
            <key>Bagua_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{253,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,97}}</string>
                <key>sourceSize</key>
                <string>{253,97}</string>
            </dict>
            <key>Bagua_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{253,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,97}}</string>
                <key>sourceSize</key>
                <string>{253,97}</string>
            </dict>
            <key>Bagua_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{253,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,97}}</string>
                <key>sourceSize</key>
                <string>{253,97}</string>
            </dict>
            <key>Bagua_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{253,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,97}}</string>
                <key>sourceSize</key>
                <string>{253,97}</string>
            </dict>
            <key>Bagua_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,2},{253,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,97}}</string>
                <key>sourceSize</key>
                <string>{253,97}</string>
            </dict>
            <key>Bagua_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{253,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,97}}</string>
                <key>sourceSize</key>
                <string>{253,97}</string>
            </dict>
            <key>FireEffect_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,293},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{30,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>FireEffect_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,444},{28,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{28,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>FireEffect_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,390},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>FireEffect_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,325},{28,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{28,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Hiraishin2Effect_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,328},{75,57}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,17},{75,57}}</string>
                <key>sourceSize</key>
                <string>{79,89}</string>
            </dict>
            <key>Hiraishin2Effect_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,376},{67,63}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{67,63}}</string>
                <key>sourceSize</key>
                <string>{79,89}</string>
            </dict>
            <key>Hiraishin2Effect_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,414},{61,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,15},{61,59}}</string>
                <key>sourceSize</key>
                <string>{79,89}</string>
            </dict>
            <key>HiraishinEffect_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,301},{75,57}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,17},{75,57}}</string>
                <key>sourceSize</key>
                <string>{79,89}</string>
            </dict>
            <key>HiraishinEffect_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,311},{67,63}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{67,63}}</string>
                <key>sourceSize</key>
                <string>{79,89}</string>
            </dict>
            <key>HiraishinEffect_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,525},{61,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,15},{61,59}}</string>
                <key>sourceSize</key>
                <string>{79,89}</string>
            </dict>
            <key>Hupo_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,456},{55,58}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{55,58}}</string>
                <key>sourceSize</key>
                <string>{55,68}</string>
            </dict>
            <key>Hupo_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,428},{51,66}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{51,66}}</string>
                <key>sourceSize</key>
                <string>{55,68}</string>
            </dict>
            <key>Hupo_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,441},{51,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{51,66}}</string>
                <key>sourceSize</key>
                <string>{55,68}</string>
            </dict>
            <key>Hupo_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,481},{53,52}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,16},{53,52}}</string>
                <key>sourceSize</key>
                <string>{55,68}</string>
            </dict>
            <key>Hupo_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,519},{49,52}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,16},{49,52}}</string>
                <key>sourceSize</key>
                <string>{55,68}</string>
            </dict>
            <key>Hupo_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,236},{47,52}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{47,52}}</string>
                <key>sourceSize</key>
                <string>{55,68}</string>
            </dict>
            <key>Kagura_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,472},{42,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,44}}</string>
                <key>sourceSize</key>
                <string>{42,44}</string>
            </dict>
            <key>Kagura_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,290},{44,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,47}}</string>
                <key>sourceSize</key>
                <string>{44,47}</string>
            </dict>
            <key>Kagura_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,475},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,49}}</string>
                <key>sourceSize</key>
                <string>{48,49}</string>
            </dict>
            <key>Kagura_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,499},{51,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,53}}</string>
                <key>sourceSize</key>
                <string>{51,53}</string>
            </dict>
            <key>Kagura_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{57,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,58}}</string>
                <key>sourceSize</key>
                <string>{57,58}</string>
            </dict>
            <key>Kagura_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,462},{59,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,61}}</string>
                <key>sourceSize</key>
                <string>{59,61}</string>
            </dict>
            <key>Kagura_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,349},{63,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,61}}</string>
                <key>sourceSize</key>
                <string>{63,61}</string>
            </dict>
            <key>Kagura_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,387},{67,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,68}}</string>
                <key>sourceSize</key>
                <string>{67,68}</string>
            </dict>
            <key>Kujiyose.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{164,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,34}}</string>
                <key>sourceSize</key>
                <string>{164,34}</string>
            </dict>
            <key>Traps_Attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,335},{62,54}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,16},{62,54}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>Traps_Attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,360},{66,66}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{66,66}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>Traps_Attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,239},{94,70}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{94,70}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>Traps_Attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,281},{94,18}}</string>
                <key>offset</key>
                <string>{-1,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,62},{94,18}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>Traps_Move_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,351},{21,48}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{21,48}}</string>
                <key>sourceSize</key>
                <string>{39,60}</string>
            </dict>
            <key>Traps_Move_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,301},{21,48}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{21,48}}</string>
                <key>sourceSize</key>
                <string>{39,60}</string>
            </dict>
            <key>Traps_Move_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,396},{29,46}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{29,46}}</string>
                <key>sourceSize</key>
                <string>{39,60}</string>
            </dict>
            <key>Traps_Move_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,301},{21,48}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{21,48}}</string>
                <key>sourceSize</key>
                <string>{39,60}</string>
            </dict>
            <key>Traps_Move_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,351},{21,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{21,48}}</string>
                <key>sourceSize</key>
                <string>{39,60}</string>
            </dict>
            <key>Traps_Move_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,285},{21,48}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{21,48}}</string>
                <key>sourceSize</key>
                <string>{39,60}</string>
            </dict>
            <key>Traps_Move_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,424},{29,46}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{29,46}}</string>
                <key>sourceSize</key>
                <string>{39,60}</string>
            </dict>
            <key>Traps_Move_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,285},{21,48}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{21,48}}</string>
                <key>sourceSize</key>
                <string>{39,60}</string>
            </dict>
            <key>hp_restore_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,512},{15,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,49}}</string>
                <key>sourceSize</key>
                <string>{15,49}</string>
            </dict>
            <key>hp_restore_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,493},{18,17}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{18,17}}</string>
                <key>sourceSize</key>
                <string>{18,49}</string>
            </dict>
            <key>hp_restore_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,401},{17,19}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{17,19}}</string>
                <key>sourceSize</key>
                <string>{17,49}</string>
            </dict>
            <key>hp_restore_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,223},{21,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{21,23}}</string>
                <key>sourceSize</key>
                <string>{21,49}</string>
            </dict>
            <key>kazi.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,454},{44,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,43}}</string>
                <key>sourceSize</key>
                <string>{44,43}</string>
            </dict>
            <key>sharingan.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,563},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>sharingan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,525},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>sharingan3.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,516},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>sharingan4.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,513},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>smk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,420},{33,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,32}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>smk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,399},{61,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,53}}</string>
                <key>sourceSize</key>
                <string>{61,53}</string>
            </dict>
            <key>smk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,494},{64,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{64,65}}</string>
                <key>sourceSize</key>
                <string>{66,65}</string>
            </dict>
            <key>smk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{62,65}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,65}}</string>
                <key>sourceSize</key>
                <string>{68,65}</string>
            </dict>
            <key>speedUp_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,474},{15,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,49}}</string>
                <key>sourceSize</key>
                <string>{15,49}</string>
            </dict>
            <key>speedUp_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,474},{18,17}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{18,17}}</string>
                <key>sourceSize</key>
                <string>{18,49}</string>
            </dict>
            <key>speedUp_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,311},{17,19}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{17,19}}</string>
                <key>sourceSize</key>
                <string>{17,49}</string>
            </dict>
            <key>speedUp_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,200},{21,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{21,23}}</string>
                <key>sourceSize</key>
                <string>{21,49}</string>
            </dict>
            <key>stun_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,390},{28,12}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{28,12}}</string>
                <key>sourceSize</key>
                <string>{30,16}</string>
            </dict>
            <key>stun_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,360},{28,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{28,12}}</string>
                <key>sourceSize</key>
                <string>{30,16}</string>
            </dict>
            <key>stun_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,336},{28,10}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{28,10}}</string>
                <key>sourceSize</key>
                <string>{30,16}</string>
            </dict>
            <key>stun_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,319},{28,12}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{28,12}}</string>
                <key>sourceSize</key>
                <string>{30,16}</string>
            </dict>
            <key>tishen_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,246},{25,37}}</string>
                <key>offset</key>
                <string>{-6,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,86},{25,37}}</string>
                <key>sourceSize</key>
                <string>{107,123}</string>
            </dict>
            <key>tishen_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,319},{75,101}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,22},{75,101}}</string>
                <key>sourceSize</key>
                <string>{107,123}</string>
            </dict>
            <key>tishen_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,200},{79,99}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{79,99}}</string>
                <key>sourceSize</key>
                <string>{107,123}</string>
            </dict>
            <key>tishen_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{81,115}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{81,115}}</string>
                <key>sourceSize</key>
                <string>{107,123}</string>
            </dict>
            <key>tishen_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,200},{91,117}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{91,117}}</string>
                <key>sourceSize</key>
                <string>{107,123}</string>
            </dict>
            <key>tishen_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,355},{33,33}}</string>
                <key>offset</key>
                <string>{-1,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,90},{33,33}}</string>
                <key>sourceSize</key>
                <string>{107,123}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SkillEffect.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff7e8011eab33c3f7a312e7c89ac84df$</string>
            <key>textureFileName</key>
            <string>SkillEffect.png</string>
        </dict>
    </dict>
</plist>
