<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sai_AirHurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,768},{49,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,60}}</string>
                <key>sourceSize</key>
                <string>{49,60}</string>
            </dict>
            <key>Sai_AirHurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,528},{24,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,77}}</string>
                <key>sourceSize</key>
                <string>{24,77}</string>
            </dict>
            <key>Sai_Float_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,752},{60,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,49}}</string>
                <key>sourceSize</key>
                <string>{60,49}</string>
            </dict>
            <key>Sai_Float_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,680},{70,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,56}}</string>
                <key>sourceSize</key>
                <string>{70,56}</string>
            </dict>
            <key>Sai_Float_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,617},{56,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,70}}</string>
                <key>sourceSize</key>
                <string>{56,70}</string>
            </dict>
            <key>Sai_Hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,669},{51,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,71}}</string>
                <key>sourceSize</key>
                <string>{51,71}</string>
            </dict>
            <key>Sai_Hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,780},{43,65}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{43,65}}</string>
                <key>sourceSize</key>
                <string>{43,71}</string>
            </dict>
            <key>Sai_Idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,689},{46,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,71}}</string>
                <key>sourceSize</key>
                <string>{46,71}</string>
            </dict>
            <key>Sai_Idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{46,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,71}}</string>
                <key>sourceSize</key>
                <string>{46,71}</string>
            </dict>
            <key>Sai_Idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,607},{46,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,71}}</string>
                <key>sourceSize</key>
                <string>{46,71}</string>
            </dict>
            <key>Sai_Idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{46,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{46,69}}</string>
                <key>sourceSize</key>
                <string>{46,71}</string>
            </dict>
            <key>Sai_KnockDown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,311},{61,36}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{61,36}}</string>
                <key>sourceSize</key>
                <string>{61,50}</string>
            </dict>
            <key>Sai_KnockDown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,538},{77,24}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{77,24}}</string>
                <key>sourceSize</key>
                <string>{77,50}</string>
            </dict>
            <key>Sai_KnockDown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,231},{78,26}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{78,26}}</string>
                <key>sourceSize</key>
                <string>{78,50}</string>
            </dict>
            <key>Sai_KnockDown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,150},{79,26}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{79,26}}</string>
                <key>sourceSize</key>
                <string>{79,50}</string>
            </dict>
            <key>Sai_KnockDown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,791},{42,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,50}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>Sai_NAttack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,695},{43,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{43,69}}</string>
                <key>sourceSize</key>
                <string>{43,71}</string>
            </dict>
            <key>Sai_NAttack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,644},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>Sai_NAttack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,624},{69,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,71}}</string>
                <key>sourceSize</key>
                <string>{69,71}</string>
            </dict>
            <key>Sai_NAttack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,745},{46,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{46,69}}</string>
                <key>sourceSize</key>
                <string>{46,71}</string>
            </dict>
            <key>Sai_NAttack_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,530},{82,65}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{82,65}}</string>
                <key>sourceSize</key>
                <string>{82,71}</string>
            </dict>
            <key>Sai_NAttack_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,538},{80,65}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{80,65}}</string>
                <key>sourceSize</key>
                <string>{80,71}</string>
            </dict>
            <key>Sai_NAttack_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,695},{48,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,71}}</string>
                <key>sourceSize</key>
                <string>{48,71}</string>
            </dict>
            <key>Sai_NAttack_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,605},{43,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,72}}</string>
                <key>sourceSize</key>
                <string>{43,72}</string>
            </dict>
            <key>Sai_NAttack_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,796},{54,62}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{54,62}}</string>
                <key>sourceSize</key>
                <string>{54,72}</string>
            </dict>
            <key>Sai_NAttack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,293},{115,66}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{115,66}}</string>
                <key>sourceSize</key>
                <string>{115,72}</string>
            </dict>
            <key>Sai_NAttack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,527},{60,66}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{60,66}}</string>
                <key>sourceSize</key>
                <string>{60,72}</string>
            </dict>
            <key>Sai_NAttack_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,552},{75,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,70}}</string>
                <key>sourceSize</key>
                <string>{75,72}</string>
            </dict>
            <key>Sai_NAttack_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,623},{44,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,72}}</string>
                <key>sourceSize</key>
                <string>{44,72}</string>
            </dict>
            <key>Sai_NAttack_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,700},{46,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{46,70}}</string>
                <key>sourceSize</key>
                <string>{46,72}</string>
            </dict>
            <key>Sai_Skill01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,449},{29,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,77}}</string>
                <key>sourceSize</key>
                <string>{29,77}</string>
            </dict>
            <key>Sai_Skill02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{50,65}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{50,65}}</string>
                <key>sourceSize</key>
                <string>{50,71}</string>
            </dict>
            <key>Sai_Skill02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,737},{41,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{41,69}}</string>
                <key>sourceSize</key>
                <string>{41,71}</string>
            </dict>
            <key>Sai_Skill02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,226},{116,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{116,65}}</string>
                <key>sourceSize</key>
                <string>{190,65}</string>
            </dict>
            <key>Sai_Skill02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,83},{154,65}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{154,65}}</string>
                <key>sourceSize</key>
                <string>{190,65}</string>
            </dict>
            <key>Sai_Skill02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{130,65}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{130,65}}</string>
                <key>sourceSize</key>
                <string>{190,65}</string>
            </dict>
            <key>Sai_Skill04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{49,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,72}}</string>
                <key>sourceSize</key>
                <string>{49,72}</string>
            </dict>
            <key>Sai_Skill04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,476},{49,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,68}}</string>
                <key>sourceSize</key>
                <string>{49,68}</string>
            </dict>
            <key>Sai_Skill04_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,793},{61,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,65}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>Sai_Skill04_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,215},{83,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,111}}</string>
                <key>sourceSize</key>
                <string>{83,111}</string>
            </dict>
            <key>Sai_Skill04_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,323},{43,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,107}}</string>
                <key>sourceSize</key>
                <string>{43,107}</string>
            </dict>
            <key>Sai_Skill04_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,597},{45,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,79}}</string>
                <key>sourceSize</key>
                <string>{45,79}</string>
            </dict>
            <key>Sai_Skill04_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,650},{48,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,71}}</string>
                <key>sourceSize</key>
                <string>{48,71}</string>
            </dict>
            <key>Sai_Skill05_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{83,101}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,0},{83,101}}</string>
                <key>sourceSize</key>
                <string>{171,101}</string>
            </dict>
            <key>Sai_Skill05_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,368},{89,101}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,0},{89,101}}</string>
                <key>sourceSize</key>
                <string>{171,101}</string>
            </dict>
            <key>Sai_Skill05_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,150},{125,101}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,0},{125,101}}</string>
                <key>sourceSize</key>
                <string>{171,101}</string>
            </dict>
            <key>Sai_Skill05_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,439},{97,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,1},{97,99}}</string>
                <key>sourceSize</key>
                <string>{171,101}</string>
            </dict>
            <key>Sai_Skill05_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,459},{99,91}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,10},{99,91}}</string>
                <key>sourceSize</key>
                <string>{171,101}</string>
            </dict>
            <key>Sai_Skill05_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,485},{99,85}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,16},{99,85}}</string>
                <key>sourceSize</key>
                <string>{171,101}</string>
            </dict>
            <key>Sai_Skill05_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,2},{163,79}}</string>
                <key>offset</key>
                <string>{31,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,14},{163,79}}</string>
                <key>sourceSize</key>
                <string>{361,93}</string>
            </dict>
            <key>Sai_Skill05_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{229,87}}</string>
                <key>offset</key>
                <string>{64,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,6},{229,87}}</string>
                <key>sourceSize</key>
                <string>{361,93}</string>
            </dict>
            <key>Sai_Skill10_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,748},{66,46}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{66,46}}</string>
                <key>sourceSize</key>
                <string>{146,46}</string>
            </dict>
            <key>Sai_Skill10_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,271},{108,50}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{108,50}}</string>
                <key>sourceSize</key>
                <string>{146,50}</string>
            </dict>
            <key>Sai_Skill10_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,91},{146,55}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{146,55}}</string>
                <key>sourceSize</key>
                <string>{146,65}</string>
            </dict>
            <key>Sai_Skill10_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,88},{120,50}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{120,50}}</string>
                <key>sourceSize</key>
                <string>{146,50}</string>
            </dict>
            <key>Sai_Skill11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,339},{98,106}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,106}}</string>
                <key>sourceSize</key>
                <string>{108,134}</string>
            </dict>
            <key>Sai_Skill11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,361},{86,111}}</string>
                <key>offset</key>
                <string>{6,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{86,111}}</string>
                <key>sourceSize</key>
                <string>{120,129}</string>
            </dict>
            <key>Sai_Skill11_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,449},{91,79}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{91,79}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>Sai_Skill11_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,185},{84,96}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{84,96}}</string>
                <key>sourceSize</key>
                <string>{108,114}</string>
            </dict>
            <key>Sai_Skill11_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,140},{84,116}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{84,116}}</string>
                <key>sourceSize</key>
                <string>{108,142}</string>
            </dict>
            <key>Sai_Skill11_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{84,112}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,7},{84,112}}</string>
                <key>sourceSize</key>
                <string>{108,136}</string>
            </dict>
            <key>Sai_Skill12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{98,107}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{98,107}}</string>
                <key>sourceSize</key>
                <string>{128,145}</string>
            </dict>
            <key>Sai_Skill12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,361},{86,111}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,3},{86,111}}</string>
                <key>sourceSize</key>
                <string>{128,139}</string>
            </dict>
            <key>Sai_Skill12_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,91},{92,80}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,20},{92,80}}</string>
                <key>sourceSize</key>
                <string>{128,134}</string>
            </dict>
            <key>Sai_Skill12_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{84,112}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,1},{84,112}}</string>
                <key>sourceSize</key>
                <string>{128,134}</string>
            </dict>
            <key>Sai_Skill12_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,140},{84,116}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,5},{84,116}}</string>
                <key>sourceSize</key>
                <string>{128,134}</string>
            </dict>
            <key>Sai_Skill12_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,253},{84,113}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,10},{84,113}}</string>
                <key>sourceSize</key>
                <string>{128,131}</string>
            </dict>
            <key>Sai_Walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,740},{65,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,49}}</string>
                <key>sourceSize</key>
                <string>{65,51}</string>
            </dict>
            <key>Sai_Walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,642},{66,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,51}}</string>
                <key>sourceSize</key>
                <string>{66,51}</string>
            </dict>
            <key>Sai_Walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,425},{55,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{55,49}}</string>
                <key>sourceSize</key>
                <string>{55,51}</string>
            </dict>
            <key>Sai_Walk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,717},{65,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,49}}</string>
                <key>sourceSize</key>
                <string>{65,51}</string>
            </dict>
            <key>Sai_Walk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,589},{66,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,51}}</string>
                <key>sourceSize</key>
                <string>{66,51}</string>
            </dict>
            <key>Sai_Walk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,374},{55,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{55,49}}</string>
                <key>sourceSize</key>
                <string>{55,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Sai.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:757d30933df6756917ab10192f0d2b17$</string>
            <key>textureFileName</key>
            <string>Sai.pvr.ccz</string>
        </dict>
    </dict>
</plist>
