<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Choji_AirHurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,216},{66,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,87}}</string>
                <key>sourceSize</key>
                <string>{66,87}</string>
            </dict>
            <key>Choji_AirHurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,550},{49,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,84}}</string>
                <key>sourceSize</key>
                <string>{49,84}</string>
            </dict>
            <key>Choji_Float_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,305},{87,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,66}}</string>
                <key>sourceSize</key>
                <string>{87,66}</string>
            </dict>
            <key>Choji_Float_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,661},{84,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,49}}</string>
                <key>sourceSize</key>
                <string>{84,49}</string>
            </dict>
            <key>Choji_Float_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,224},{47,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,84}}</string>
                <key>sourceSize</key>
                <string>{47,84}</string>
            </dict>
            <key>Choji_Hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,513},{61,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,70}}</string>
                <key>sourceSize</key>
                <string>{61,70}</string>
            </dict>
            <key>Choji_Hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,185},{52,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,68}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>Choji_Idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,668},{65,77}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{65,77}}</string>
                <key>sourceSize</key>
                <string>{71,77}</string>
            </dict>
            <key>Choji_Idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,394},{65,77}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{65,77}}</string>
                <key>sourceSize</key>
                <string>{71,77}</string>
            </dict>
            <key>Choji_Idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,600},{65,75}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{65,75}}</string>
                <key>sourceSize</key>
                <string>{71,77}</string>
            </dict>
            <key>Choji_KnockDown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,296},{87,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,66}}</string>
                <key>sourceSize</key>
                <string>{87,66}</string>
            </dict>
            <key>Choji_KnockDown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,583},{84,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,47}}</string>
                <key>sourceSize</key>
                <string>{84,47}</string>
            </dict>
            <key>Choji_KnockDown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,606},{84,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,40}}</string>
                <key>sourceSize</key>
                <string>{84,40}</string>
            </dict>
            <key>Choji_KnockDown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,606},{45,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,65}}</string>
                <key>sourceSize</key>
                <string>{45,65}</string>
            </dict>
            <key>Choji_KnockDown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,385},{66,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,51}}</string>
                <key>sourceSize</key>
                <string>{66,51}</string>
            </dict>
            <key>Choji_KnockDown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,662},{54,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,53}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>Choji_NAttack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,461},{51,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,71}}</string>
                <key>sourceSize</key>
                <string>{51,71}</string>
            </dict>
            <key>Choji_NAttack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,504},{75,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,74}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>Choji_NAttack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,109},{68,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,74}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>Choji_NAttack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,438},{69,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,73}}</string>
                <key>sourceSize</key>
                <string>{69,73}</string>
            </dict>
            <key>Choji_NAttack_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,523},{88,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,81}}</string>
                <key>sourceSize</key>
                <string>{88,81}</string>
            </dict>
            <key>Choji_NAttack_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,536},{87,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,81}}</string>
                <key>sourceSize</key>
                <string>{87,81}</string>
            </dict>
            <key>Choji_NAttack_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,210},{68,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,84}}</string>
                <key>sourceSize</key>
                <string>{68,84}</string>
            </dict>
            <key>Choji_NAttack_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,648},{44,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,76}}</string>
                <key>sourceSize</key>
                <string>{44,76}</string>
            </dict>
            <key>Choji_NAttack_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,619},{83,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,73}}</string>
                <key>sourceSize</key>
                <string>{83,73}</string>
            </dict>
            <key>Choji_NAttack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,677},{81,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,73}}</string>
                <key>sourceSize</key>
                <string>{81,73}</string>
            </dict>
            <key>Choji_Skill01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,632},{59,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,77}}</string>
                <key>sourceSize</key>
                <string>{59,77}</string>
            </dict>
            <key>Choji_Skill01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,551},{53,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,78}}</string>
                <key>sourceSize</key>
                <string>{53,78}</string>
            </dict>
            <key>Choji_Skill02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,662},{54,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,53}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>Choji_Skill02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,296},{110,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{110,65}}</string>
                <key>sourceSize</key>
                <string>{114,65}</string>
            </dict>
            <key>Choji_Skill02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,282},{112,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{112,64}}</string>
                <key>sourceSize</key>
                <string>{114,64}</string>
            </dict>
            <key>Choji_Skill02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{114,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,65}}</string>
                <key>sourceSize</key>
                <string>{114,65}</string>
            </dict>
            <key>Choji_Skill02_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,216},{114,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,64}}</string>
                <key>sourceSize</key>
                <string>{114,64}</string>
            </dict>
            <key>Choji_Skill02_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,296},{110,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{110,65}}</string>
                <key>sourceSize</key>
                <string>{114,65}</string>
            </dict>
            <key>Choji_Skill02_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,653},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>Choji_Skill03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,637},{63,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,62}}</string>
                <key>sourceSize</key>
                <string>{63,62}</string>
            </dict>
            <key>Choji_Skill03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{54,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,78}}</string>
                <key>sourceSize</key>
                <string>{54,78}</string>
            </dict>
            <key>Choji_Skill03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,367},{86,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,109}}</string>
                <key>sourceSize</key>
                <string>{86,109}</string>
            </dict>
            <key>Choji_Skill03_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,428},{75,74}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,17},{75,74}}</string>
                <key>sourceSize</key>
                <string>{133,92}</string>
            </dict>
            <key>Choji_Skill03_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,473},{89,76}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,16},{89,76}}</string>
                <key>sourceSize</key>
                <string>{133,92}</string>
            </dict>
            <key>Choji_Skill03_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,569},{101,76}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{101,76}}</string>
                <key>sourceSize</key>
                <string>{133,92}</string>
            </dict>
            <key>Choji_Skill03_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,218},{125,76}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{125,76}}</string>
                <key>sourceSize</key>
                <string>{133,92}</string>
            </dict>
            <key>Choji_Skill03_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{125,74}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,17},{125,74}}</string>
                <key>sourceSize</key>
                <string>{133,92}</string>
            </dict>
            <key>Choji_Skill04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,403},{56,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,71}</string>
            </dict>
            <key>Choji_Skill04_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,503},{78,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,99}}</string>
                <key>sourceSize</key>
                <string>{78,99}</string>
            </dict>
            <key>Choji_Skill04_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,497},{70,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,102}}</string>
                <key>sourceSize</key>
                <string>{70,102}</string>
            </dict>
            <key>Choji_Skill04_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,278},{86,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,111}}</string>
                <key>sourceSize</key>
                <string>{86,111}</string>
            </dict>
            <key>Choji_Skill04_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,425},{70,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,102}}</string>
                <key>sourceSize</key>
                <string>{70,102}</string>
            </dict>
            <key>Choji_Skill04_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,239},{74,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,100}}</string>
                <key>sourceSize</key>
                <string>{74,100}</string>
            </dict>
            <key>Choji_Skill04_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,580},{76,88}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,88}}</string>
                <key>sourceSize</key>
                <string>{102,88}</string>
            </dict>
            <key>Choji_Skill05_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,601},{59,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,77}}</string>
                <key>sourceSize</key>
                <string>{59,77}</string>
            </dict>
            <key>Choji_Skill05_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,576},{59,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,77}}</string>
                <key>sourceSize</key>
                <string>{59,77}</string>
            </dict>
            <key>Choji_Skill09_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{174,113}}</string>
                <key>offset</key>
                <string>{-28,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,21},{174,113}}</string>
                <key>sourceSize</key>
                <string>{262,135}</string>
            </dict>
            <key>Choji_Skill09_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,107},{182,107}}</string>
                <key>offset</key>
                <string>{-33,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,27},{182,107}}</string>
                <key>sourceSize</key>
                <string>{262,135}</string>
            </dict>
            <key>Choji_Skill09_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,218},{176,107}}</string>
                <key>offset</key>
                <string>{-30,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,27},{176,107}}</string>
                <key>sourceSize</key>
                <string>{262,135}</string>
            </dict>
            <key>Choji_Skill09_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,109},{180,107}}</string>
                <key>offset</key>
                <string>{-32,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,27},{180,107}}</string>
                <key>sourceSize</key>
                <string>{262,135}</string>
            </dict>
            <key>Choji_Skill10_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,366},{94,107}}</string>
                <key>offset</key>
                <string>{-9,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,33},{94,107}}</string>
                <key>sourceSize</key>
                <string>{436,141}</string>
            </dict>
            <key>Choji_Skill10_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{262,105}}</string>
                <key>offset</key>
                <string>{75,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,35},{262,105}}</string>
                <key>sourceSize</key>
                <string>{436,141}</string>
            </dict>
            <key>Choji_Skill10_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{252,105}}</string>
                <key>offset</key>
                <string>{69,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,35},{252,105}}</string>
                <key>sourceSize</key>
                <string>{436,141}</string>
            </dict>
            <key>Choji_Skill10_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,455},{108,105}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,27},{108,105}}</string>
                <key>sourceSize</key>
                <string>{436,141}</string>
            </dict>
            <key>Choji_Skill10_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,109},{134,107}}</string>
                <key>offset</key>
                <string>{18,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,30},{134,107}}</string>
                <key>sourceSize</key>
                <string>{436,141}</string>
            </dict>
            <key>Choji_Skill10_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,109},{134,101}}</string>
                <key>offset</key>
                <string>{18,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,40},{134,101}}</string>
                <key>sourceSize</key>
                <string>{436,141}</string>
            </dict>
            <key>Choji_Skill10_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{252,103}}</string>
                <key>offset</key>
                <string>{86,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,38},{252,103}}</string>
                <key>sourceSize</key>
                <string>{436,141}</string>
            </dict>
            <key>Choji_Skill10_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,2},{248,105}}</string>
                <key>offset</key>
                <string>{79,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,36},{248,105}}</string>
                <key>sourceSize</key>
                <string>{436,141}</string>
            </dict>
            <key>Choji_Skill11_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,348},{99,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,110}}</string>
                <key>sourceSize</key>
                <string>{99,110}</string>
            </dict>
            <key>Choji_Skill11_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{97,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,105}}</string>
                <key>sourceSize</key>
                <string>{97,105}</string>
            </dict>
            <key>Choji_Skill11_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,405},{96,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,105}}</string>
                <key>sourceSize</key>
                <string>{96,105}</string>
            </dict>
            <key>Choji_Skill11_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,437},{97,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,106}}</string>
                <key>sourceSize</key>
                <string>{97,106}</string>
            </dict>
            <key>Choji_Skill11_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,449},{99,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,101}}</string>
                <key>sourceSize</key>
                <string>{99,101}</string>
            </dict>
            <key>Choji_Skill11_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,327},{96,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,104}}</string>
                <key>sourceSize</key>
                <string>{96,104}</string>
            </dict>
            <key>Choji_Walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,467},{65,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,63}}</string>
                <key>sourceSize</key>
                <string>{65,63}</string>
            </dict>
            <key>Choji_Walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,604},{69,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,62}}</string>
                <key>sourceSize</key>
                <string>{69,62}</string>
            </dict>
            <key>Choji_Walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,637},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>Choji_Walk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,534},{64,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,63}}</string>
                <key>sourceSize</key>
                <string>{64,63}</string>
            </dict>
            <key>Choji_Walk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,340},{71,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,61}}</string>
                <key>sourceSize</key>
                <string>{71,61}</string>
            </dict>
            <key>Choji_Walk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,310},{57,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,61}}</string>
                <key>sourceSize</key>
                <string>{57,61}</string>
            </dict>
            <key>dcBuff_Effect_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,109},{66,125}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,18},{66,125}}</string>
                <key>sourceSize</key>
                <string>{72,143}</string>
            </dict>
            <key>dcBuff_Effect_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,212},{64,128}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,18},{64,128}}</string>
                <key>sourceSize</key>
                <string>{68,146}</string>
            </dict>
            <key>dcBuff_Effect_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,462},{59,105}}</string>
                <key>offset</key>
                <string>{-3,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,32},{59,105}}</string>
                <key>sourceSize</key>
                <string>{67,137}</string>
            </dict>
            <key>dcBuff_Effect_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,236},{70,102}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,24},{70,102}}</string>
                <key>sourceSize</key>
                <string>{76,126}</string>
            </dict>
            <key>dcBuff_Effect_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,363},{72,109}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,22},{72,109}}</string>
                <key>sourceSize</key>
                <string>{76,131}</string>
            </dict>
            <key>dcBuff_Effect_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,327},{71,99}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,32},{71,99}}</string>
                <key>sourceSize</key>
                <string>{75,131}</string>
            </dict>
            <key>dcBuff_Effect_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,514},{70,88}}</string>
                <key>offset</key>
                <string>{1,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,40},{70,88}}</string>
                <key>sourceSize</key>
                <string>{74,128}</string>
            </dict>
            <key>dcBuff_Effect_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,107},{68,101}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,20},{68,101}}</string>
                <key>sourceSize</key>
                <string>{72,121}</string>
            </dict>
            <key>dcBuff_Effect_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,341},{62,100}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,20},{62,100}}</string>
                <key>sourceSize</key>
                <string>{68,120}</string>
            </dict>
            <key>dcBuff_Effect_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,373},{62,92}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,20},{62,92}}</string>
                <key>sourceSize</key>
                <string>{68,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Choji.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4cfe5a6a3ccf571276341eb044bb132f$</string>
            <key>textureFileName</key>
            <string>Choji.pvr.ccz</string>
        </dict>
    </dict>
</plist>
