<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Jugo_AirHurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,162},{74,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,62}}</string>
                <key>sourceSize</key>
                <string>{74,62}</string>
            </dict>
            <key>Jugo_AirHurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,419},{48,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,74}}</string>
                <key>sourceSize</key>
                <string>{48,74}</string>
            </dict>
            <key>Jugo_Float_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,250},{62,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,74}}</string>
                <key>sourceSize</key>
                <string>{62,74}</string>
            </dict>
            <key>Jugo_Float_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,83},{77,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,69}}</string>
                <key>sourceSize</key>
                <string>{77,69}</string>
            </dict>
            <key>Jugo_Float_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,171},{69,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,77}}</string>
                <key>sourceSize</key>
                <string>{69,77}</string>
            </dict>
            <key>Jugo_Hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,897},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>Jugo_Hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,899},{69,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,65}}</string>
                <key>sourceSize</key>
                <string>{69,65}</string>
            </dict>
            <key>Jugo_Idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,323},{63,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,61}}</string>
                <key>sourceSize</key>
                <string>{63,61}</string>
            </dict>
            <key>Jugo_Idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,832},{65,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,62}}</string>
                <key>sourceSize</key>
                <string>{65,62}</string>
            </dict>
            <key>Jugo_Idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,832},{66,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,63}}</string>
                <key>sourceSize</key>
                <string>{66,63}</string>
            </dict>
            <key>Jugo_Idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,832},{65,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,62}}</string>
                <key>sourceSize</key>
                <string>{65,62}</string>
            </dict>
            <key>Jugo_KnockDown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,551},{81,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,50}}</string>
                <key>sourceSize</key>
                <string>{81,50}</string>
            </dict>
            <key>Jugo_KnockDown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,80},{74,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,54}}</string>
                <key>sourceSize</key>
                <string>{74,54}</string>
            </dict>
            <key>Jugo_KnockDown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,806},{88,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,26}}</string>
                <key>sourceSize</key>
                <string>{88,26}</string>
            </dict>
            <key>Jugo_KnockDown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,899},{73,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,52}}</string>
                <key>sourceSize</key>
                <string>{73,52}</string>
            </dict>
            <key>Jugo_KnockDown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,634},{58,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,62}}</string>
                <key>sourceSize</key>
                <string>{58,62}</string>
            </dict>
            <key>Jugo_KnockDown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,834},{75,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,63}}</string>
                <key>sourceSize</key>
                <string>{75,63}</string>
            </dict>
            <key>Jugo_NAttack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,495},{62,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,63}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>Jugo_NAttack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,570},{63,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,77}}</string>
                <key>sourceSize</key>
                <string>{63,77}</string>
            </dict>
            <key>Jugo_NAttack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,2},{86,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,77}}</string>
                <key>sourceSize</key>
                <string>{86,77}</string>
            </dict>
            <key>Jugo_NAttack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,2},{79,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,77}}</string>
                <key>sourceSize</key>
                <string>{79,77}</string>
            </dict>
            <key>Jugo_NAttack_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,776},{56,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,67}}</string>
                <key>sourceSize</key>
                <string>{56,67}</string>
            </dict>
            <key>Jugo_NAttack_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,460},{55,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,80}}</string>
                <key>sourceSize</key>
                <string>{55,80}</string>
            </dict>
            <key>Jugo_NAttack_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,694},{71,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,79}}</string>
                <key>sourceSize</key>
                <string>{71,79}</string>
            </dict>
            <key>Jugo_NAttack_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,900},{112,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,71}}</string>
                <key>sourceSize</key>
                <string>{112,71}</string>
            </dict>
            <key>Jugo_NAttack_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,697},{107,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,71}}</string>
                <key>sourceSize</key>
                <string>{107,71}</string>
            </dict>
            <key>Jugo_NAttack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,776},{56,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,67}}</string>
                <key>sourceSize</key>
                <string>{56,67}</string>
            </dict>
            <key>Jugo_NAttack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,495},{62,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,63}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>Jugo_NAttack_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,636},{60,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,74}}</string>
                <key>sourceSize</key>
                <string>{60,74}</string>
            </dict>
            <key>Jugo_NAttack_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,236},{148,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,71}}</string>
                <key>sourceSize</key>
                <string>{148,71}</string>
            </dict>
            <key>Jugo_NAttack_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,94},{87,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,68}}</string>
                <key>sourceSize</key>
                <string>{87,68}</string>
            </dict>
            <key>Jugo_NAttack_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,264},{77,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,71}}</string>
                <key>sourceSize</key>
                <string>{77,71}</string>
            </dict>
            <key>Jugo_Run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,899},{106,79}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,0},{106,79}}</string>
                <key>sourceSize</key>
                <string>{200,79}</string>
            </dict>
            <key>Jugo_Run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{120,79}}</string>
                <key>offset</key>
                <string>{-27,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{120,79}}</string>
                <key>sourceSize</key>
                <string>{200,79}</string>
            </dict>
            <key>Jugo_Run_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,698},{134,79}}</string>
                <key>offset</key>
                <string>{-33,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,79}}</string>
                <key>sourceSize</key>
                <string>{200,79}</string>
            </dict>
            <key>Jugo_Skill01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,834},{65,64}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,16},{65,64}}</string>
                <key>sourceSize</key>
                <string>{79,80}</string>
            </dict>
            <key>Jugo_Skill01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,378},{79,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,80}}</string>
                <key>sourceSize</key>
                <string>{79,80}</string>
            </dict>
            <key>Jugo_Skill01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,902},{114,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,69}}</string>
                <key>sourceSize</key>
                <string>{114,69}</string>
            </dict>
            <key>Jugo_Skill01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,900},{108,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,71}}</string>
                <key>sourceSize</key>
                <string>{108,71}</string>
            </dict>
            <key>Jugo_Skill02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,468},{81,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,75}}</string>
                <key>sourceSize</key>
                <string>{81,75}</string>
            </dict>
            <key>Jugo_Skill02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{106,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,63}}</string>
                <key>sourceSize</key>
                <string>{106,63}</string>
            </dict>
            <key>Jugo_Skill02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,834},{107,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,63}}</string>
                <key>sourceSize</key>
                <string>{107,63}</string>
            </dict>
            <key>Jugo_Skill02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,484},{106,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,63}}</string>
                <key>sourceSize</key>
                <string>{106,63}</string>
            </dict>
            <key>Jugo_Skill02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,636},{59,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,75}}</string>
                <key>sourceSize</key>
                <string>{59,75}</string>
            </dict>
            <key>Jugo_Skill02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,386},{97,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,58}}</string>
                <key>sourceSize</key>
                <string>{97,58}</string>
            </dict>
            <key>Jugo_Skill02_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,386},{96,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,57}}</string>
                <key>sourceSize</key>
                <string>{96,57}</string>
            </dict>
            <key>Jugo_Skill02_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,623},{77,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,69}}</string>
                <key>sourceSize</key>
                <string>{77,69}</string>
            </dict>
            <key>Jugo_Skill03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,775},{56,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,65}}</string>
                <key>sourceSize</key>
                <string>{56,65}</string>
            </dict>
            <key>Jugo_Skill03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,323},{58,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,81}}</string>
                <key>sourceSize</key>
                <string>{58,81}</string>
            </dict>
            <key>Jugo_Skill03_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,902},{86,116}}</string>
                <key>offset</key>
                <string>{-14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{86,116}}</string>
                <key>sourceSize</key>
                <string>{120,124}</string>
            </dict>
            <key>Jugo_Skill03_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,900},{90,110}}</string>
                <key>offset</key>
                <string>{-15,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{90,110}}</string>
                <key>sourceSize</key>
                <string>{120,124}</string>
            </dict>
            <key>Jugo_Skill04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,899},{55,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,69}}</string>
                <key>sourceSize</key>
                <string>{55,69}</string>
            </dict>
            <key>Jugo_Skill04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,695},{79,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,74}}</string>
                <key>sourceSize</key>
                <string>{79,74}</string>
            </dict>
            <key>Jugo_Skill04_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,900},{78,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,112}}</string>
                <key>sourceSize</key>
                <string>{78,112}</string>
            </dict>
            <key>Jugo_Skill04_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,110},{55,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,105}}</string>
                <key>sourceSize</key>
                <string>{55,105}</string>
            </dict>
            <key>Jugo_Skill04_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,419},{63,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,62}}</string>
                <key>sourceSize</key>
                <string>{63,62}</string>
            </dict>
            <key>Jugo_Skill04_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,343},{70,74}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,74}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>Jugo_Skill04_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,400},{59,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,88}}</string>
                <key>sourceSize</key>
                <string>{59,88}</string>
            </dict>
            <key>Jugo_Skill04_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,775},{55,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,74}}</string>
                <key>sourceSize</key>
                <string>{55,74}</string>
            </dict>
            <key>Jugo_Skill04_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,2},{48,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,76}}</string>
                <key>sourceSize</key>
                <string>{48,76}</string>
            </dict>
            <key>Jugo_Skill04_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,834},{64,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,59}}</string>
                <key>sourceSize</key>
                <string>{64,59}</string>
            </dict>
            <key>Jugo_Skill04_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,970},{67,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,51}}</string>
                <key>sourceSize</key>
                <string>{67,51}</string>
            </dict>
            <key>Jugo_Skill04_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,974},{48,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,68}}</string>
                <key>sourceSize</key>
                <string>{48,68}</string>
            </dict>
            <key>Jugo_Skill05_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,970},{54,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,48}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>Jugo_Skill05_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,834},{75,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,63}}</string>
                <key>sourceSize</key>
                <string>{75,63}</string>
            </dict>
            <key>Jugo_Skill05_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,110},{90,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,78}}</string>
                <key>sourceSize</key>
                <string>{90,78}</string>
            </dict>
            <key>Jugo_Skill05_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,400},{88,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,77}}</string>
                <key>sourceSize</key>
                <string>{88,77}</string>
            </dict>
            <key>Jugo_Skill05_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,386},{95,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,74}}</string>
                <key>sourceSize</key>
                <string>{95,74}</string>
            </dict>
            <key>Jugo_Skill05_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,217},{104,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,84}}</string>
                <key>sourceSize</key>
                <string>{104,84}</string>
            </dict>
            <key>Jugo_Skill05_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,698},{200,196}}</string>
                <key>offset</key>
                <string>{38,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,4},{200,196}}</string>
                <key>sourceSize</key>
                <string>{314,200}</string>
            </dict>
            <key>Jugo_Skill05_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{196,202}}</string>
                <key>offset</key>
                <string>{38,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,12},{196,202}}</string>
                <key>sourceSize</key>
                <string>{314,214}</string>
            </dict>
            <key>Jugo_Skill05_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{200,206}}</string>
                <key>offset</key>
                <string>{35,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,10},{200,206}}</string>
                <key>sourceSize</key>
                <string>{314,216}</string>
            </dict>
            <key>Jugo_Skill05_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,250}}</string>
                <key>offset</key>
                <string>{35,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,22},{200,250}}</string>
                <key>sourceSize</key>
                <string>{314,272}</string>
            </dict>
            <key>Jugo_Skill05_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{200,232}}</string>
                <key>offset</key>
                <string>{35,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,18},{200,232}}</string>
                <key>sourceSize</key>
                <string>{314,250}</string>
            </dict>
            <key>Jugo_Skill05_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{214,234}}</string>
                <key>offset</key>
                <string>{28,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,10},{214,234}}</string>
                <key>sourceSize</key>
                <string>{314,244}</string>
            </dict>
            <key>Jugo_Skill05_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,2},{52,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,74}}</string>
                <key>sourceSize</key>
                <string>{52,74}</string>
            </dict>
            <key>Jugo_Skill05_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,2},{66,90}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{66,90}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>Jugo_Skill05_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,2},{46,90}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{46,90}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>Jugo_Skill05_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,654},{36,90}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,0},{36,90}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>Jugo_Skill05_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,654},{34,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,0},{34,90}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>Jugo_Skill10_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,635},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>Jugo_Skill11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,483},{50,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,85}}</string>
                <key>sourceSize</key>
                <string>{50,85}</string>
            </dict>
            <key>Jugo_Skill11_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,202},{83,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,89}}</string>
                <key>sourceSize</key>
                <string>{83,89}</string>
            </dict>
            <key>Jugo_Skill11_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,236},{162,132}}</string>
                <key>offset</key>
                <string>{39,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,0},{162,132}}</string>
                <key>sourceSize</key>
                <string>{240,132}</string>
            </dict>
            <key>Jugo_Skill11_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,490},{162,132}}</string>
                <key>offset</key>
                <string>{39,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,0},{162,132}}</string>
                <key>sourceSize</key>
                <string>{240,132}</string>
            </dict>
            <key>Jugo_Skill11_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,490},{144,126}}</string>
                <key>offset</key>
                <string>{29,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,6},{144,126}}</string>
                <key>sourceSize</key>
                <string>{240,132}</string>
            </dict>
            <key>Jugo_Walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,90},{77,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,79}}</string>
                <key>sourceSize</key>
                <string>{77,79}</string>
            </dict>
            <key>Jugo_Walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,293},{72,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,83}}</string>
                <key>sourceSize</key>
                <string>{72,83}</string>
            </dict>
            <key>Jugo_Walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,542},{72,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,79}}</string>
                <key>sourceSize</key>
                <string>{72,79}</string>
            </dict>
            <key>Jugo_Walk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,183},{77,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,79}}</string>
                <key>sourceSize</key>
                <string>{77,79}</string>
            </dict>
            <key>Jugo_Walk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,383},{72,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,83}}</string>
                <key>sourceSize</key>
                <string>{72,83}</string>
            </dict>
            <key>Jugo_Walk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,694},{72,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,79}}</string>
                <key>sourceSize</key>
                <string>{72,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Jugo.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91bac8a63d5fbafa907cc4550fc2d319$</string>
            <key>textureFileName</key>
            <string>Jugo.pvr.ccz</string>
        </dict>
    </dict>
</plist>
