<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sabaku_Move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,378},{136,17}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{136,17}}</string>
                <key>sourceSize</key>
                <string>{140,17}</string>
            </dict>
            <key>Sabaku_Move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,478},{150,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,38}}</string>
                <key>sourceSize</key>
                <string>{150,38}</string>
            </dict>
            <key>Sabaku_Move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,565},{149,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,36}}</string>
                <key>sourceSize</key>
                <string>{149,36}</string>
            </dict>
            <key>Sabaku_Move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,478},{155,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,41}}</string>
                <key>sourceSize</key>
                <string>{155,41}</string>
            </dict>
            <key>Sabaku_Move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,459},{158,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,49}}</string>
                <key>sourceSize</key>
                <string>{158,49}</string>
            </dict>
            <key>Sabaku_Move_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,383},{159,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,74}}</string>
                <key>sourceSize</key>
                <string>{159,74}</string>
            </dict>
            <key>Sabaku_Move_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,378},{177,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,98}}</string>
                <key>sourceSize</key>
                <string>{177,98}</string>
            </dict>
            <key>Sabaku_Move_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{193,118}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{193,118}}</string>
                <key>sourceSize</key>
                <string>{195,118}</string>
            </dict>
            <key>Sabaku_Move_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{192,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,129}}</string>
                <key>sourceSize</key>
                <string>{192,129}</string>
            </dict>
            <key>Sabaku_Move_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,122},{192,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,92}}</string>
                <key>sourceSize</key>
                <string>{192,92}</string>
            </dict>
            <key>Sabaku_Move_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,216},{192,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,81}}</string>
                <key>sourceSize</key>
                <string>{192,81}</string>
            </dict>
            <key>Sabaku_Move_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{192,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,73}}</string>
                <key>sourceSize</key>
                <string>{192,73}</string>
            </dict>
            <key>Sabaku_Move_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{192,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,83}}</string>
                <key>sourceSize</key>
                <string>{192,83}</string>
            </dict>
            <key>Sabaku_Move_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,36}}</string>
                <key>sourceSize</key>
                <string>{194,36}</string>
            </dict>
            <key>SandBall_Move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,510},{98,30}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,57},{98,30}}</string>
                <key>sourceSize</key>
                <string>{98,88}</string>
            </dict>
            <key>SandBall_Move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,669},{92,56}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{92,56}}</string>
                <key>sourceSize</key>
                <string>{92,88}</string>
            </dict>
            <key>SandBall_Move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,727},{91,64}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{91,64}}</string>
                <key>sourceSize</key>
                <string>{91,88}</string>
            </dict>
            <key>SandBall_Move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{86,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{86,84}}</string>
                <key>sourceSize</key>
                <string>{86,88}</string>
            </dict>
            <key>SandBall_Move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,630},{86,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,88}}</string>
                <key>sourceSize</key>
                <string>{86,88}</string>
            </dict>
            <key>SandBall_Move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,738},{82,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{82,86}}</string>
                <key>sourceSize</key>
                <string>{84,88}</string>
            </dict>
            <key>SandBall_Move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,718},{78,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,88}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>SandBall_Move_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,793},{75,84}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{75,84}}</string>
                <key>sourceSize</key>
                <string>{77,88}</string>
            </dict>
            <key>SandBall_Move_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,595},{72,104}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{72,104}}</string>
                <key>sourceSize</key>
                <string>{74,110}</string>
            </dict>
            <key>SandBall_Move_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,521},{72,122}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{72,122}}</string>
                <key>sourceSize</key>
                <string>{74,126}</string>
            </dict>
            <key>SandBall_Move_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{72,122}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{72,122}}</string>
                <key>sourceSize</key>
                <string>{74,126}</string>
            </dict>
            <key>SandBall_Move_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,489},{74,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{74,129}}</string>
                <key>sourceSize</key>
                <string>{74,131}</string>
            </dict>
            <key>SandBall_Move_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{74,125}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{74,125}}</string>
                <key>sourceSize</key>
                <string>{74,131}</string>
            </dict>
            <key>SandBall_Move_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,2},{99,111}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,111}}</string>
                <key>sourceSize</key>
                <string>{99,131}</string>
            </dict>
            <key>SandBall_Move_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,352},{127,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{127,135}}</string>
                <key>sourceSize</key>
                <string>{127,145}</string>
            </dict>
            <key>SandHand_Move_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,270},{66,14}}</string>
                <key>offset</key>
                <string>{0,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,92},{66,14}}</string>
                <key>sourceSize</key>
                <string>{144,106}</string>
            </dict>
            <key>SandHand_Move_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,669},{70,66}}</string>
                <key>offset</key>
                <string>{-2,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,40},{70,66}}</string>
                <key>sourceSize</key>
                <string>{144,106}</string>
            </dict>
            <key>SandHand_Move_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,828},{70,76}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,30},{70,76}}</string>
                <key>sourceSize</key>
                <string>{144,106}</string>
            </dict>
            <key>SandHand_Move_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,270},{104,80}}</string>
                <key>offset</key>
                <string>{-19,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,26},{104,80}}</string>
                <key>sourceSize</key>
                <string>{144,106}</string>
            </dict>
            <key>SandHand_Move_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,660},{100,80}}</string>
                <key>offset</key>
                <string>{-17,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,26},{100,80}}</string>
                <key>sourceSize</key>
                <string>{144,106}</string>
            </dict>
            <key>SandHand_Move_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,666},{70,102}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,4},{70,102}}</string>
                <key>sourceSize</key>
                <string>{144,106}</string>
            </dict>
            <key>SandWave_Move_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,521},{103,27}}</string>
                <key>offset</key>
                <string>{0,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,96},{103,27}}</string>
                <key>sourceSize</key>
                <string>{225,123}</string>
            </dict>
            <key>SandWave_Move_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,603},{135,61}}</string>
                <key>offset</key>
                <string>{3,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,62},{135,61}}</string>
                <key>sourceSize</key>
                <string>{225,123}</string>
            </dict>
            <key>SandWave_Move_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,103},{165,109}}</string>
                <key>offset</key>
                <string>{14,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,14},{165,109}}</string>
                <key>sourceSize</key>
                <string>{225,123}</string>
            </dict>
            <key>SandWave_Move_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,299},{185,77}}</string>
                <key>offset</key>
                <string>{18,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,46},{185,77}}</string>
                <key>sourceSize</key>
                <string>{225,123}</string>
            </dict>
            <key>SandWave_Move_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,331},{183,33}}</string>
                <key>offset</key>
                <string>{19,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,90},{183,33}}</string>
                <key>sourceSize</key>
                <string>{225,123}</string>
            </dict>
            <key>SandWave_Move_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{179,15}}</string>
                <key>offset</key>
                <string>{23,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,108},{179,15}}</string>
                <key>sourceSize</key>
                <string>{225,123}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Gaara_Skill.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31c7526fc0c2d12b19a269d51d5f93bb$</string>
            <key>textureFileName</key>
            <string>Gaara_Skill.pvr.ccz</string>
        </dict>
    </dict>
</plist>
