<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HugeSRK_Move_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,2},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>HugeSRK_Move_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,424},{99,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,39}}</string>
                <key>sourceSize</key>
                <string>{99,39}</string>
            </dict>
            <key>HugeSRK_Move_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{99,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,39}}</string>
                <key>sourceSize</key>
                <string>{99,39}</string>
            </dict>
            <key>TodonPillar_Move_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{80,30}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,80},{80,30}}</string>
                <key>sourceSize</key>
                <string>{142,110}</string>
            </dict>
            <key>TodonPillar_Move_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,424},{100,50}}</string>
                <key>offset</key>
                <string>{-1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,60},{100,50}}</string>
                <key>sourceSize</key>
                <string>{142,110}</string>
            </dict>
            <key>TodonPillar_Move_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{124,72}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,38},{124,72}}</string>
                <key>sourceSize</key>
                <string>{142,110}</string>
            </dict>
            <key>TodonPillar_Move_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{138,102}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{138,102}}</string>
                <key>sourceSize</key>
                <string>{142,110}</string>
            </dict>
            <key>TodonPillar_Move_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,215},{122,104}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{122,104}}</string>
                <key>sourceSize</key>
                <string>{142,110}</string>
            </dict>
            <key>Tuji2_Move_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,93},{120,107}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{120,107}}</string>
                <key>sourceSize</key>
                <string>{120,109}</string>
            </dict>
            <key>Tuji2_Move_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{143,107}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{143,107}}</string>
                <key>sourceSize</key>
                <string>{143,109}</string>
            </dict>
            <key>Tuji2_Move_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{155,89}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{155,89}}</string>
                <key>sourceSize</key>
                <string>{155,109}</string>
            </dict>
            <key>Tuji2_Move_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,339},{118,83}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{118,83}}</string>
                <key>sourceSize</key>
                <string>{118,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Hiruzen_Skill.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27d8f65a5d4e3c23990753de91fe7302$</string>
            <key>textureFileName</key>
            <string>Hiruzen_Skill.pvr.ccz</string>
        </dict>
    </dict>
</plist>
