<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Dogs_Idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,182},{64,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,8}}</string>
                <key>sourceSize</key>
                <string>{64,8}</string>
            </dict>
            <key>Dogs_Nattack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,166},{80,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,28}}</string>
                <key>sourceSize</key>
                <string>{80,28}</string>
            </dict>
            <key>Dogs_Nattack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,105},{80,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,32}}</string>
                <key>sourceSize</key>
                <string>{80,32}</string>
            </dict>
            <key>Dogs_Nattack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,140},{78,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,39}}</string>
                <key>sourceSize</key>
                <string>{78,39}</string>
            </dict>
            <key>Dogs_Nattack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,99},{78,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,38}}</string>
                <key>sourceSize</key>
                <string>{78,38}</string>
            </dict>
            <key>Park_Idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,181},{24,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,8}}</string>
                <key>sourceSize</key>
                <string>{24,8}</string>
            </dict>
            <key>Park_Nattack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,238},{26,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,16}}</string>
                <key>sourceSize</key>
                <string>{26,16}</string>
            </dict>
            <key>Park_Nattack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,139},{23,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,26}}</string>
                <key>sourceSize</key>
                <string>{23,30}</string>
            </dict>
            <key>Park_Walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,88},{30,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,17}}</string>
                <key>sourceSize</key>
                <string>{30,17}</string>
            </dict>
            <key>Park_Walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,105},{32,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,20}}</string>
                <key>sourceSize</key>
                <string>{32,20}</string>
            </dict>
            <key>Park_Walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,139},{28,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,21}}</string>
                <key>sourceSize</key>
                <string>{28,21}</string>
            </dict>
            <key>Park_Walk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,213},{26,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,19}}</string>
                <key>sourceSize</key>
                <string>{26,19}</string>
            </dict>
            <key>Park_Walk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,184},{27,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,20}}</string>
                <key>sourceSize</key>
                <string>{27,20}</string>
            </dict>
            <key>Park_Walk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,162},{28,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,20}}</string>
                <key>sourceSize</key>
                <string>{28,20}</string>
            </dict>
            <key>Shenwei_Move_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,139},{97,92}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{97,92}}</string>
                <key>sourceSize</key>
                <string>{113,102}</string>
            </dict>
            <key>Shenwei_Move_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{95,88}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{95,88}}</string>
                <key>sourceSize</key>
                <string>{113,102}</string>
            </dict>
            <key>Shenwei_Move_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{91,84}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{91,84}}</string>
                <key>sourceSize</key>
                <string>{113,102}</string>
            </dict>
            <key>Shenwei_Move_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,88},{81,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{81,76}}</string>
                <key>sourceSize</key>
                <string>{113,102}</string>
            </dict>
            <key>Shenwei_Move_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{61,58}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{61,58}}</string>
                <key>sourceSize</key>
                <string>{113,102}</string>
            </dict>
            <key>Shenwei_Move_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{101,100}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{101,100}}</string>
                <key>sourceSize</key>
                <string>{113,102}</string>
            </dict>
            <key>ThunderWave_Move_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{136,54}}</string>
                <key>offset</key>
                <string>{48,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,32},{136,54}}</string>
                <key>sourceSize</key>
                <string>{388,86}</string>
            </dict>
            <key>ThunderWave_Move_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,196},{166,54}}</string>
                <key>offset</key>
                <string>{82,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,32},{166,54}}</string>
                <key>sourceSize</key>
                <string>{388,86}</string>
            </dict>
            <key>ThunderWave_Move_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,58}}</string>
                <key>offset</key>
                <string>{96,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,28},{192,58}}</string>
                <key>sourceSize</key>
                <string>{388,86}</string>
            </dict>
            <key>ThunderWave_Move_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{192,48}}</string>
                <key>offset</key>
                <string>{95,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,38},{192,48}}</string>
                <key>sourceSize</key>
                <string>{388,86}</string>
            </dict>
            <key>ThunderWave_Move_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{178,48}}</string>
                <key>offset</key>
                <string>{80,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,38},{178,48}}</string>
                <key>sourceSize</key>
                <string>{388,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Kakashi_Skill.pvr.ccz</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:188a6493f1168c850c76f4aa7e8e5a50$</string>
            <key>textureFileName</key>
            <string>Kakashi_Skill.pvr.ccz</string>
        </dict>
    </dict>
</plist>
