<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Kuroari_Move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,213},{59,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,95}}</string>
                <key>sourceSize</key>
                <string>{59,95}</string>
            </dict>
            <key>Kuroari_Move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,211},{110,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,79}}</string>
                <key>sourceSize</key>
                <string>{110,79}</string>
            </dict>
            <key>Kuroari_Move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{110,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,79}}</string>
                <key>sourceSize</key>
                <string>{110,79}</string>
            </dict>
            <key>Kuroari_Move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,130},{110,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,79}}</string>
                <key>sourceSize</key>
                <string>{110,79}</string>
            </dict>
            <key>Sanshouuo_Move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{114,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{114,40}}</string>
                <key>sourceSize</key>
                <string>{114,42}</string>
            </dict>
            <key>Sanshouuo_Move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,44},{113,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,42}}</string>
                <key>sourceSize</key>
                <string>{113,42}</string>
            </dict>
            <key>Sanshouuo_Move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{131,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,42}}</string>
                <key>sourceSize</key>
                <string>{131,42}</string>
            </dict>
            <key>Sanshouuo_Move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,88},{124,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{124,40}}</string>
                <key>sourceSize</key>
                <string>{124,42}</string>
            </dict>
            <key>Sanshouuo_Move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{128,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{128,40}}</string>
                <key>sourceSize</key>
                <string>{128,42}</string>
            </dict>
            <key>Sanshouuo_Move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{124,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,42}}</string>
                <key>sourceSize</key>
                <string>{124,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Kankuro_Skill.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6615c142ee6b589a1e0d630598e7d4af$</string>
            <key>textureFileName</key>
            <string>Kankuro_Skill.pvr.ccz</string>
        </dict>
    </dict>
</plist>
