<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Kusuri_Move_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{73,106}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,106}}</string>
                <key>sourceSize</key>
                <string>{75,142}</string>
            </dict>
            <key>Kusuri_Move_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{73,126}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{73,126}}</string>
                <key>sourceSize</key>
                <string>{75,142}</string>
            </dict>
            <key>Kusuri_Move_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,77},{69,124}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{69,124}}</string>
                <key>sourceSize</key>
                <string>{75,142}</string>
            </dict>
            <key>Kusuri_Move_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{61,142}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{61,142}}</string>
                <key>sourceSize</key>
                <string>{75,142}</string>
            </dict>
            <key>Kusuri_Move_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,2},{59,142}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{59,142}}</string>
                <key>sourceSize</key>
                <string>{75,142}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Karin_Skill.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49a56a5d387965656a6be97fffd923ae$</string>
            <key>textureFileName</key>
            <string>Karin_Skill.pvr.ccz</string>
        </dict>
    </dict>
</plist>
