<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>KageBom_Move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,77},{95,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,21}}</string>
                <key>sourceSize</key>
                <string>{95,21}</string>
            </dict>
            <key>KageBom_Move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,7},{123,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,68}}</string>
                <key>sourceSize</key>
                <string>{123,68}</string>
            </dict>
            <key>KageBom_Move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{117,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,64}}</string>
                <key>sourceSize</key>
                <string>{117,64}</string>
            </dict>
            <key>KageBom_Move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,154},{108,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,76}}</string>
                <key>sourceSize</key>
                <string>{108,76}</string>
            </dict>
            <key>KageBom_Move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{118,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,0},{118,79}}</string>
                <key>sourceSize</key>
                <string>{200,79}</string>
            </dict>
            <key>KageBom_Move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{126,86}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{126,86}}</string>
                <key>sourceSize</key>
                <string>{200,86}</string>
            </dict>
            <key>KageBom_Move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{110,83}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,0},{110,83}}</string>
                <key>sourceSize</key>
                <string>{200,83}</string>
            </dict>
            <key>KageFeng_Move_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,254},{33,33}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,82},{33,33}}</string>
                <key>sourceSize</key>
                <string>{81,115}</string>
            </dict>
            <key>KageFeng_Move_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,283},{41,85}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,30},{41,85}}</string>
                <key>sourceSize</key>
                <string>{81,115}</string>
            </dict>
            <key>KageFeng_Move_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,169},{63,97}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,18},{63,97}}</string>
                <key>sourceSize</key>
                <string>{81,115}</string>
            </dict>
            <key>KageFeng_Move_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{57,89}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,26},{57,89}}</string>
                <key>sourceSize</key>
                <string>{81,115}</string>
            </dict>
            <key>KageHand_Move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,232},{41,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{41,38}}</string>
                <key>sourceSize</key>
                <string>{59,38}</string>
            </dict>
            <key>KageHand_Move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,158},{59,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,63}}</string>
                <key>sourceSize</key>
                <string>{59,63}</string>
            </dict>
            <key>KageHand_Move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,224},{45,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{45,66}}</string>
                <key>sourceSize</key>
                <string>{59,66}</string>
            </dict>
            <key>KageHands_Move_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,7},{34,17}}</string>
                <key>offset</key>
                <string>{0,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,70},{34,17}}</string>
                <key>sourceSize</key>
                <string>{128,93}</string>
            </dict>
            <key>KageHands_Move_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,219},{62,41}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,48},{62,41}}</string>
                <key>sourceSize</key>
                <string>{128,93}</string>
            </dict>
            <key>KageHands_Move_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,158},{78,57}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,34},{78,57}}</string>
                <key>sourceSize</key>
                <string>{128,93}</string>
            </dict>
            <key>KageHands_Move_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,87},{110,69}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,24},{110,69}}</string>
                <key>sourceSize</key>
                <string>{128,93}</string>
            </dict>
            <key>KageHands_Move_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,81},{110,71}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,22},{110,71}}</string>
                <key>sourceSize</key>
                <string>{128,93}</string>
            </dict>
            <key>KageHands_Move_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{112,77}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{112,77}}</string>
                <key>sourceSize</key>
                <string>{128,93}</string>
            </dict>
            <key>KageHands_Move_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,90},{108,77}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{108,77}}</string>
                <key>sourceSize</key>
                <string>{128,93}</string>
            </dict>
            <key>Kage_Dead_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,217},{74,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,35}}</string>
                <key>sourceSize</key>
                <string>{74,35}</string>
            </dict>
            <key>Kage_Dead_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,232},{74,33}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{74,33}}</string>
                <key>sourceSize</key>
                <string>{74,35}</string>
            </dict>
            <key>Kage_Dead_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{34,7}}</string>
                <key>offset</key>
                <string>{-20,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,28},{34,7}}</string>
                <key>sourceSize</key>
                <string>{74,35}</string>
            </dict>
            <key>Kage_Move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,105},{25,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,3}}</string>
                <key>sourceSize</key>
                <string>{25,3}</string>
            </dict>
            <key>Kage_Move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,38},{65,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,3}}</string>
                <key>sourceSize</key>
                <string>{65,3}</string>
            </dict>
            <key>Kage_Move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,38},{110,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,3}}</string>
                <key>sourceSize</key>
                <string>{110,3}</string>
            </dict>
            <key>Kage_Move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,3}}</string>
                <key>sourceSize</key>
                <string>{142,3}</string>
            </dict>
            <key>QuanRen_Move_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,174},{24,21}}</string>
                <key>offset</key>
                <string>{-67,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,18},{24,21}}</string>
                <key>sourceSize</key>
                <string>{196,105}</string>
            </dict>
            <key>QuanRen_Move_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,174},{24,21}}</string>
                <key>offset</key>
                <string>{-47,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,44},{24,21}}</string>
                <key>sourceSize</key>
                <string>{196,105}</string>
            </dict>
            <key>QuanRen_Move_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,174},{24,21}}</string>
                <key>offset</key>
                <string>{-22,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,63},{24,21}}</string>
                <key>sourceSize</key>
                <string>{196,105}</string>
            </dict>
            <key>QuanRen_Move_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,43},{32,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,15}}</string>
                <key>sourceSize</key>
                <string>{32,15}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Shikamaru_Skill.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b178afe94f6e37fd5450863053fd5f61$</string>
            <key>textureFileName</key>
            <string>Shikamaru_Skill.pvr.ccz</string>
        </dict>
    </dict>
</plist>
