<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BugClone_Move_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,740},{71,81}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{71,81}}</string>
                <key>sourceSize</key>
                <string>{73,83}</string>
            </dict>
            <key>BugClone_Move_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,667},{71,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{71,83}}</string>
                <key>sourceSize</key>
                <string>{73,83}</string>
            </dict>
            <key>BugClone_Move_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,703},{73,81}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{73,81}}</string>
                <key>sourceSize</key>
                <string>{73,83}</string>
            </dict>
            <key>BugClone_Move_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,703},{69,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{69,83}}</string>
                <key>sourceSize</key>
                <string>{73,83}</string>
            </dict>
            <key>BugPillar_Move_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,640},{25,16}}</string>
                <key>offset</key>
                <string>{-47,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,112},{25,16}}</string>
                <key>sourceSize</key>
                <string>{139,128}</string>
            </dict>
            <key>BugPillar_Move_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,689},{75,50}}</string>
                <key>offset</key>
                <string>{-24,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,78},{75,50}}</string>
                <key>sourceSize</key>
                <string>{139,128}</string>
            </dict>
            <key>BugPillar_Move_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,526},{123,92}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,36},{123,92}}</string>
                <key>sourceSize</key>
                <string>{139,128}</string>
            </dict>
            <key>BugPillar_Move_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,408},{123,116}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{123,116}}</string>
                <key>sourceSize</key>
                <string>{139,128}</string>
            </dict>
            <key>BugPillar_Move_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,277},{129,124}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{129,124}}</string>
                <key>sourceSize</key>
                <string>{139,128}</string>
            </dict>
            <key>BugPillar_Move_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{83,126}}</string>
                <key>offset</key>
                <string>{21,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,2},{83,126}}</string>
                <key>sourceSize</key>
                <string>{139,128}</string>
            </dict>
            <key>BugPillar_Move_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,620},{45,116}}</string>
                <key>offset</key>
                <string>{47,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,3},{45,116}}</string>
                <key>sourceSize</key>
                <string>{139,128}</string>
            </dict>
            <key>BugTomado_Move_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,357},{93,188}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{93,188}}</string>
                <key>sourceSize</key>
                <string>{133,188}</string>
            </dict>
            <key>BugTomado_Move_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{91,188}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{91,188}}</string>
                <key>sourceSize</key>
                <string>{133,188}</string>
            </dict>
            <key>BugTomado_Move_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,355},{97,188}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{97,188}}</string>
                <key>sourceSize</key>
                <string>{133,188}</string>
            </dict>
            <key>BugTomado_Move_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,252},{101,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{101,188}}</string>
                <key>sourceSize</key>
                <string>{133,188}</string>
            </dict>
            <key>BugTomado_Move_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{113,188}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{113,188}}</string>
                <key>sourceSize</key>
                <string>{133,188}</string>
            </dict>
            <key>BugTomado_Move_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{127,188}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{127,188}}</string>
                <key>sourceSize</key>
                <string>{133,188}</string>
            </dict>
            <key>BugTomado_Move_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{133,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,188}}</string>
                <key>sourceSize</key>
                <string>{133,188}</string>
            </dict>
            <key>BugTomado_Move_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,87},{125,188}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{125,188}}</string>
                <key>sourceSize</key>
                <string>{133,188}</string>
            </dict>
            <key>BugTomado_Move_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,131},{119,188}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{119,188}}</string>
                <key>sourceSize</key>
                <string>{133,188}</string>
            </dict>
            <key>BugTomado_Move_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{103,188}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{103,188}}</string>
                <key>sourceSize</key>
                <string>{133,188}</string>
            </dict>
            <key>BugTomado_Move_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,454},{81,186}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{81,186}}</string>
                <key>sourceSize</key>
                <string>{133,188}</string>
            </dict>
            <key>BugTomado_Move_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,537},{73,182}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,3},{73,182}}</string>
                <key>sourceSize</key>
                <string>{133,188}</string>
            </dict>
            <key>BugTomado_Move_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,545},{59,182}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,3},{59,182}}</string>
                <key>sourceSize</key>
                <string>{133,188}</string>
            </dict>
            <key>BugTomado_Move_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{63,180}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,3},{63,180}}</string>
                <key>sourceSize</key>
                <string>{133,188}</string>
            </dict>
            <key>BugTomado_Move_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,671},{85,178}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,7},{85,178}}</string>
                <key>sourceSize</key>
                <string>{133,188}</string>
            </dict>
            <key>BugTomado_Move_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,612},{89,178}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,7},{89,178}}</string>
                <key>sourceSize</key>
                <string>{133,188}</string>
            </dict>
            <key>Bug_Move_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,620},{18,25}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{18,25}}</string>
                <key>sourceSize</key>
                <string>{22,65}</string>
            </dict>
            <key>Bug_Move_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,667},{20,24}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{20,24}}</string>
                <key>sourceSize</key>
                <string>{22,64}</string>
            </dict>
            <key>Bug_Move_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,658},{20,24}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{20,24}}</string>
                <key>sourceSize</key>
                <string>{22,64}</string>
            </dict>
            <key>Bug_Move_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,766},{20,22}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{20,22}}</string>
                <key>sourceSize</key>
                <string>{22,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Shino_Skill.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05c6d72a8e9011dcd506220300b50e68$</string>
            <key>textureFileName</key>
            <string>Shino_Skill.pvr.ccz</string>
        </dict>
    </dict>
</plist>
