<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Tobirama_AirHurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,528},{53,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,68}}</string>
                <key>sourceSize</key>
                <string>{53,68}</string>
            </dict>
            <key>Tobirama_AirHurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{28,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,86}}</string>
                <key>sourceSize</key>
                <string>{28,86}</string>
            </dict>
            <key>Tobirama_Float_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,598},{68,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,53}}</string>
                <key>sourceSize</key>
                <string>{68,53}</string>
            </dict>
            <key>Tobirama_Float_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,768},{77,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,61}}</string>
                <key>sourceSize</key>
                <string>{77,61}</string>
            </dict>
            <key>Tobirama_Float_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,141},{61,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,78}}</string>
                <key>sourceSize</key>
                <string>{61,78}</string>
            </dict>
            <key>Tobirama_Hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,282},{52,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,80}}</string>
                <key>sourceSize</key>
                <string>{52,80}</string>
            </dict>
            <key>Tobirama_Hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,244},{48,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,82}}</string>
                <key>sourceSize</key>
                <string>{48,82}</string>
            </dict>
            <key>Tobirama_Idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,535},{36,88}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{36,88}}</string>
                <key>sourceSize</key>
                <string>{38,88}</string>
            </dict>
            <key>Tobirama_Idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,517},{36,88}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{36,88}}</string>
                <key>sourceSize</key>
                <string>{38,88}</string>
            </dict>
            <key>Tobirama_Idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,477},{38,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,88}}</string>
                <key>sourceSize</key>
                <string>{38,88}</string>
            </dict>
            <key>Tobirama_Idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,517},{36,88}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{36,88}}</string>
                <key>sourceSize</key>
                <string>{38,88}</string>
            </dict>
            <key>Tobirama_KnockDown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,592},{86,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,28}}</string>
                <key>sourceSize</key>
                <string>{86,28}</string>
            </dict>
            <key>Tobirama_KnockDown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,289},{90,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,22}}</string>
                <key>sourceSize</key>
                <string>{90,22}</string>
            </dict>
            <key>Tobirama_KnockDown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,785},{73,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,41}}</string>
                <key>sourceSize</key>
                <string>{73,41}</string>
            </dict>
            <key>Tobirama_KnockDown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,557},{49,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,53}}</string>
                <key>sourceSize</key>
                <string>{49,53}</string>
            </dict>
            <key>Tobirama_KnockDown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,487},{52,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,68}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>Tobirama_NAttack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,555},{35,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,88}}</string>
                <key>sourceSize</key>
                <string>{35,88}</string>
            </dict>
            <key>Tobirama_NAttack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,620},{39,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,84}}</string>
                <key>sourceSize</key>
                <string>{39,84}</string>
            </dict>
            <key>Tobirama_NAttack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,761},{34,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,79}}</string>
                <key>sourceSize</key>
                <string>{34,79}</string>
            </dict>
            <key>Tobirama_NAttack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{71,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,84}}</string>
                <key>sourceSize</key>
                <string>{71,84}</string>
            </dict>
            <key>Tobirama_NAttack_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,666},{71,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{71,84}}</string>
                <key>sourceSize</key>
                <string>{71,86}</string>
            </dict>
            <key>Tobirama_NAttack_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,725},{34,80}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{34,80}}</string>
                <key>sourceSize</key>
                <string>{34,86}</string>
            </dict>
            <key>Tobirama_NAttack_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,411},{50,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,74}}</string>
                <key>sourceSize</key>
                <string>{50,74}</string>
            </dict>
            <key>Tobirama_NAttack_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,776},{44,81}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{44,81}}</string>
                <key>sourceSize</key>
                <string>{44,83}</string>
            </dict>
            <key>Tobirama_NAttack_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,697},{34,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,81}}</string>
                <key>sourceSize</key>
                <string>{34,81}</string>
            </dict>
            <key>Tobirama_NAttack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,661},{67,81}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{67,81}}</string>
                <key>sourceSize</key>
                <string>{69,83}</string>
            </dict>
            <key>Tobirama_NAttack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,511},{67,81}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{67,81}}</string>
                <key>sourceSize</key>
                <string>{67,83}</string>
            </dict>
            <key>Tobirama_NAttack_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,328},{48,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,81}}</string>
                <key>sourceSize</key>
                <string>{48,83}</string>
            </dict>
            <key>Tobirama_NAttack_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,411},{50,74}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{50,74}}</string>
                <key>sourceSize</key>
                <string>{50,88}</string>
            </dict>
            <key>Tobirama_NAttack_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,464},{45,82}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{45,82}}</string>
                <key>sourceSize</key>
                <string>{45,88}</string>
            </dict>
            <key>Tobirama_NAttack_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,409},{53,82}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{53,82}}</string>
                <key>sourceSize</key>
                <string>{53,88}</string>
            </dict>
            <key>Tobirama_NAttack_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,929},{63,70}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{63,70}}</string>
                <key>sourceSize</key>
                <string>{63,88}</string>
            </dict>
            <key>Tobirama_NAttack_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,745},{63,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,70}}</string>
                <key>sourceSize</key>
                <string>{63,70}</string>
            </dict>
            <key>Tobirama_NAttack_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,733},{33,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,80}}</string>
                <key>sourceSize</key>
                <string>{35,80}</string>
            </dict>
            <key>Tobirama_NAttack_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,497},{36,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,88}}</string>
                <key>sourceSize</key>
                <string>{36,88}</string>
            </dict>
            <key>Tobirama_Skill02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,397},{38,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,89}}</string>
                <key>sourceSize</key>
                <string>{38,89}</string>
            </dict>
            <key>Tobirama_Skill02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,457},{38,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,88}}</string>
                <key>sourceSize</key>
                <string>{38,88}</string>
            </dict>
            <key>Tobirama_Skill02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,377},{38,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,89}}</string>
                <key>sourceSize</key>
                <string>{38,89}</string>
            </dict>
            <key>Tobirama_Skill02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,437},{38,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,88}}</string>
                <key>sourceSize</key>
                <string>{38,88}</string>
            </dict>
            <key>Tobirama_Skill02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,739},{49,76}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{49,76}}</string>
                <key>sourceSize</key>
                <string>{49,88}</string>
            </dict>
            <key>Tobirama_Skill02_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,221},{109,66}}</string>
                <key>offset</key>
                <string>{37,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,0},{109,66}}</string>
                <key>sourceSize</key>
                <string>{331,66}</string>
            </dict>
            <key>Tobirama_Skill02_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,2},{183,66}}</string>
                <key>offset</key>
                <string>{73,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,0},{183,66}}</string>
                <key>sourceSize</key>
                <string>{331,66}</string>
            </dict>
            <key>Tobirama_Skill02_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{183,69}}</string>
                <key>offset</key>
                <string>{74,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,0},{183,69}}</string>
                <key>sourceSize</key>
                <string>{331,69}</string>
            </dict>
            <key>Tobirama_Skill02_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,70},{183,65}}</string>
                <key>offset</key>
                <string>{73,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,0},{183,65}}</string>
                <key>sourceSize</key>
                <string>{331,65}</string>
            </dict>
            <key>Tobirama_Skill02_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{177,66}}</string>
                <key>offset</key>
                <string>{71,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,0},{177,66}}</string>
                <key>sourceSize</key>
                <string>{331,66}</string>
            </dict>
            <key>Tobirama_Skill03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,417},{38,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,88}}</string>
                <key>sourceSize</key>
                <string>{38,88}</string>
            </dict>
            <key>Tobirama_Skill03_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,371},{38,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,88}}</string>
                <key>sourceSize</key>
                <string>{38,88}</string>
            </dict>
            <key>Tobirama_Skill03_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,437},{38,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,88}}</string>
                <key>sourceSize</key>
                <string>{38,88}</string>
            </dict>
            <key>Tobirama_Skill03_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,417},{38,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,88}}</string>
                <key>sourceSize</key>
                <string>{38,88}</string>
            </dict>
            <key>Tobirama_Skill04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,730},{44,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,81}}</string>
                <key>sourceSize</key>
                <string>{44,81}</string>
            </dict>
            <key>Tobirama_Skill04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,628},{41,75}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,75}}</string>
                <key>sourceSize</key>
                <string>{41,77}</string>
            </dict>
            <key>Tobirama_Skill04_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,388},{68,57}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{68,57}}</string>
                <key>sourceSize</key>
                <string>{70,83}</string>
            </dict>
            <key>Tobirama_Skill04_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,458},{68,56}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,56}}</string>
                <key>sourceSize</key>
                <string>{68,88}</string>
            </dict>
            <key>Tobirama_Skill04_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,548},{41,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{41,78}}</string>
                <key>sourceSize</key>
                <string>{41,88}</string>
            </dict>
            <key>Tobirama_Skill04_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,734},{50,69}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{50,69}}</string>
                <key>sourceSize</key>
                <string>{50,93}</string>
            </dict>
            <key>Tobirama_Skill04_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,626},{38,83}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{38,83}}</string>
                <key>sourceSize</key>
                <string>{38,93}</string>
            </dict>
            <key>Tobirama_Skill04_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,573},{55,87}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{55,87}}</string>
                <key>sourceSize</key>
                <string>{55,93}</string>
            </dict>
            <key>Tobirama_Skill04_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,484},{55,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,87}}</string>
                <key>sourceSize</key>
                <string>{55,87}</string>
            </dict>
            <key>Tobirama_Skill04_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,221},{59,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{59,80}}</string>
                <key>sourceSize</key>
                <string>{59,82}</string>
            </dict>
            <key>Tobirama_Skill04_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,705},{49,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{49,78}}</string>
                <key>sourceSize</key>
                <string>{49,82}</string>
            </dict>
            <key>Tobirama_Skill04_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,461},{43,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,85}}</string>
                <key>sourceSize</key>
                <string>{43,85}</string>
            </dict>
            <key>Tobirama_Skill04_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,630},{65,85}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{65,85}}</string>
                <key>sourceSize</key>
                <string>{65,89}</string>
            </dict>
            <key>Tobirama_Skill04_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,580},{44,83}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{44,83}}</string>
                <key>sourceSize</key>
                <string>{44,89}</string>
            </dict>
            <key>Tobirama_Skill04_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,381},{41,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,78}}</string>
                <key>sourceSize</key>
                <string>{41,78}</string>
            </dict>
            <key>Tobirama_Skill05_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,555},{35,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,88}}</string>
                <key>sourceSize</key>
                <string>{35,88}</string>
            </dict>
            <key>Tobirama_Skill05_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,244},{45,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,88}}</string>
                <key>sourceSize</key>
                <string>{45,88}</string>
            </dict>
            <key>Tobirama_Skill05_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,437},{38,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,88}}</string>
                <key>sourceSize</key>
                <string>{38,88}</string>
            </dict>
            <key>Tobirama_Skill05_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,790},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,24},{33,33}}</string>
                <key>sourceSize</key>
                <string>{59,81}</string>
            </dict>
            <key>Tobirama_Skill05_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,312},{59,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{59,74}}</string>
                <key>sourceSize</key>
                <string>{71,74}</string>
            </dict>
            <key>Tobirama_Skill05_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,831},{71,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,74}}</string>
                <key>sourceSize</key>
                <string>{71,74}</string>
            </dict>
            <key>Tobirama_Skill05_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{89,73}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,6},{89,73}}</string>
                <key>sourceSize</key>
                <string>{115,79}</string>
            </dict>
            <key>Tobirama_Skill05_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,289},{95,86}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{95,86}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>Tobirama_Skill05_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,541},{85,77}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,77}}</string>
                <key>sourceSize</key>
                <string>{115,77}</string>
            </dict>
            <key>Tobirama_Skill05_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,790},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,24},{33,33}}</string>
                <key>sourceSize</key>
                <string>{59,81}</string>
            </dict>
            <key>Tobirama_Skill05_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,137},{59,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{59,87}}</string>
                <key>sourceSize</key>
                <string>{71,87}</string>
            </dict>
            <key>Tobirama_Skill05_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,411},{71,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,87}}</string>
                <key>sourceSize</key>
                <string>{71,87}</string>
            </dict>
            <key>Tobirama_Skill05_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,797},{60,77}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{60,77}}</string>
                <key>sourceSize</key>
                <string>{120,77}</string>
            </dict>
            <key>Tobirama_Skill05_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{102,84}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{102,84}}</string>
                <key>sourceSize</key>
                <string>{120,92}</string>
            </dict>
            <key>Tobirama_Skill05_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{114,93}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{114,93}}</string>
                <key>sourceSize</key>
                <string>{120,93}</string>
            </dict>
            <key>Tobirama_Skill05_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,790},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,24},{33,33}}</string>
                <key>sourceSize</key>
                <string>{59,81}</string>
            </dict>
            <key>Tobirama_Skill05_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,929},{61,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{61,68}}</string>
                <key>sourceSize</key>
                <string>{71,68}</string>
            </dict>
            <key>Tobirama_Skill05_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,859},{71,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,68}}</string>
                <key>sourceSize</key>
                <string>{71,68}</string>
            </dict>
            <key>Tobirama_Skill05_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,172},{70,127}}</string>
                <key>offset</key>
                <string>{13,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,8},{70,127}}</string>
                <key>sourceSize</key>
                <string>{126,135}</string>
            </dict>
            <key>Tobirama_Skill05_19_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,94},{76,133}}</string>
                <key>offset</key>
                <string>{17,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,6},{76,133}}</string>
                <key>sourceSize</key>
                <string>{126,139}</string>
            </dict>
            <key>Tobirama_Skill05_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{90,137}}</string>
                <key>offset</key>
                <string>{18,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,2},{90,137}}</string>
                <key>sourceSize</key>
                <string>{126,139}</string>
            </dict>
            <key>Tobirama_Skill05_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,137},{82,128}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,0},{82,128}}</string>
                <key>sourceSize</key>
                <string>{126,128}</string>
            </dict>
            <key>Tobirama_Skill05_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,381},{41,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,78}}</string>
                <key>sourceSize</key>
                <string>{41,78}</string>
            </dict>
            <key>Tobirama_Skill05_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,790},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,24},{33,33}}</string>
                <key>sourceSize</key>
                <string>{59,81}</string>
            </dict>
            <key>Tobirama_Skill05_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,226},{59,84}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{59,84}}</string>
                <key>sourceSize</key>
                <string>{71,90}</string>
            </dict>
            <key>Tobirama_Skill05_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,336},{71,82}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{71,82}}</string>
                <key>sourceSize</key>
                <string>{71,90}</string>
            </dict>
            <key>Tobirama_Skill05_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,331},{38,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,88}}</string>
                <key>sourceSize</key>
                <string>{38,88}</string>
            </dict>
            <key>Tobirama_Skill05_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,371},{38,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,88}}</string>
                <key>sourceSize</key>
                <string>{38,88}</string>
            </dict>
            <key>Tobirama_Skill05_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,457},{38,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,88}}</string>
                <key>sourceSize</key>
                <string>{38,88}</string>
            </dict>
            <key>Tobirama_Skill05_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,417},{38,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,88}}</string>
                <key>sourceSize</key>
                <string>{38,88}</string>
            </dict>
            <key>Tobirama_Skill05_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,291},{38,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,88}}</string>
                <key>sourceSize</key>
                <string>{38,88}</string>
            </dict>
            <key>Tobirama_Skill05_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,331},{38,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,88}}</string>
                <key>sourceSize</key>
                <string>{38,88}</string>
            </dict>
            <key>Tobirama_Walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,790},{66,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,63}}</string>
                <key>sourceSize</key>
                <string>{66,63}</string>
            </dict>
            <key>Tobirama_Walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,675},{62,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,68}}</string>
                <key>sourceSize</key>
                <string>{62,68}</string>
            </dict>
            <key>Tobirama_Walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,608},{52,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,65}}</string>
                <key>sourceSize</key>
                <string>{52,65}</string>
            </dict>
            <key>Tobirama_Walk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,904},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{62,64}</string>
            </dict>
            <key>Tobirama_Walk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,817},{64,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,67}}</string>
                <key>sourceSize</key>
                <string>{64,67}</string>
            </dict>
            <key>Tobirama_Walk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,668},{52,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,64}}</string>
                <key>sourceSize</key>
                <string>{52,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Tobirama.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8208b17c5ff4f0fa120a21fa6263bfed$</string>
            <key>textureFileName</key>
            <string>Tobirama.pvr.ccz</string>
        </dict>
    </dict>
</plist>
