<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SageJiraiya_AirHurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,897},{63,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,89}}</string>
                <key>sourceSize</key>
                <string>{63,89}</string>
            </dict>
            <key>SageJiraiya_Float_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,211},{77,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,89}}</string>
                <key>sourceSize</key>
                <string>{77,89}</string>
            </dict>
            <key>SageJiraiya_Float_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,580},{89,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,63}}</string>
                <key>sourceSize</key>
                <string>{89,63}</string>
            </dict>
            <key>SageJiraiya_Float_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,489},{53,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,89}}</string>
                <key>sourceSize</key>
                <string>{53,89}</string>
            </dict>
            <key>SageJiraiya_Hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,221},{71,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,69}}</string>
                <key>sourceSize</key>
                <string>{71,69}</string>
            </dict>
            <key>SageJiraiya_Hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,221},{70,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{70,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>SageJiraiya_Idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,371},{64,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,65}}</string>
                <key>sourceSize</key>
                <string>{64,65}</string>
            </dict>
            <key>SageJiraiya_Idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,211},{63,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,64}}</string>
                <key>sourceSize</key>
                <string>{63,64}</string>
            </dict>
            <key>SageJiraiya_Idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,77},{62,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,63}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>SageJiraiya_Idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,142},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>SageJiraiya_KnockDown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,580},{89,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,63}}</string>
                <key>sourceSize</key>
                <string>{89,63}</string>
            </dict>
            <key>SageJiraiya_KnockDown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,812},{97,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,39}}</string>
                <key>sourceSize</key>
                <string>{97,39}</string>
            </dict>
            <key>SageJiraiya_NAttack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,540},{50,77}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{50,77}}</string>
                <key>sourceSize</key>
                <string>{52,77}</string>
            </dict>
            <key>SageJiraiya_NAttack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,135},{101,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{101,74}}</string>
                <key>sourceSize</key>
                <string>{101,78}</string>
            </dict>
            <key>SageJiraiya_NAttack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,495},{93,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,73}}</string>
                <key>sourceSize</key>
                <string>{93,73}</string>
            </dict>
            <key>SageJiraiya_NAttack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1063,211},{59,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,74}}</string>
                <key>sourceSize</key>
                <string>{59,74}</string>
            </dict>
            <key>SageJiraiya_NAttack_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,671},{88,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,72}}</string>
                <key>sourceSize</key>
                <string>{88,72}</string>
            </dict>
            <key>SageJiraiya_NAttack_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,917},{100,71}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,12},{100,71}}</string>
                <key>sourceSize</key>
                <string>{102,83}</string>
            </dict>
            <key>SageJiraiya_NAttack_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,667},{83,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,72}}</string>
                <key>sourceSize</key>
                <string>{83,72}</string>
            </dict>
            <key>SageJiraiya_NAttack_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,801},{50,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,76}}</string>
                <key>sourceSize</key>
                <string>{50,76}</string>
            </dict>
            <key>SageJiraiya_NAttack_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,540},{52,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,82}}</string>
                <key>sourceSize</key>
                <string>{52,82}</string>
            </dict>
            <key>SageJiraiya_NAttack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,712},{85,75}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{85,75}}</string>
                <key>sourceSize</key>
                <string>{85,83}</string>
            </dict>
            <key>SageJiraiya_NAttack_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,580},{85,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,63}}</string>
                <key>sourceSize</key>
                <string>{87,63}</string>
            </dict>
            <key>SageJiraiya_Skill01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,211},{53,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,77}}</string>
                <key>sourceSize</key>
                <string>{53,77}</string>
            </dict>
            <key>SageJiraiya_Skill01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,130},{70,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,79}}</string>
                <key>sourceSize</key>
                <string>{70,79}</string>
            </dict>
            <key>SageJiraiya_Skill01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,221},{69,79}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{69,79}}</string>
                <key>sourceSize</key>
                <string>{69,85}</string>
            </dict>
            <key>SageJiraiya_Skill01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,489},{97,63}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{97,63}}</string>
                <key>sourceSize</key>
                <string>{97,79}</string>
            </dict>
            <key>SageJiraiya_Skill01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,789},{126,63}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{126,63}}</string>
                <key>sourceSize</key>
                <string>{126,79}</string>
            </dict>
            <key>SageJiraiya_Skill01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,789},{121,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,64}}</string>
                <key>sourceSize</key>
                <string>{121,64}</string>
            </dict>
            <key>SageJiraiya_Skill01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,221},{98,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,67}}</string>
                <key>sourceSize</key>
                <string>{98,67}</string>
            </dict>
            <key>SageJiraiya_Skill02_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1111,836},{71,81}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{71,81}}</string>
                <key>sourceSize</key>
                <string>{79,81}</string>
            </dict>
            <key>SageJiraiya_Skill02_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,211},{63,77}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{63,77}}</string>
                <key>sourceSize</key>
                <string>{79,81}</string>
            </dict>
            <key>SageJiraiya_Skill02_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,287},{65,61}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,20},{65,61}}</string>
                <key>sourceSize</key>
                <string>{79,81}</string>
            </dict>
            <key>SageJiraiya_Skill03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,752},{82,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,72}}</string>
                <key>sourceSize</key>
                <string>{82,72}</string>
            </dict>
            <key>SageJiraiya_Skill03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,221},{69,66}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{69,66}}</string>
                <key>sourceSize</key>
                <string>{69,72}</string>
            </dict>
            <key>SageJiraiya_Skill03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,789},{106,66}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,0},{106,66}}</string>
                <key>sourceSize</key>
                <string>{184,66}</string>
            </dict>
            <key>SageJiraiya_Skill03_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,2},{126,66}}</string>
                <key>offset</key>
                <string>{29,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,0},{126,66}}</string>
                <key>sourceSize</key>
                <string>{184,66}</string>
            </dict>
            <key>SageJiraiya_Skill03_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{118,66}}</string>
                <key>offset</key>
                <string>{24,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,0},{118,66}}</string>
                <key>sourceSize</key>
                <string>{184,66}</string>
            </dict>
            <key>SageJiraiya_Skill03_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,2},{126,66}}</string>
                <key>offset</key>
                <string>{28,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,0},{126,66}}</string>
                <key>sourceSize</key>
                <string>{184,66}</string>
            </dict>
            <key>SageJiraiya_Skill03_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,931},{72,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,82}}</string>
                <key>sourceSize</key>
                <string>{72,82}</string>
            </dict>
            <key>SageJiraiya_Skill03_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,211},{59,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,76}}</string>
                <key>sourceSize</key>
                <string>{59,76}</string>
            </dict>
            <key>SageJiraiya_Skill03_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,912},{109,72}}</string>
                <key>offset</key>
                <string>{14,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,12},{109,72}}</string>
                <key>sourceSize</key>
                <string>{257,84}</string>
            </dict>
            <key>SageJiraiya_Skill03_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,2},{131,72}}</string>
                <key>offset</key>
                <string>{24,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,12},{131,72}}</string>
                <key>sourceSize</key>
                <string>{257,84}</string>
            </dict>
            <key>SageJiraiya_Skill03_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,854},{151,72}}</string>
                <key>offset</key>
                <string>{35,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,12},{151,72}}</string>
                <key>sourceSize</key>
                <string>{257,84}</string>
            </dict>
            <key>SageJiraiya_Skill03_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,853},{169,72}}</string>
                <key>offset</key>
                <string>{44,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,12},{169,72}}</string>
                <key>sourceSize</key>
                <string>{257,84}</string>
            </dict>
            <key>SageJiraiya_Skill03_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,853},{169,76}}</string>
                <key>offset</key>
                <string>{43,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,8},{169,76}}</string>
                <key>sourceSize</key>
                <string>{257,84}</string>
            </dict>
            <key>SageJiraiya_Skill03_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,854},{161,78}}</string>
                <key>offset</key>
                <string>{40,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,6},{161,78}}</string>
                <key>sourceSize</key>
                <string>{257,84}</string>
            </dict>
            <key>SageJiraiya_Skill04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,2},{60,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,59}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>SageJiraiya_Skill04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,761},{73,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,84}}</string>
                <key>sourceSize</key>
                <string>{73,84}</string>
            </dict>
            <key>SageJiraiya_Skill04_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,495},{53,90}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,90}}</string>
                <key>sourceSize</key>
                <string>{73,90}</string>
            </dict>
            <key>SageJiraiya_Skill04_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,495},{53,90}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,90}}</string>
                <key>sourceSize</key>
                <string>{73,90}</string>
            </dict>
            <key>SageJiraiya_Skill04_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,211},{63,77}}</string>
                <key>offset</key>
                <string>{-38,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,17},{63,77}}</string>
                <key>sourceSize</key>
                <string>{351,199}</string>
            </dict>
            <key>SageJiraiya_Skill04_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,292},{217,191}}</string>
                <key>offset</key>
                <string>{39,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,0},{217,191}}</string>
                <key>sourceSize</key>
                <string>{351,199}</string>
            </dict>
            <key>SageJiraiya_Skill04_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,590},{197,189}}</string>
                <key>offset</key>
                <string>{37,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,0},{197,189}}</string>
                <key>sourceSize</key>
                <string>{351,199}</string>
            </dict>
            <key>SageJiraiya_Skill04_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,592},{207,191}}</string>
                <key>offset</key>
                <string>{49,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,0},{207,191}}</string>
                <key>sourceSize</key>
                <string>{351,199}</string>
            </dict>
            <key>SageJiraiya_Skill04_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{217,193}}</string>
                <key>offset</key>
                <string>{50,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,6},{217,193}}</string>
                <key>sourceSize</key>
                <string>{351,199}</string>
            </dict>
            <key>SageJiraiya_Skill04_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,801},{197,199}}</string>
                <key>offset</key>
                <string>{48,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,0},{197,199}}</string>
                <key>sourceSize</key>
                <string>{351,199}</string>
            </dict>
            <key>SageJiraiya_Skill04_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{207,195}}</string>
                <key>offset</key>
                <string>{60,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,4},{207,195}}</string>
                <key>sourceSize</key>
                <string>{351,199}</string>
            </dict>
            <key>SageJiraiya_Skill04_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,2},{217,181}}</string>
                <key>offset</key>
                <string>{62,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,18},{217,181}}</string>
                <key>sourceSize</key>
                <string>{351,199}</string>
            </dict>
            <key>SageJiraiya_Skill04_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,290},{197,187}}</string>
                <key>offset</key>
                <string>{60,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,12},{197,187}}</string>
                <key>sourceSize</key>
                <string>{351,199}</string>
            </dict>
            <key>SageJiraiya_Skill04_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,290},{203,179}}</string>
                <key>offset</key>
                <string>{74,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,20},{203,179}}</string>
                <key>sourceSize</key>
                <string>{351,199}</string>
            </dict>
            <key>SageJiraiya_Skill04_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,489},{85,89}}</string>
                <key>offset</key>
                <string>{7,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,68},{85,89}}</string>
                <key>sourceSize</key>
                <string>{351,199}</string>
            </dict>
            <key>SageJiraiya_Skill04_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,2},{60,59}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{60,59}}</string>
                <key>sourceSize</key>
                <string>{64,71}</string>
            </dict>
            <key>SageJiraiya_Skill05_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,931},{73,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,82}}</string>
                <key>sourceSize</key>
                <string>{73,82}</string>
            </dict>
            <key>SageJiraiya_Skill05_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,847},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>SageJiraiya_Skill05_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,588},{122,80}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,4},{122,80}}</string>
                <key>sourceSize</key>
                <string>{500,84}</string>
            </dict>
            <key>SageJiraiya_Skill05_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,511},{186,79}}</string>
                <key>offset</key>
                <string>{43,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,4},{186,79}}</string>
                <key>sourceSize</key>
                <string>{500,83}</string>
            </dict>
            <key>SageJiraiya_Skill05_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{294,87}}</string>
                <key>offset</key>
                <string>{97,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,4},{294,87}}</string>
                <key>sourceSize</key>
                <string>{500,91}</string>
            </dict>
            <key>SageJiraiya_Skill05_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{300,144}}</string>
                <key>offset</key>
                <string>{100,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,4},{300,144}}</string>
                <key>sourceSize</key>
                <string>{500,148}</string>
            </dict>
            <key>SageJiraiya_Skill05_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,160}}</string>
                <key>offset</key>
                <string>{99,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,4},{300,160}}</string>
                <key>sourceSize</key>
                <string>{500,164}</string>
            </dict>
            <key>SageJiraiya_Skill05_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{288,166}}</string>
                <key>offset</key>
                <string>{94,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,4},{288,166}}</string>
                <key>sourceSize</key>
                <string>{500,170}</string>
            </dict>
            <key>SageJiraiya_Skill05_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,304},{288,172}}</string>
                <key>offset</key>
                <string>{93,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,2},{288,172}}</string>
                <key>sourceSize</key>
                <string>{500,174}</string>
            </dict>
            <key>SageJiraiya_Skill05_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,606},{288,174}}</string>
                <key>offset</key>
                <string>{93,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,2},{288,174}}</string>
                <key>sourceSize</key>
                <string>{500,176}</string>
            </dict>
            <key>SageJiraiya_Skill05_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,594},{258,140}}</string>
                <key>offset</key>
                <string>{79,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,4},{258,140}}</string>
                <key>sourceSize</key>
                <string>{500,144}</string>
            </dict>
            <key>SageJiraiya_Skill05_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,292},{246,132}}</string>
                <key>offset</key>
                <string>{72,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,4},{246,132}}</string>
                <key>sourceSize</key>
                <string>{500,136}</string>
            </dict>
            <key>SageJiraiya_Skill05_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,902},{238,112}}</string>
                <key>offset</key>
                <string>{68,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,4},{238,112}}</string>
                <key>sourceSize</key>
                <string>{500,116}</string>
            </dict>
            <key>SageJiraiya_Skill05_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,592},{218,79}}</string>
                <key>offset</key>
                <string>{59,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,4},{218,79}}</string>
                <key>sourceSize</key>
                <string>{500,83}</string>
            </dict>
            <key>SageJiraiya_Walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,919},{81,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,67}}</string>
                <key>sourceSize</key>
                <string>{81,67}</string>
            </dict>
            <key>SageJiraiya_Walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,130},{79,63}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{79,63}}</string>
                <key>sourceSize</key>
                <string>{81,67}</string>
            </dict>
            <key>SageJiraiya_Walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,452},{73,61}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{73,61}}</string>
                <key>sourceSize</key>
                <string>{73,67}</string>
            </dict>
            <key>SageJiraiya_Walk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,289},{80,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{80,67}}</string>
                <key>sourceSize</key>
                <string>{82,67}</string>
            </dict>
            <key>SageJiraiya_Walk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,371},{79,61}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{79,61}}</string>
                <key>sourceSize</key>
                <string>{79,67}</string>
            </dict>
            <key>SageJiraiya_Walk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1117,2},{73,61}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{73,61}}</string>
                <key>sourceSize</key>
                <string>{73,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SageJiraiya.pvr.ccz</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3e67d36d609142603da6d6c7f0b845d$</string>
            <key>textureFileName</key>
            <string>SageJiraiya.pvr.ccz</string>
        </dict>
    </dict>
</plist>
