<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RockLee_AirHurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,77},{40,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,73}}</string>
                <key>sourceSize</key>
                <string>{40,73}</string>
            </dict>
            <key>RockLee_Hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,262},{55,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,59}}</string>
                <key>sourceSize</key>
                <string>{55,59}</string>
            </dict>
            <key>RockLee_Hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,262},{55,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,59}}</string>
                <key>sourceSize</key>
                <string>{55,59}</string>
            </dict>
            <key>RockLee_Idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,77},{41,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{41,72}}</string>
                <key>sourceSize</key>
                <string>{45,72}</string>
            </dict>
            <key>RockLee_Idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,163},{41,70}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{41,70}}</string>
                <key>sourceSize</key>
                <string>{45,72}</string>
            </dict>
            <key>RockLee_Idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,120},{41,70}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{41,70}}</string>
                <key>sourceSize</key>
                <string>{45,72}</string>
            </dict>
            <key>RockLee_Idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,206},{41,68}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{41,68}}</string>
                <key>sourceSize</key>
                <string>{45,72}</string>
            </dict>
            <key>RockLee_KnockDown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,209},{55,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,42}}</string>
                <key>sourceSize</key>
                <string>{55,42}</string>
            </dict>
            <key>RockLee_KnockDown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,139},{68,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,39}}</string>
                <key>sourceSize</key>
                <string>{68,39}</string>
            </dict>
            <key>RockLee_KnockDown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,122},{71,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,25}}</string>
                <key>sourceSize</key>
                <string>{71,25}</string>
            </dict>
            <key>RockLee_KnockDown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,304},{35,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,50}}</string>
                <key>sourceSize</key>
                <string>{35,50}</string>
            </dict>
            <key>RockLee_NAttack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,194},{51,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,66}}</string>
                <key>sourceSize</key>
                <string>{51,66}</string>
            </dict>
            <key>RockLee_NAttack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,218},{58,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,66}}</string>
                <key>sourceSize</key>
                <string>{58,66}</string>
            </dict>
            <key>RockLee_NAttack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,213},{54,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,66}}</string>
                <key>sourceSize</key>
                <string>{54,66}</string>
            </dict>
            <key>RockLee_NAttack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,77},{34,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,60}}</string>
                <key>sourceSize</key>
                <string>{34,60}</string>
            </dict>
            <key>RockLee_NAttack_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,249},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>RockLee_NAttack_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,58},{73,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,62}}</string>
                <key>sourceSize</key>
                <string>{73,62}</string>
            </dict>
            <key>RockLee_NAttack_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,240},{36,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,65}}</string>
                <key>sourceSize</key>
                <string>{36,65}</string>
            </dict>
            <key>RockLee_NAttack_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,74},{28,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,52}}</string>
                <key>sourceSize</key>
                <string>{28,52}</string>
            </dict>
            <key>RockLee_NAttack_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,149},{62,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,69}}</string>
                <key>sourceSize</key>
                <string>{62,69}</string>
            </dict>
            <key>RockLee_NAttack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,144},{62,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,68}}</string>
                <key>sourceSize</key>
                <string>{62,68}</string>
            </dict>
            <key>RockLee_Skill01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,144},{53,48}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,25},{53,48}}</string>
                <key>sourceSize</key>
                <string>{119,84}</string>
            </dict>
            <key>RockLee_Skill01_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,167},{49,68}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,9},{49,68}}</string>
                <key>sourceSize</key>
                <string>{119,84}</string>
            </dict>
            <key>RockLee_Skill01_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{115,76}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{115,76}}</string>
                <key>sourceSize</key>
                <string>{119,84}</string>
            </dict>
            <key>RockLee_Skill01_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,76},{99,66}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{99,66}}</string>
                <key>sourceSize</key>
                <string>{119,84}</string>
            </dict>
            <key>RockLee_Skill01_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{91,74}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{91,74}}</string>
                <key>sourceSize</key>
                <string>{119,84}</string>
            </dict>
            <key>RockLee_Skill03_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,2},{78,73}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,18},{78,73}}</string>
                <key>sourceSize</key>
                <string>{102,91}</string>
            </dict>
            <key>RockLee_Skill03_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,2},{100,73}}</string>
                <key>offset</key>
                <string>{1,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,70},{100,73}}</string>
                <key>sourceSize</key>
                <string>{102,143}</string>
            </dict>
            <key>RockLee_Skill03_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,2},{102,72}}</string>
                <key>offset</key>
                <string>{0,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,78},{102,72}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>RockLee_Skill04_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,128},{32,40}}</string>
                <key>offset</key>
                <string>{3,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,140},{32,40}}</string>
                <key>sourceSize</key>
                <string>{222,180}</string>
            </dict>
            <key>RockLee_Skill04_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,2},{54,76}}</string>
                <key>offset</key>
                <string>{4,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,104},{54,76}}</string>
                <key>sourceSize</key>
                <string>{222,180}</string>
            </dict>
            <key>RockLee_Skill04_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,170},{26,68}}</string>
                <key>offset</key>
                <string>{5,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,79},{26,68}}</string>
                <key>sourceSize</key>
                <string>{222,180}</string>
            </dict>
            <key>RockLee_Skill04_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,2},{26,70}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,49},{26,70}}</string>
                <key>sourceSize</key>
                <string>{222,180}</string>
            </dict>
            <key>RockLee_Skill04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,119},{46,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,70}}</string>
                <key>sourceSize</key>
                <string>{46,70}</string>
            </dict>
            <key>RockLee_Skill04_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,266},{36,50}}</string>
                <key>offset</key>
                <string>{0,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,130},{36,50}}</string>
                <key>sourceSize</key>
                <string>{222,180}</string>
            </dict>
            <key>RockLee_Walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{63,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,57}}</string>
                <key>sourceSize</key>
                <string>{63,57}</string>
            </dict>
            <key>RockLee_Walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,269},{63,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,60}}</string>
                <key>sourceSize</key>
                <string>{63,60}</string>
            </dict>
            <key>RockLee_Walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,277},{55,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,56}}</string>
                <key>sourceSize</key>
                <string>{55,56}</string>
            </dict>
            <key>RockLee_Walk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,208},{62,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,57}}</string>
                <key>sourceSize</key>
                <string>{62,57}</string>
            </dict>
            <key>RockLee_Walk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,215},{61,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,60}}</string>
                <key>sourceSize</key>
                <string>{61,60}</string>
            </dict>
            <key>RockLee_Walk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,267},{55,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,57}}</string>
                <key>sourceSize</key>
                <string>{55,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>RockLee.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a41bc534385d9f4334d9e92986b8dd6c$</string>
            <key>textureFileName</key>
            <string>RockLee.pvr.ccz</string>
        </dict>
    </dict>
</plist>
